AG4-SPE-V2/AG4-SPE-V2-workflow.json
{
  "name": "AG4_SpÃƒÆ’Ã‚Â©-V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 9,12,15 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1952,
        -192
      ],
      "id": "f8a0f0d6-faf7-4c9f-bca1-d7212bd2bcd1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1952,
        -16
      ],
      "id": "669d6295-6968-4436-b5c7-3f5f6d1b5dce",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1078848687,
          "cachedResultName": "Universe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1078848687"
        },
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Enabled",
              "lookupValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1728,
        -96
      ],
      "id": "0bd3f148-cff3-4dbe-b9b2-9ea242909b1a",
      "name": "S00A - Load Universe (Google Sheets)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import json\nimport duckdb\nimport gc\nimport time\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\nBATCH_SIZE = 20\nSTATE_KEY = \"ag4_spe_v2_last_symbol_index\"\n\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    return str(v).strip()\n\n\ndef truthy(v):\n    if isinstance(v, bool):\n        return v\n    s = to_text(v).lower()\n    if s in (\"\", \"1\", \"true\", \"yes\", \"y\", \"oui\", \"ok\", \"enabled\"):\n        return True\n    if s in (\"0\", \"false\", \"no\", \"n\", \"non\", \"disabled\"):\n        return False\n    return True\n\n\ndef safe_json_parse(raw):\n    if raw is None:\n        return {}\n    if isinstance(raw, dict):\n        return raw\n    txt = to_text(raw)\n    if not txt:\n        return {}\n    try:\n        obj = json.loads(txt)\n        return obj if isinstance(obj, dict) else {}\n    except Exception:\n        return {}\n\n\ndef normalize_ref(v):\n    return to_text(v).upper()\n\n\nrows = [dict(it.get(\"json\", {}) or {}) for it in (_items or [])]\n\ncandidates = []\nfor r in rows:\n    enabled = truthy(r.get(\"enabled\", r.get(\"Enabled\", True)))\n    if not enabled:\n        continue\n\n    symbol = to_text(r.get(\"symbol\", r.get(\"Symbol\", \"\"))).upper()\n    if not symbol:\n        continue\n\n    notes = safe_json_parse(r.get(\"notesJson\", r.get(\"Notes\")))\n    boursorama_ref = normalize_ref(\n        r.get(\"boursoramaRef\")\n        or r.get(\"BoursoramaRef\")\n        or notes.get(\"boursoramaRef\")\n        or notes.get(\"boursoramaCode\")\n        or \"\"\n    )\n    if not boursorama_ref:\n        continue\n\n    db_path = to_text(r.get(\"db_path\")) or DB_PATH\n    candidates.append(\n        {\n            \"queueId\": f\"{symbol}|boursorama|actualites\",\n            \"symbol\": symbol,\n            \"companyName\": to_text(r.get(\"companyName\", r.get(\"Name\", symbol))),\n            \"isin\": r.get(\"isin\", r.get(\"ISIN\")),\n            \"assetClass\": r.get(\"assetClass\", r.get(\"AssetClass\")),\n            \"exchange\": r.get(\"exchange\", r.get(\"Exchange\")),\n            \"currency\": r.get(\"currency\", r.get(\"Currency\")),\n            \"country\": r.get(\"country\", r.get(\"Country\")),\n            \"boursoramaRef\": boursorama_ref,\n            \"coursUrl\": f\"https://www.boursorama.com/cours/{boursorama_ref}/\",\n            \"actualitesUrl\": f\"https://www.boursorama.com/cours/actualites/{boursorama_ref}/\",\n            \"source\": \"boursorama\",\n            \"enabled\": True,\n            \"db_path\": db_path,\n        }\n    )\n\n# Keep deterministic order across runs.\ncandidates = sorted(candidates, key=lambda x: x.get(\"symbol\", \"\"))\ntotal_items = len(candidates)\n\nif total_items == 0:\n    return []\n\ndb_path = to_text(candidates[0].get(\"db_path\")) or DB_PATH\n\nwith db_con(db_path) as con:\n    con.execute(\n        \"\"\"\n        CREATE TABLE IF NOT EXISTS workflow_state (\n          state_key VARCHAR PRIMARY KEY,\n          state_value VARCHAR,\n          updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n        )\n        \"\"\"\n    )\n\n    row = con.execute(\n        \"SELECT state_value FROM workflow_state WHERE state_key = ?\",\n        [STATE_KEY],\n    ).fetchone()\n    try:\n        start = int(row[0]) if row and row[0] is not None else 0\n    except Exception:\n        start = 0\n\n    if start < 0 or start >= total_items:\n        start = 0\n\n    end = start + BATCH_SIZE\n    batch = candidates[start:end]\n    next_start = 0 if end >= total_items else end\n\n    con.execute(\n        \"\"\"\n        INSERT OR REPLACE INTO workflow_state (state_key, state_value, updated_at)\n        VALUES (?, ?, CURRENT_TIMESTAMP)\n        \"\"\",\n        [STATE_KEY, str(next_start)],\n    )\n\nout = []\nfor idx, item in enumerate(batch):\n    j = dict(item)\n    j[\"_batchInfo\"] = {\n        \"batchIndex\": idx + 1,\n        \"globalIndex\": start + idx + 1,\n        \"totalItems\": total_items,\n        \"nextStart\": next_start,\n        \"rotationStore\": \"duckdb.workflow_state\",\n    }\n    out.append({\"json\": j})\n\nreturn out\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -96
      ],
      "id": "3e1f6147-0f0f-4256-aab3-48af94afcc51",
      "name": "S01 - Build Symbol Queue"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport time\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\n\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\nSCHEMA = [\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS universe_symbols (\n      symbol VARCHAR PRIMARY KEY,\n      name VARCHAR,\n      isin VARCHAR,\n      asset_class VARCHAR,\n      exchange VARCHAR,\n      currency VARCHAR,\n      country VARCHAR,\n      enabled BOOLEAN DEFAULT TRUE,\n      boursorama_ref VARCHAR,\n      notes_json VARCHAR,\n      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS news_history (\n      news_id VARCHAR PRIMARY KEY,\n      run_id VARCHAR NOT NULL,\n      symbol VARCHAR NOT NULL,\n      company_name VARCHAR,\n      source VARCHAR,\n      boursorama_ref VARCHAR,\n      listing_url VARCHAR,\n      url VARCHAR,\n      canonical_url VARCHAR,\n      title VARCHAR,\n      published_at TIMESTAMP,\n      published_at_raw VARCHAR,\n      snippet VARCHAR,\n      text VARCHAR,\n      summary VARCHAR,\n      category VARCHAR,\n      impact_score INTEGER,\n      sentiment VARCHAR,\n      confidence_score INTEGER,\n      horizon VARCHAR,\n      urgency VARCHAR,\n      suggested_signal VARCHAR,\n      key_drivers VARCHAR,\n      needs_follow_up BOOLEAN,\n      is_relevant BOOLEAN,\n      relevance_reason VARCHAR,\n      action VARCHAR,\n      reason VARCHAR,\n      status VARCHAR,\n      vector_status VARCHAR DEFAULT 'PENDING',\n      vector_id VARCHAR,\n      vectorized_at TIMESTAMP,\n      chunk_total INTEGER,\n      first_seen_at TIMESTAMP,\n      last_seen_at TIMESTAMP,\n      analyzed_at TIMESTAMP,\n      fetched_at TIMESTAMP,\n      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS news_errors (\n      error_id VARCHAR PRIMARY KEY,\n      run_id VARCHAR,\n      stage VARCHAR,\n      symbol VARCHAR,\n      company_name VARCHAR,\n      url VARCHAR,\n      http_code INTEGER,\n      message VARCHAR,\n      raw_error VARCHAR,\n      occurred_at TIMESTAMP,\n      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS run_log (\n      run_id VARCHAR PRIMARY KEY,\n      started_at TIMESTAMP NOT NULL,\n      finished_at TIMESTAMP,\n      status VARCHAR DEFAULT 'RUNNING',\n      symbols_total INTEGER DEFAULT 0,\n      symbols_ok INTEGER DEFAULT 0,\n      symbols_error INTEGER DEFAULT 0,\n      articles_total INTEGER DEFAULT 0,\n      items_analyzed INTEGER DEFAULT 0,\n      items_skipped INTEGER DEFAULT 0,\n      errors_logged INTEGER DEFAULT 0,\n      vector_docs_written INTEGER DEFAULT 0,\n      error_detail VARCHAR,\n      version VARCHAR DEFAULT '2.0.0'\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS workflow_state (\n      state_key VARCHAR PRIMARY KEY,\n      state_value VARCHAR,\n      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n]\n\n\nwith db_con() as con:\n    for stmt in SCHEMA:\n        con.execute(stmt)\n\n    # Lightweight migrations for existing DB files.\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS confidence_score INTEGER\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS horizon VARCHAR\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS urgency VARCHAR\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS suggested_signal VARCHAR\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS key_drivers VARCHAR\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS needs_follow_up BOOLEAN\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS vector_status VARCHAR DEFAULT 'PENDING'\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS vector_id VARCHAR\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS vectorized_at TIMESTAMP\")\n    con.execute(\"ALTER TABLE news_history ADD COLUMN IF NOT EXISTS chunk_total INTEGER\")\n    con.execute(\"ALTER TABLE run_log ADD COLUMN IF NOT EXISTS vector_docs_written INTEGER DEFAULT 0\")\n\nout = []\nfor it in (_items or []):\n    j = dict(it.get(\"json\", {}) or {})\n    j[\"db_path\"] = DB_PATH\n    out.append({\"json\": j, \"pairedItem\": it.get(\"pairedItem\")})\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -96
      ],
      "id": "be2cf27b-c104-4d57-8c06-4fec0129e4be",
      "name": "S00B - DuckDB Init Schema"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport time\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\nWORKFLOW_VERSION = \"2.0.0\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\nitems = _items or []\ndb_path = DEFAULT_DB_PATH\nif len(items) > 0:\n    db_path = str((items[0].get(\"json\", {}) or {}).get(\"db_path\") or DEFAULT_DB_PATH)\n\nrun_id = f\"AG4SPEV2_{datetime.now(timezone.utc).strftime('%Y%m%d%H%M%S')}\"\n\nwith db_con(db_path) as con:\n    if len(items) == 0:\n        con.execute(\n            \"\"\"\n            INSERT OR REPLACE INTO run_log (\n              run_id, started_at, finished_at, status, symbols_total, symbols_ok, symbols_error,\n              articles_total, items_analyzed, items_skipped, errors_logged, error_detail, version\n            )\n            VALUES (?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'NO_DATA', 0, 0, 0, 0, 0, 0, 0, NULL, ?)\n            \"\"\",\n            [run_id, WORKFLOW_VERSION],\n        )\n        return []\n\n    con.execute(\n        \"\"\"\n        INSERT OR REPLACE INTO run_log (\n          run_id, started_at, status, symbols_total, symbols_ok, symbols_error,\n          articles_total, items_analyzed, items_skipped, errors_logged, error_detail, version\n        )\n        VALUES (?, CURRENT_TIMESTAMP, 'RUNNING', ?, 0, 0, 0, 0, 0, 0, NULL, ?)\n        \"\"\",\n        [run_id, len(items), WORKFLOW_VERSION],\n    )\n\nout = []\nfor it in items:\n    j = dict(it.get(\"json\", {}) or {})\n    j[\"run_id\"] = run_id\n    j[\"db_path\"] = db_path\n    out.append({\"json\": j, \"pairedItem\": it.get(\"pairedItem\")})\n\nreturn out\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -96
      ],
      "id": "34c2a416-4c86-4f03-a94e-df5ae6a3f91d",
      "name": "S02 - Start Run"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -864,
        -96
      ],
      "id": "73358bb3-2807-42f2-a72e-98954b35dfdd",
      "name": "S03 - Split Symbols"
    },
    {
      "parameters": {
        "url": "={{$json.actualitesUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "fr-FR,fr;q=0.9,en;q=0.8"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "outputPropertyName": "listingHtml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        16
      ],
      "id": "3d6f7c6a-6a3b-4c0f-a53d-31b7d2da53cc",
      "name": "S04 - HTTP Listing Page",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        -32
      ],
      "id": "34ec95df-6b2c-4752-b1c0-a73de9f6a428",
      "name": "S04M - Merge Symbol + Listing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "status200",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        -32
      ],
      "id": "8938cc57-42fb-4ddc-a2ee-bfe2c42986b4",
      "name": "S05 - IF Listing 200?"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\n\nfunction hash(s) {\n  return crypto.createHash(\"sha1\").update(String(s), \"utf8\").digest(\"hex\");\n}\n\nfunction compactJson(obj) {\n  try {\n    return JSON.stringify(obj);\n  } catch {\n    return String(obj);\n  }\n}\n\nconst j = $json || {};\nconst nowIso = new Date().toISOString();\n\nconst stage = j._errorStage || (j.articleUrl ? \"article_fetch\" : \"listing_fetch\");\nconst url = j.articleUrl || j.articleCanonicalUrl || j.actualitesUrl || j.url || \"\";\nconst httpCode = Number.isFinite(Number(j.statusCode)) ? Number(j.statusCode) : null;\n\nconst message =\n  j.error?.message ||\n  j.errorMessage ||\n  j.notes ||\n  (httpCode && httpCode !== 200 ? `HTTP_${httpCode}` : \"unknown_error\");\n\nconst signature = [\n  j.run_id || \"no_run\",\n  stage,\n  j.symbol || \"no_symbol\",\n  url || \"no_url\",\n  httpCode || \"no_code\",\n  String(message).slice(0, 120),\n  nowIso.slice(0, 16),\n].join(\"|\");\n\nreturn [\n  {\n    json: {\n      errorId: hash(signature),\n      run_id: j.run_id || \"\",\n      db_path: j.db_path || \"/files/duckdb/ag4_spe_v2.duckdb\",\n      stage,\n      symbol: j.symbol || \"\",\n      companyName: j.companyName || \"\",\n      url,\n      httpCode,\n      message: String(message),\n      rawError: compactJson({\n        statusCode: j.statusCode,\n        error: j.error || null,\n        responseHeaders: j.headers || null,\n      }),\n      occurredAt: nowIso,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        224
      ],
      "id": "6bc3533d-96df-4f17-a8ec-0076dcd325ec",
      "name": "S05E - Build Listing Error Row"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport time\nfrom contextlib import contextmanager\nfrom datetime import date, datetime, timezone\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    return str(v)\n\n\ndef to_int(v, d=None):\n    try:\n        if v is None or v == \"\":\n            return d\n        return int(float(v))\n    except Exception:\n        return d\n\n\ndef parse_ts(v):\n    if v is None:\n        return None\n    if isinstance(v, (datetime, date)):\n        if isinstance(v, date) and not isinstance(v, datetime):\n            return datetime(v.year, v.month, v.day, tzinfo=timezone.utc)\n        return v\n    s = str(v).strip()\n    if not s:\n        return None\n    if s.endswith(\"Z\"):\n        s = s[:-1] + \"+00:00\"\n    try:\n        return datetime.fromisoformat(s)\n    except Exception:\n        return None\n\n\nitems = _items or []\nif len(items) == 0:\n    return []\n\ndb_path = str((items[0].get(\"json\", {}) or {}).get(\"db_path\") or DEFAULT_DB_PATH)\n\nwith db_con(db_path) as con:\n    for it in items:\n        j = dict(it.get(\"json\", {}) or {})\n        error_id = to_text(j.get(\"errorId\", \"\")).strip()\n        if not error_id:\n            continue\n\n        run_id = to_text(j.get(\"run_id\", \"\"))\n        stage = to_text(j.get(\"stage\", \"unknown\"))\n        symbol = to_text(j.get(\"symbol\", \"\"))\n        company_name = to_text(j.get(\"companyName\", \"\"))\n        url = to_text(j.get(\"url\", \"\"))\n        http_code = to_int(j.get(\"httpCode\"), None)\n        message = to_text(j.get(\"message\", \"unknown_error\"))\n        raw_error = to_text(j.get(\"rawError\", \"\"))\n        occurred_at = parse_ts(j.get(\"occurredAt\")) or datetime.now(timezone.utc)\n\n        con.execute(\n            \"\"\"\n            INSERT OR REPLACE INTO news_errors (\n              error_id, run_id, stage, symbol, company_name, url,\n              http_code, message, raw_error, occurred_at, updated_at\n            )\n            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\n            \"\"\",\n            [\n                error_id,\n                run_id,\n                stage,\n                symbol,\n                company_name,\n                url,\n                http_code,\n                message,\n                raw_error,\n                occurred_at,\n            ],\n        )\n\nreturn items\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        224
      ],
      "id": "f0db3665-fda8-4322-9ed3-ec08dcff9c40",
      "name": "S23L - Write Listing Errors DuckDB"
    },
    {
      "parameters": {
        "jsCode": "function htmlEntityDecode(str) {\n  if (!str) return \"\";\n  return String(str)\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/&amp;/gi, \"&\")\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&#x27;/gi, \"'\")\n    .replace(/&lt;/gi, \"<\")\n    .replace(/&gt;/gi, \">\")\n    .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(parseInt(n, 10)))\n    .replace(/&#x([0-9a-f]+);/gi, (_, n) => String.fromCharCode(parseInt(n, 16)));\n}\n\nfunction stripTags(html) {\n  if (!html) return \"\";\n  let s = String(html)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \" \")\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \" \")\n    .replace(/<!--[\\s\\S]*?-->/g, \" \")\n    .replace(/<\\/?[^>]+>/g, \" \");\n  s = htmlEntityDecode(s);\n  return s.replace(/\\u00A0/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction toAbsolute(url) {\n  if (!url) return null;\n  const u = String(url).trim();\n  if (!u) return null;\n  if (u.startsWith(\"http://\") || u.startsWith(\"https://\")) return u;\n  if (u.startsWith(\"//\")) return \"https:\" + u;\n  if (u.startsWith(\"/\")) return \"https://www.boursorama.com\" + u;\n  return \"https://www.boursorama.com/\" + u;\n}\n\nfunction canonicalize(url) {\n  if (!url) return null;\n  return String(url).split(\"#\")[0].split(\"?\")[0];\n}\n\nfunction decodeDataRel(b64) {\n  try {\n    return Buffer.from(String(b64), \"base64\").toString(\"utf8\") || null;\n  } catch {\n    return null;\n  }\n}\n\nfunction isBoursoramaArticle(url) {\n  if (!url) return false;\n  const u = canonicalize(url);\n  return (\n    /^https:\\/\\/www\\.boursorama\\.com\\/bourse\\/actualites\\/.+-[0-9a-f]{32}$/i.test(u) ||\n    /^https:\\/\\/www\\.boursorama\\.com\\/actualites\\/.+-[0-9a-f]{32}$/i.test(u)\n  );\n}\n\nfunction extractFromLiBlock(blockHtml) {\n  const block = String(blockHtml);\n  let relUrl = null;\n\n  const hrefMatch = block.match(/<a\\b[^>]*href=\"([^\"]+)\"/i);\n  if (hrefMatch?.[1]) relUrl = hrefMatch[1];\n\n  if (!relUrl) {\n    const relMatches = [...block.matchAll(/\\bdata-rel=\"([^\"]+)\"/gi)].map((m) => m[1]);\n    for (const b64 of relMatches) {\n      const decoded = decodeDataRel(b64);\n      if (decoded && decoded.includes(\"/actualites/\")) {\n        relUrl = decoded;\n        break;\n      }\n    }\n  }\n\n  const articleUrl = toAbsolute(relUrl);\n  const articleCanonicalUrl = canonicalize(articleUrl);\n\n  let title = block.match(/\\btitle=\"([^\"]+)\"/i)?.[1] || null;\n  if (!title) {\n    title = block.match(/c-list-details-news__subject[^>]*>([\\s\\S]*?)<\\/(?:a|span)>/i)?.[1] || null;\n  }\n  title = title ? stripTags(title) : null;\n\n  const publishedAtGuess = stripTags(block.match(/c-source__time[^>]*>([^<]+)</i)?.[1] || \"\") || null;\n  const snippetGuess =\n    stripTags(\n      block.match(\n        /<p[^>]*class=\"[^\"]*c-list-details-news__content[^\"]*\"[^>]*>([\\s\\S]*?)<\\/p>/i\n      )?.[1] || \"\"\n    ) || null;\n\n  return {\n    articleUrl,\n    articleCanonicalUrl,\n    articleTitleGuess: title,\n    publishedAtGuess,\n    snippetGuess,\n  };\n}\n\nconst input = $input.first().json;\nconst html = input.listingHtml || input.body || input.html || input.response || \"\";\nconst actualitesUrl = input.actualitesUrl ? canonicalize(input.actualitesUrl) : null;\n\nconst dropped = {\n  null_url: 0,\n  not_article: 0,\n  is_listing: 0,\n  duplicate: 0,\n};\n\nconst articles_raw = [];\nconst seen = new Set();\n\nconst liRe = /<li\\b[^>]*class=\"[^\"]*c-list-details-news__line[^\"]*\"[^>]*>([\\s\\S]*?)<\\/li>/gi;\nconst liBlocks = [...html.matchAll(liRe)].map((m) => m[1]);\n\nlet extractionMethod = \"li_blocks\";\n\nif (liBlocks.length === 0) {\n  extractionMethod = \"fallback_anchors\";\n  const re = /<a[^>]+href=\"([^\"]+)\"[^>]*>([\\s\\S]*?)<\\/a>/gsi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    const articleUrl = toAbsolute(m[1]);\n    const articleCanonicalUrl = canonicalize(articleUrl);\n    const title = stripTags(m[2]) || null;\n\n    if (!articleUrl) {\n      dropped.null_url++;\n      continue;\n    }\n    if (actualitesUrl && articleCanonicalUrl === actualitesUrl) {\n      dropped.is_listing++;\n      continue;\n    }\n    if (!isBoursoramaArticle(articleUrl)) {\n      dropped.not_article++;\n      continue;\n    }\n    if (seen.has(articleCanonicalUrl)) {\n      dropped.duplicate++;\n      continue;\n    }\n\n    seen.add(articleCanonicalUrl);\n    articles_raw.push({\n      articleUrl,\n      articleCanonicalUrl,\n      articleTitleGuess: title,\n      publishedAtGuess: null,\n      snippetGuess: null,\n    });\n  }\n} else {\n  for (const block of liBlocks) {\n    const parsed = extractFromLiBlock(block);\n    if (!parsed.articleUrl) {\n      dropped.null_url++;\n      continue;\n    }\n    if (actualitesUrl && parsed.articleCanonicalUrl === actualitesUrl) {\n      dropped.is_listing++;\n      continue;\n    }\n    if (!isBoursoramaArticle(parsed.articleUrl)) {\n      dropped.not_article++;\n      continue;\n    }\n    if (seen.has(parsed.articleCanonicalUrl)) {\n      dropped.duplicate++;\n      continue;\n    }\n    seen.add(parsed.articleCanonicalUrl);\n    articles_raw.push(parsed);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      extractionMethod,\n      candidates_total: liBlocks.length,\n      filtered_total: articles_raw.length,\n      dropped_reason_counts: dropped,\n      articles_raw,\n      articles_raw_count: articles_raw.length,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -32
      ],
      "id": "be1590be-2fef-4f41-9f26-ad70c58d11f2",
      "name": "S06 - Extract Articles"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\n\nconst LIMIT = 10;\n\nfunction sha1(s) {\n  return crypto.createHash(\"sha1\").update(String(s), \"utf8\").digest(\"hex\");\n}\n\nfunction parseListingDate(raw) {\n  if (!raw) return null;\n  const s = String(raw).trim();\n\n  const fr = s.match(/(\\d{1,2})[./-](\\d{1,2})[./-](\\d{2,4})/);\n  if (fr) {\n    let year = Number(fr[3]);\n    if (year < 100) year += 2000;\n    const month = Number(fr[2]) - 1;\n    const day = Number(fr[1]);\n    const d = new Date(Date.UTC(year, month, day, 0, 0, 0));\n    if (!isNaN(d.getTime())) return d.toISOString();\n  }\n\n  const iso = new Date(s);\n  if (!isNaN(iso.getTime())) return iso.toISOString();\n  return null;\n}\n\nfunction canonical(url) {\n  return String(url || \"\").split(\"#\")[0].split(\"?\")[0];\n}\n\nreturn $input.all().map((inItem) => {\n  const item = inItem.json || {};\n  const raw = Array.isArray(item.articles_raw) ? item.articles_raw : [];\n  const symbol = String(item.symbol || \"\").toUpperCase();\n\n  const uniq = new Map();\n\n  for (const a of raw) {\n    const articleCanonicalUrl = canonical(a.articleCanonicalUrl || a.articleUrl || \"\");\n    if (!articleCanonicalUrl) continue;\n\n    const newsId = sha1(`${symbol}|${articleCanonicalUrl}`);\n    if (uniq.has(newsId)) continue;\n\n    const publishedAtGuess = parseListingDate(a.publishedAtGuess);\n\n    uniq.set(newsId, {\n      newsId,\n      articleUrl: a.articleUrl || articleCanonicalUrl,\n      articleCanonicalUrl,\n      articleTitleGuess: a.articleTitleGuess || null,\n      publishedAtGuess,\n      publishedAtTs: publishedAtGuess ? new Date(publishedAtGuess).getTime() : null,\n      snippetGuess: a.snippetGuess || null,\n    });\n  }\n\n  const articles = Array.from(uniq.values())\n    .sort((a, b) => {\n      const x = a.publishedAtTs ?? -1;\n      const y = b.publishedAtTs ?? -1;\n      return y - x;\n    })\n    .slice(0, LIMIT)\n    .map((a, idx) => {\n      const { publishedAtTs, ...rest } = a;\n      return { ...rest, articleOrder: idx + 1 };\n    });\n\n  const hasArticles = articles.length > 0;\n\n  return {\n    json: {\n      ...item,\n      articles,\n      articles_count: articles.length,\n      hasArticles,\n      _articlesStatus: hasArticles ? \"HAS_ARTICLES\" : \"NO_ARTICLES\",\n      articles_limit: LIMIT,\n    },\n    pairedItem: inItem.pairedItem,\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -32
      ],
      "id": "c10fbcf2-3965-4e31-89d8-cb651ad54baf",
      "name": "S07 - Normalize + Dedupe + Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "hasArticles",
              "leftValue": "={{ $json.hasArticles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        -32
      ],
      "id": "6f3a0de4-769f-4cd8-8f7c-92db8e0f1490",
      "name": "S08 - IF Has Articles?"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const it of $input.all()) {\n  const base = it.json || {};\n  const articles = Array.isArray(base.articles) ? base.articles : [];\n\n  const baseCtx = { ...base };\n  delete baseCtx.articles;\n  delete baseCtx.articles_raw;\n  delete baseCtx.listingHtml;\n\n  let first = true;\n  for (const article of articles) {\n    const articleUrl = article.articleUrl || article.articleCanonicalUrl || null;\n    if (!articleUrl) continue;\n\n    const articleCanonicalUrl =\n      article.articleCanonicalUrl || String(articleUrl).split(\"#\")[0].split(\"?\")[0];\n\n    out.push({\n      json: {\n        ...baseCtx,\n        newsId: article.newsId || null,\n        articleUrl,\n        articleCanonicalUrl,\n        url: articleUrl,\n        canonicalUrl: articleCanonicalUrl,\n        articleTitleGuess: article.articleTitleGuess || null,\n        publishedAtGuess: article.publishedAtGuess || null,\n        snippetGuess: article.snippetGuess || null,\n        _articlesLoopReset: first === true,\n        _status: \"HAS_ARTICLE\",\n      },\n    });\n\n    first = false;\n  }\n}\n\nreturn out;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -32
      ],
      "id": "2b36f448-01dc-4359-b81f-47ef7ef973ef",
      "name": "S09 - Explode Articles"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json._articlesLoopReset }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        -32
      ],
      "id": "db2d3cd7-1fb0-4765-bd9f-3f56466de7d6",
      "name": "S10 - Split Articles"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport hashlib\nimport time\nfrom contextlib import contextmanager\nfrom datetime import date, datetime\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path, read_only=True)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_iso(v):\n    if v is None:\n        return None\n    if isinstance(v, (datetime, date)):\n        return v.isoformat()\n    return str(v)\n\n\ndef bool_or_default(v, default=False):\n    if isinstance(v, bool):\n        return v\n    if v is None:\n        return default\n    s = str(v).strip().lower()\n    if s in (\"1\", \"true\", \"yes\", \"y\"):\n        return True\n    if s in (\"0\", \"false\", \"no\", \"n\"):\n        return False\n    return default\n\n\ndef build_news_id(symbol, canonical_url):\n    seed = f\"{str(symbol or '').upper()}|{str(canonical_url or '')}\"\n    return hashlib.sha1(seed.encode(\"utf-8\")).hexdigest()\n\n\nitems = _items or []\nif len(items) == 0:\n    return []\n\ndb_path = str((items[0].get(\"json\", {}) or {}).get(\"db_path\") or DEFAULT_DB_PATH)\n\nquery = \"\"\"\nSELECT\n  news_id,\n  title,\n  published_at,\n  snippet,\n  text,\n  summary,\n  category,\n  impact_score,\n  sentiment,\n  confidence_score,\n  horizon,\n  urgency,\n  suggested_signal,\n  key_drivers,\n  needs_follow_up,\n  is_relevant,\n  relevance_reason,\n  first_seen_at,\n  analyzed_at,\n  reason,\n  status\nFROM news_history\nWHERE news_id = ?\nLIMIT 1\n\"\"\"\n\nout = []\nwith db_con(db_path) as con:\n    for it in items:\n        j = dict(it.get(\"json\", {}) or {})\n\n        symbol = str(j.get(\"symbol\", \"\") or \"\").upper()\n        canonical_url = str(j.get(\"articleCanonicalUrl\", \"\") or j.get(\"canonicalUrl\", \"\") or \"\")\n        news_id = str(j.get(\"newsId\", \"\") or \"\").strip()\n        if not news_id and canonical_url:\n            news_id = build_news_id(symbol, canonical_url)\n            j[\"newsId\"] = news_id\n\n        existing = None\n        if news_id:\n            existing = con.execute(query, [news_id]).fetchone()\n\n        if existing:\n            j[\"_action\"] = \"skip\"\n            j[\"_reason\"] = \"duplicate_known\"\n            j[\"_articlesLoopReset\"] = False\n            j[\"title\"] = j.get(\"articleTitleGuess\") or existing[1] or j.get(\"title\") or \"\"\n            j[\"publishedAt\"] = j.get(\"publishedAtGuess\") or to_iso(existing[2]) or j.get(\"publishedAt\") or None\n            j[\"snippet\"] = existing[3] or j.get(\"snippetGuess\") or \"\"\n            j[\"text\"] = existing[4] or j.get(\"text\") or \"\"\n            j[\"summary\"] = existing[5] or \"\"\n            j[\"category\"] = existing[6] or \"Noise\"\n            j[\"impactScore\"] = int(existing[7]) if existing[7] is not None else 0\n            j[\"sentiment\"] = existing[8] or \"Neutral\"\n            j[\"confidence\"] = int(existing[9]) if existing[9] is not None else 0\n            j[\"horizon\"] = existing[10] or \"Days\"\n            j[\"urgency\"] = existing[11] or \"Low\"\n            j[\"suggestedSignal\"] = existing[12] or \"WATCH\"\n            j[\"keyDrivers\"] = existing[13] or \"\"\n            j[\"needsFollowUp\"] = bool_or_default(existing[14], False)\n            j[\"isRelevant\"] = bool_or_default(existing[15], True)\n            j[\"relevanceReason\"] = existing[16] or \"Duplicate entry already analyzed\"\n            j[\"firstSeenAt\"] = to_iso(existing[17]) or j.get(\"firstSeenAt\")\n            j[\"analyzedAt\"] = to_iso(existing[18]) or j.get(\"analyzedAt\")\n            j[\"status\"] = existing[20] or \"SKIPPED_DUPLICATE\"\n        else:\n            j[\"_action\"] = \"analyze\"\n            j[\"_reason\"] = \"new_item\"\n            j[\"_articlesLoopReset\"] = False\n            if not j.get(\"publishedAt\"):\n                j[\"publishedAt\"] = j.get(\"publishedAtGuess\") or None\n            if not j.get(\"snippet\"):\n                j[\"snippet\"] = j.get(\"snippetGuess\") or \"\"\n\n        out.append({\"json\": j, \"pairedItem\": it.get(\"pairedItem\")})\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -32
      ],
      "id": "ed654f58-ed66-473f-990e-27169f86ff96",
      "name": "S11 - Route New vs Seen"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "analyze",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "analyze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "skip",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        -32
      ],
      "id": "0be2ec6f-f5ca-428e-9cd6-c9976ca2dd73",
      "name": "S12 - Router Analyze vs Skip"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1)) + 2 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        -128
      ],
      "id": "869fdc69-b2b3-4b3a-abf6-b0b4f3ed9f52",
      "name": "S13 - Wait Article",
      "webhookId": "88cbf6c7-7dcf-4da3-b0ca-5f307ce24395"
    },
    {
      "parameters": {
        "url": "={{$json.articleUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "fr-FR,fr;q=0.9,en;q=0.8"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "outputPropertyName": "articleHtml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        -128
      ],
      "id": "0ca3f374-fd86-4533-a65e-8d7784ec4d93",
      "name": "S14 - HTTP Article Page",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        -176
      ],
      "id": "4d99e026-e09a-4d5e-a9d6-05018ccce237",
      "name": "S14M - Merge Article + Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "status200",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        -176
      ],
      "id": "c8c7a52c-a8d3-4a34-9f88-c00be48a3ff0",
      "name": "S15 - IF Article 200?"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\n\nfunction hash(s) {\n  return crypto.createHash(\"sha1\").update(String(s), \"utf8\").digest(\"hex\");\n}\n\nfunction compactJson(obj) {\n  try {\n    return JSON.stringify(obj);\n  } catch {\n    return String(obj);\n  }\n}\n\nconst j = $json || {};\nconst nowIso = new Date().toISOString();\n\nconst stage = j._errorStage || (j.articleUrl ? \"article_fetch\" : \"listing_fetch\");\nconst url = j.articleUrl || j.articleCanonicalUrl || j.actualitesUrl || j.url || \"\";\nconst httpCode = Number.isFinite(Number(j.statusCode)) ? Number(j.statusCode) : null;\n\nconst message =\n  j.error?.message ||\n  j.errorMessage ||\n  j.notes ||\n  (httpCode && httpCode !== 200 ? `HTTP_${httpCode}` : \"unknown_error\");\n\nconst signature = [\n  j.run_id || \"no_run\",\n  stage,\n  j.symbol || \"no_symbol\",\n  url || \"no_url\",\n  httpCode || \"no_code\",\n  String(message).slice(0, 120),\n  nowIso.slice(0, 16),\n].join(\"|\");\n\nreturn [\n  {\n    json: {\n      errorId: hash(signature),\n      run_id: j.run_id || \"\",\n      db_path: j.db_path || \"/files/duckdb/ag4_spe_v2.duckdb\",\n      stage,\n      symbol: j.symbol || \"\",\n      companyName: j.companyName || \"\",\n      url,\n      httpCode,\n      message: String(message),\n      rawError: compactJson({\n        statusCode: j.statusCode,\n        error: j.error || null,\n        responseHeaders: j.headers || null,\n      }),\n      occurredAt: nowIso,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        -16
      ],
      "id": "6bfefea8-7ce9-4247-8e14-f45bf2ce92ec",
      "name": "S15E - Build Article Error Row"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport time\nfrom contextlib import contextmanager\nfrom datetime import date, datetime, timezone\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    return str(v)\n\n\ndef to_int(v, d=None):\n    try:\n        if v is None or v == \"\":\n            return d\n        return int(float(v))\n    except Exception:\n        return d\n\n\ndef parse_ts(v):\n    if v is None:\n        return None\n    if isinstance(v, (datetime, date)):\n        if isinstance(v, date) and not isinstance(v, datetime):\n            return datetime(v.year, v.month, v.day, tzinfo=timezone.utc)\n        return v\n    s = str(v).strip()\n    if not s:\n        return None\n    if s.endswith(\"Z\"):\n        s = s[:-1] + \"+00:00\"\n    try:\n        return datetime.fromisoformat(s)\n    except Exception:\n        return None\n\n\nitems = _items or []\nif len(items) == 0:\n    return []\n\ndb_path = str((items[0].get(\"json\", {}) or {}).get(\"db_path\") or DEFAULT_DB_PATH)\n\nwith db_con(db_path) as con:\n    for it in items:\n        j = dict(it.get(\"json\", {}) or {})\n        error_id = to_text(j.get(\"errorId\", \"\")).strip()\n        if not error_id:\n            continue\n\n        run_id = to_text(j.get(\"run_id\", \"\"))\n        stage = to_text(j.get(\"stage\", \"unknown\"))\n        symbol = to_text(j.get(\"symbol\", \"\"))\n        company_name = to_text(j.get(\"companyName\", \"\"))\n        url = to_text(j.get(\"url\", \"\"))\n        http_code = to_int(j.get(\"httpCode\"), None)\n        message = to_text(j.get(\"message\", \"unknown_error\"))\n        raw_error = to_text(j.get(\"rawError\", \"\"))\n        occurred_at = parse_ts(j.get(\"occurredAt\")) or datetime.now(timezone.utc)\n\n        con.execute(\n            \"\"\"\n            INSERT OR REPLACE INTO news_errors (\n              error_id, run_id, stage, symbol, company_name, url,\n              http_code, message, raw_error, occurred_at, updated_at\n            )\n            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\n            \"\"\",\n            [\n                error_id,\n                run_id,\n                stage,\n                symbol,\n                company_name,\n                url,\n                http_code,\n                message,\n                raw_error,\n                occurred_at,\n            ],\n        )\n\nreturn items\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -16
      ],
      "id": "af8f0f20-07ba-4f58-ac14-efcad758f5a7",
      "name": "S23A - Write Article Errors DuckDB"
    },
    {
      "parameters": {
        "jsCode": "const MAX_TEXT_CHARS = 50000;\nconst MAX_SNIPPET_CHARS = 1200;\n\nfunction htmlEntityDecode(str) {\n  if (!str) return \"\";\n  return String(str)\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/&amp;/gi, \"&\")\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&lt;/gi, \"<\")\n    .replace(/&gt;/gi, \">\");\n}\n\nfunction stripTags(html) {\n  if (!html) return \"\";\n  let s = String(html)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \" \")\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \" \")\n    .replace(/<!--[\\s\\S]*?-->/g, \" \")\n    .replace(/<\\/?[^>]+>/g, \" \");\n  s = htmlEntityDecode(s);\n  return s.replace(/\\u00A0/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction getMetaContent(html, key, mode) {\n  if (!html || !key) return null;\n  const escaped = key.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n  const re = new RegExp(`<meta[^>]+${mode}\\\\s*=\\\\s*[\"']${escaped}[\"'][^>]*>`, \"i\");\n  const m = html.match(re);\n  if (!m) return null;\n  const content = m[0].match(/content\\s*=\\s*[\"']([^\"']+)[\"']/i);\n  return content ? stripTags(content[1]) : null;\n}\n\nfunction getFirst(html, re) {\n  const m = html && html.match(re);\n  if (!m) return null;\n  return stripTags(m[1]) || null;\n}\n\nfunction extractParagraphs(htmlBlock) {\n  if (!htmlBlock) return \"\";\n  const out = [];\n  const re = /<p\\b[^>]*>([\\s\\S]*?)<\\/p>/gi;\n  let m;\n  while ((m = re.exec(htmlBlock)) !== null) {\n    const t = stripTags(m[1]);\n    if (t && t.length >= 20) out.push(t);\n  }\n  return out.join(\"\\n\\n\").trim();\n}\n\nfunction extractMainBlock(html) {\n  if (!html) return \"\";\n  const article = html.match(/<article\\b[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (article?.[1]) return article[1];\n  const main = html.match(/<main\\b[^>]*>([\\s\\S]*?)<\\/main>/i);\n  if (main?.[1]) return main[1];\n  const body = html.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  if (body?.[1]) return body[1];\n  return html;\n}\n\nfunction normalizeDate(raw) {\n  if (!raw) return null;\n  const s = String(raw).trim();\n\n  const fr = s.match(/(\\d{1,2})[./-](\\d{1,2})[./-](\\d{2,4})/);\n  if (fr) {\n    let y = Number(fr[3]);\n    if (y < 100) y += 2000;\n    const d = new Date(Date.UTC(y, Number(fr[2]) - 1, Number(fr[1]), 0, 0, 0));\n    if (!isNaN(d.getTime())) return d.toISOString();\n  }\n\n  const iso = new Date(s);\n  if (!isNaN(iso.getTime())) return iso.toISOString();\n  return null;\n}\n\nfunction truncate(str, maxLen) {\n  const s = String(str || \"\");\n  if (s.length <= maxLen) return s;\n  return `${s.slice(0, maxLen)}\\n\\n[TRUNCATED ${s.length} -> ${maxLen}]`;\n}\n\nreturn $input.all().map((item) => {\n  const j = { ...(item.json || {}) };\n  const html = j.articleHtml || j.body || j.data || j.html || j.response || \"\";\n\n  const h1 = getFirst(html, /<h1\\b[^>]*>([\\s\\S]*?)<\\/h1>/i);\n  const ogTitle = getMetaContent(html, \"og:title\", \"property\");\n  const docTitle = getFirst(html, /<title\\b[^>]*>([\\s\\S]*?)<\\/title>/i);\n  const title = h1 || ogTitle || j.articleTitleGuess || j.title || docTitle || null;\n\n  const timeDt = (html.match(/<time\\b[^>]*datetime\\s*=\\s*[\"']([^\"']+)[\"'][^>]*>/i) || [])[1];\n  const metaPub = getMetaContent(html, \"article:published_time\", \"property\");\n  const metaDate = getMetaContent(html, \"date\", \"name\");\n  const publishedAt = normalizeDate(timeDt || metaPub || metaDate || j.publishedAt || j.publishedAtGuess);\n\n  const metaDesc = getMetaContent(html, \"description\", \"name\");\n  const ogDesc = getMetaContent(html, \"og:description\", \"property\");\n\n  const main = extractMainBlock(html);\n  let text = extractParagraphs(main);\n  if (!text) text = stripTags(main).slice(0, 20000);\n  text = truncate(text, MAX_TEXT_CHARS);\n\n  let snippet = metaDesc || ogDesc || j.snippet || j.snippetGuess || (text ? text.slice(0, 280) : \"\");\n  snippet = truncate(snippet, MAX_SNIPPET_CHARS);\n\n  return {\n    json: {\n      ...j,\n      title,\n      articleTitle: title,\n      publishedAt: publishedAt || j.publishedAt || null,\n      snippet,\n      text,\n      parseMethod: \"html_regex_v3\",\n      parsedAt: new Date().toISOString(),\n      _articlesLoopReset: false,\n    },\n  };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        -176
      ],
      "id": "30f10254-1e03-4448-938d-0b6f0368fdd8",
      "name": "S16 - Parse Article"
    },
    {
      "parameters": {
        "jsCode": "const LOOKBACK_DAYS = 120;\nconst MAX_TEXT_LEN = 12000;\n\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - LOOKBACK_DAYS);\n\nfunction parseDate(v) {\n  if (!v) return null;\n  const d = new Date(v);\n  return isNaN(d.getTime()) ? null : d;\n}\n\nreturn $input.all().map((item) => {\n  const j = item.json || {};\n\n  let runAI = true;\n  let filterReason = \"date_ok_or_missing\";\n\n  const p = parseDate(j.publishedAt);\n  if (p && p < cutoff) {\n    runAI = false;\n    filterReason = `too_old:${j.publishedAt}`;\n  }\n\n  const contentRaw = String(j.text || j.snippet || \"\");\n  let content = contentRaw.slice(0, MAX_TEXT_LEN);\n  if (contentRaw.length > MAX_TEXT_LEN) {\n    content += \"\\n...[CONTENT TRUNCATED]...\";\n  }\n\n  const payload = {\n    source: j.source || \"boursorama\",\n    title: j.title || j.articleTitle || \"No title\",\n    date: j.publishedAt || \"unknown\",\n    url: j.articleCanonicalUrl || j.canonicalUrl || j.articleUrl || j.url || \"\",\n    snippet: String(j.snippet || \"\").slice(0, 800),\n    content,\n  };\n\n  return {\n    json: {\n      ...j,\n      company_name: j.companyName || j.company_name || j.symbol || \"Unknown\",\n      isin: j.isin || null,\n      llmInput: JSON.stringify(payload),\n      _runAI: runAI,\n      _filterReason: filterReason,\n      _articlesLoopReset: false,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -176
      ],
      "id": "2f75a97b-a6cd-43ff-9f45-042b4d11f4c6",
      "name": "S17 - Prepare LLM Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "runai",
              "leftValue": "={{ $json._runAI }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2480,
        -176
      ],
      "id": "f385ab13-b63f-44bb-a8eb-c9ca0ec21280",
      "name": "S18 - IF Run AI?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un analyste buy-side specialise news single-stock. N'utilise QUE les informations fournies, n'invente rien. Si la correspondance entreprise est ambigue ou absente, retourne isRelevant=false. Rubric impactScore: -10 catastrophique, -7 a -4 negatif, -3 a -1 legerement negatif, 0 neutre/bruit, +1 a +3 legerement positif, +4 a +7 positif, +8 a +10 exceptionnel. Reponds uniquement en JSON valide selon le schema impose."
            },
            {
              "content": "=TARGET:\n- symbol: {{ $json.symbol }}\n- name: {{ $json.company_name }}\n- isin: {{ $json.isin }}\n\nNEWS:\n{{ $json.llmInput }}\n\nRegles:\n- Si la news ne concerne pas explicitement TARGET -> isRelevant=false, impactScore=0, sentiment=Neutral, category=Noise.\n- Si ambigu / doute -> isRelevant=false."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "specific_stock_news_v2",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"isRelevant\": { \"type\": \"boolean\" },\n    \"relevanceReason\": { \"type\": \"string\" },\n    \"impactScore\": { \"type\": \"integer\", \"minimum\": -10, \"maximum\": 10 },\n    \"sentiment\": { \"type\": \"string\", \"enum\": [\"Bullish\", \"Bearish\", \"Neutral\"] },\n    \"category\": { \"type\": \"string\", \"enum\": [\"Earnings\", \"M&A\", \"Contract/Product\", \"Management\", \"Analyst Rating\", \"Macro/Sector\", \"Legal/Reg\", \"Noise\"] },\n    \"summary\": { \"type\": \"string\" },\n    \"confidence\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 },\n    \"horizon\": { \"type\": \"string\", \"enum\": [\"Intraday\", \"Days\", \"Weeks\", \"Months\"] },\n    \"urgency\": { \"type\": \"string\", \"enum\": [\"Low\", \"Medium\", \"High\"] },\n    \"suggestedSignal\": { \"type\": \"string\", \"enum\": [\"BUY\", \"SELL\", \"NEUTRAL\", \"WATCH\"] },\n    \"keyDrivers\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 2, \"maxItems\": 5 },\n    \"needsFollowUp\": { \"type\": \"boolean\" }\n  },\n  \"required\": [\"isRelevant\", \"relevanceReason\", \"impactScore\", \"sentiment\", \"category\", \"summary\", \"confidence\", \"horizon\", \"urgency\", \"suggestedSignal\", \"keyDrivers\", \"needsFollowUp\"]\n}",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2704,
        -256
      ],
      "id": "31f66369-d4ed-4865-84c4-e78944f4f7d9",
      "name": "S19 - Analyze with OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2928,
        -176
      ],
      "id": "3f6a478c-f4ef-4f8d-a988-257d813f6ea2",
      "name": "S19M - Merge AI + Context"
    },
    {
      "parameters": {
        "jsCode": "function safeParse(value) {\n  try {\n    if (typeof value === \"object\" && value !== null) return value;\n    return JSON.parse(value);\n  } catch {\n    return {};\n  }\n}\n\nfunction clampScore(v, lo, hi, dflt) {\n  const n = Number(v);\n  if (!Number.isFinite(n)) return dflt;\n  return Math.max(lo, Math.min(hi, Math.round(n)));\n}\n\nfunction cleanSentiment(v) {\n  const s = String(v || \"\").trim();\n  if ([\"Bullish\", \"Bearish\", \"Neutral\"].includes(s)) return s;\n  return \"Neutral\";\n}\n\nfunction cleanHorizon(v) {\n  const s = String(v || \"\").trim();\n  if ([\"Intraday\", \"Days\", \"Weeks\", \"Months\"].includes(s)) return s;\n  return \"Days\";\n}\n\nfunction cleanUrgency(v) {\n  const s = String(v || \"\").trim();\n  if ([\"Low\", \"Medium\", \"High\"].includes(s)) return s;\n  return \"Low\";\n}\n\nfunction cleanSignal(v) {\n  const s = String(v || \"\").trim();\n  if ([\"BUY\", \"SELL\", \"NEUTRAL\", \"WATCH\"].includes(s)) return s;\n  return \"WATCH\";\n}\n\nfunction cleanDrivers(v) {\n  if (!Array.isArray(v)) return \"\";\n  const arr = v\n    .map((x) => String(x || \"\").trim())\n    .filter(Boolean)\n    .slice(0, 5);\n  return arr.join(\" | \");\n}\n\nfunction toBool(v, d = false) {\n  if (typeof v === \"boolean\") return v;\n  if (v == null) return d;\n  const s = String(v).trim().toLowerCase();\n  if ([\"1\", \"true\", \"yes\", \"y\"].includes(s)) return true;\n  if ([\"0\", \"false\", \"no\", \"n\"].includes(s)) return false;\n  return d;\n}\n\nconst j = $json || {};\nconst raw = j.output?.[0]?.content?.[0]?.text || j.content || \"{}\";\nconst ai = safeParse(raw);\nconst nowIso = new Date().toISOString();\n\nconst isRelevant = typeof ai.isRelevant === \"boolean\" ? ai.isRelevant : true;\nconst impactScore = isRelevant ? clampScore(ai.impactScore, -10, 10, 0) : 0;\nconst sentiment = isRelevant ? cleanSentiment(ai.sentiment) : \"Neutral\";\nconst category = isRelevant ? String(ai.category || \"Noise\").trim() : \"Noise\";\nconst suggestedSignal = isRelevant ? cleanSignal(ai.suggestedSignal) : \"WATCH\";\nconst urgency = isRelevant ? cleanUrgency(ai.urgency) : \"Low\";\nconst confidence = clampScore(ai.confidence, 0, 100, isRelevant ? 50 : 0);\nconst horizon = cleanHorizon(ai.horizon);\nconst keyDrivers = cleanDrivers(ai.keyDrivers);\nconst needsFollowUp = toBool(ai.needsFollowUp, false);\n\nreturn [\n  {\n    json: {\n      run_id: j.run_id || \"\",\n      db_path: j.db_path || \"/files/duckdb/ag4_spe_v2.duckdb\",\n      newsId: j.newsId || null,\n      symbol: j.symbol || \"UNKNOWN\",\n      companyName: j.companyName || j.symbol || \"\",\n      source: j.source || \"boursorama\",\n      boursoramaRef: j.boursoramaRef || \"\",\n      listingUrl: j.actualitesUrl || \"\",\n      url: j.articleUrl || j.url || \"\",\n      canonicalUrl: j.articleCanonicalUrl || j.canonicalUrl || j.articleUrl || j.url || \"\",\n      title: j.articleTitle || j.title || j.articleTitleGuess || \"\",\n      publishedAt: j.publishedAt || null,\n      snippet: j.snippet || \"\",\n      text: j.text || \"\",\n      summary: String(ai.summary || \"\").trim(),\n      category,\n      impactScore,\n      sentiment,\n      confidence,\n      horizon,\n      urgency,\n      suggestedSignal,\n      keyDrivers,\n      needsFollowUp,\n      isRelevant,\n      relevanceReason: String(ai.relevanceReason || \"\").trim(),\n      action: \"analyze\",\n      reason: j._reason || \"new_item\",\n      status: \"ANALYZED\",\n      firstSeenAt: j.firstSeenAt || j.seenNowAt || nowIso,\n      analyzedAt: nowIso,\n      fetchedAt: nowIso,\n      _articlesLoopReset: false,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        -176
      ],
      "id": "783d68f2-1df2-40df-a8cb-b1d7dbb51807",
      "name": "S20 - Parse LLM Output"
    },
    {
      "parameters": {
        "jsCode": "function toBool(v, fallback = true) {\n  if (typeof v === \"boolean\") return v;\n  if (v == null) return fallback;\n  const s = String(v).trim().toLowerCase();\n  if ([\"1\", \"true\", \"yes\", \"y\"].includes(s)) return true;\n  if ([\"0\", \"false\", \"no\", \"n\"].includes(s)) return false;\n  return fallback;\n}\n\nfunction pickReason(j) {\n  if (j._reason) return String(j._reason);\n  if (j._filterReason) return String(j._filterReason);\n  if (j.statusCode && Number(j.statusCode) !== 200) return \"article_http_error\";\n  return \"skipped\";\n}\n\nfunction pickStatus(reason) {\n  if (reason === \"duplicate_known\") return \"SKIPPED_DUPLICATE\";\n  if (String(reason).startsWith(\"too_old\")) return \"SKIPPED_TOO_OLD\";\n  if (reason === \"article_http_error\") return \"ARTICLE_HTTP_ERROR\";\n  return \"SKIPPED\";\n}\n\nconst j = $json || {};\nconst nowIso = new Date().toISOString();\n\nconst reason = pickReason(j);\n\nreturn [\n  {\n    json: {\n      run_id: j.run_id || \"\",\n      db_path: j.db_path || \"/files/duckdb/ag4_spe_v2.duckdb\",\n      newsId: j.newsId || null,\n      symbol: j.symbol || \"UNKNOWN\",\n      companyName: j.companyName || j.symbol || \"\",\n      source: j.source || \"boursorama\",\n      boursoramaRef: j.boursoramaRef || \"\",\n      listingUrl: j.actualitesUrl || \"\",\n      url: j.articleUrl || j.url || \"\",\n      canonicalUrl: j.articleCanonicalUrl || j.canonicalUrl || j.articleUrl || j.url || \"\",\n      title: j.articleTitle || j.title || j.articleTitleGuess || \"\",\n      publishedAt: j.publishedAt || j.publishedAtGuess || null,\n      snippet: j.snippet || j.snippetGuess || \"\",\n      text: j.text || \"\",\n      summary: j.summary || \"\",\n      category: j.category || \"Noise\",\n      impactScore: Number.isFinite(Number(j.impactScore)) ? Number(j.impactScore) : 0,\n      sentiment: j.sentiment || \"Neutral\",\n      confidence: Number.isFinite(Number(j.confidence)) ? Number(j.confidence) : 0,\n      horizon: j.horizon || \"Days\",\n      urgency: j.urgency || \"Low\",\n      suggestedSignal: j.suggestedSignal || \"WATCH\",\n      keyDrivers: j.keyDrivers || \"\",\n      needsFollowUp: toBool(j.needsFollowUp, false),\n      isRelevant: toBool(j.isRelevant, true),\n      relevanceReason: j.relevanceReason || j._filterReason || \"Skipped\",\n      action: \"skip\",\n      reason,\n      status: j.status || pickStatus(reason),\n      firstSeenAt: j.firstSeenAt || j.seenNowAt || nowIso,\n      analyzedAt: j.analyzedAt || nowIso,\n      fetchedAt: nowIso,\n      _articlesLoopReset: false,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        0
      ],
      "id": "52b64b59-ef74-4015-b0ca-ef631748ccf2",
      "name": "S21 - Build Skip Row"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport hashlib\nimport time\nfrom contextlib import contextmanager\nfrom datetime import date, datetime, timezone\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_int(v, d=0):\n    try:\n        if v is None or v == \"\":\n            return d\n        return int(round(float(v)))\n    except Exception:\n        return d\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    return str(v)\n\n\ndef to_bool(v, d=True):\n    if isinstance(v, bool):\n        return v\n    if v is None:\n        return d\n    s = str(v).strip().lower()\n    if s in (\"1\", \"true\", \"yes\", \"y\"):\n        return True\n    if s in (\"0\", \"false\", \"no\", \"n\"):\n        return False\n    return d\n\n\ndef ensure_utc(dt):\n    if dt is None:\n        return None\n    if dt.tzinfo is None or dt.tzinfo.utcoffset(dt) is None:\n        return dt.replace(tzinfo=timezone.utc)\n    return dt.astimezone(timezone.utc)\n\n\ndef parse_ts(v):\n    if v is None:\n        return None\n    if isinstance(v, (datetime, date)):\n        if isinstance(v, date) and not isinstance(v, datetime):\n            return datetime(v.year, v.month, v.day, tzinfo=timezone.utc)\n        return ensure_utc(v)\n\n    s = str(v).strip()\n    if not s:\n        return None\n    if s.endswith(\"Z\"):\n        s = s[:-1] + \"+00:00\"\n\n    try:\n        return ensure_utc(datetime.fromisoformat(s))\n    except Exception:\n        pass\n\n    try:\n        d = datetime.strptime(s, \"%d.%m.%Y\")\n        return ensure_utc(d)\n    except Exception:\n        return None\n\n\ndef build_news_id(symbol, canonical_url):\n    seed = f\"{str(symbol or '').upper()}|{str(canonical_url or '')}\"\n    return hashlib.sha1(seed.encode(\"utf-8\")).hexdigest()\n\n\nitems = _items or []\nif len(items) == 0:\n    return []\n\ndb_path = str((items[0].get(\"json\", {}) or {}).get(\"db_path\") or DEFAULT_DB_PATH)\n\nwith db_con(db_path) as con:\n    for it in items:\n        j = dict(it.get(\"json\", {}) or {})\n\n        symbol = str(j.get(\"symbol\", \"\") or \"\").upper()\n        canonical_url = str(j.get(\"canonicalUrl\", \"\") or j.get(\"url\", \"\") or \"\")\n        news_id = str(j.get(\"newsId\", \"\") or \"\").strip()\n        if not news_id:\n            news_id = build_news_id(symbol, canonical_url)\n\n        run_id = str(j.get(\"run_id\", \"\") or \"\")\n        company_name = to_text(j.get(\"companyName\", \"\"))\n        source = to_text(j.get(\"source\", \"boursorama\"))\n        boursorama_ref = to_text(j.get(\"boursoramaRef\", \"\"))\n        listing_url = to_text(j.get(\"listingUrl\", \"\"))\n        url = to_text(j.get(\"url\", canonical_url))\n        title = to_text(j.get(\"title\", \"\"))\n        published_at_raw = to_text(j.get(\"publishedAt\", \"\"))\n        published_at = parse_ts(j.get(\"publishedAt\"))\n        snippet = to_text(j.get(\"snippet\", \"\"))\n        text = to_text(j.get(\"text\", \"\"))\n        summary = to_text(j.get(\"summary\", \"\"))\n        category = to_text(j.get(\"category\", \"Noise\"))\n        impact_score = to_int(j.get(\"impactScore\"), 0)\n        sentiment = to_text(j.get(\"sentiment\", \"Neutral\"))\n        confidence_score = to_int(j.get(\"confidence\"), 0)\n        horizon = to_text(j.get(\"horizon\", \"Days\"))\n        urgency = to_text(j.get(\"urgency\", \"Low\"))\n        suggested_signal = to_text(j.get(\"suggestedSignal\", \"WATCH\"))\n        key_drivers = to_text(j.get(\"keyDrivers\", \"\"))\n        needs_follow_up = to_bool(j.get(\"needsFollowUp\"), False)\n        is_relevant = to_bool(j.get(\"isRelevant\"), True)\n        relevance_reason = to_text(j.get(\"relevanceReason\", \"\"))\n        action = to_text(j.get(\"action\", \"skip\"))\n        reason = to_text(j.get(\"reason\", \"\"))\n        status = to_text(j.get(\"status\", \"\"))\n        now_utc = datetime.now(timezone.utc)\n        incoming_first_seen = parse_ts(j.get(\"firstSeenAt\")) or parse_ts(j.get(\"publishedAt\")) or now_utc\n        incoming_last_seen = parse_ts(j.get(\"lastSeenAt\")) or now_utc\n        analyzed_at = parse_ts(j.get(\"analyzedAt\")) or now_utc\n        fetched_at = parse_ts(j.get(\"fetchedAt\")) or now_utc\n\n        existing = con.execute(\n            \"SELECT first_seen_at, vector_status, vector_id, vectorized_at, chunk_total FROM news_history WHERE news_id = ?\",\n            [news_id],\n        ).fetchone()\n        existing_first_seen = parse_ts(existing[0]) if existing and existing[0] is not None else None\n        if existing_first_seen is not None and existing_first_seen < incoming_first_seen:\n            first_seen_at = existing_first_seen\n        else:\n            first_seen_at = incoming_first_seen\n\n        existing_vector_status = to_text(existing[1]) if existing and existing[1] is not None else \"\"\n        existing_vector_id = to_text(existing[2]) if existing and existing[2] is not None else \"\"\n        existing_vectorized_at = parse_ts(existing[3]) if existing and existing[3] is not None else None\n        existing_chunk_total = to_int(existing[4], None) if existing and existing[4] is not None else None\n\n        should_vectorize = action == \"analyze\" and is_relevant and bool((text or \"\").strip() or (summary or \"\").strip() or (snippet or \"\").strip())\n        vector_status = \"PENDING\" if should_vectorize else \"SKIPPED\"\n        if existing_vector_status in (\"DONE\", \"PENDING\"):\n            vector_status = existing_vector_status\n        vector_id = existing_vector_id if existing_vector_status == \"DONE\" else \"\"\n        vectorized_at = existing_vectorized_at if existing_vector_status == \"DONE\" else None\n        chunk_total = existing_chunk_total if existing_chunk_total is not None else None\n\n        con.execute(\n            \"\"\"\n            INSERT OR REPLACE INTO news_history (\n              news_id, run_id, symbol, company_name, source, boursorama_ref, listing_url,\n              url, canonical_url, title, published_at, published_at_raw, snippet, text,\n              summary, category, impact_score, sentiment, confidence_score, horizon,\n              urgency, suggested_signal, key_drivers, needs_follow_up, is_relevant, relevance_reason,\n              action, reason, status, vector_status, vector_id, vectorized_at, chunk_total,\n              first_seen_at, last_seen_at, analyzed_at, fetched_at,\n              updated_at\n            )\n            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\n            \"\"\",\n            [\n                news_id,\n                run_id,\n                symbol,\n                company_name,\n                source,\n                boursorama_ref,\n                listing_url,\n                url,\n                canonical_url,\n                title,\n                published_at,\n                published_at_raw,\n                snippet,\n                text,\n                summary,\n                category,\n                impact_score,\n                sentiment,\n                confidence_score,\n                horizon,\n                urgency,\n                suggested_signal,\n                key_drivers,\n                needs_follow_up,\n                is_relevant,\n                relevance_reason,\n                action,\n                reason,\n                status,\n                vector_status,\n                vector_id,\n                vectorized_at,\n                chunk_total,\n                first_seen_at,\n                incoming_last_seen,\n                analyzed_at,\n                fetched_at,\n            ],\n        )\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        -80
      ],
      "id": "596f94d7-5f40-40a4-b34f-a718f13cd994",
      "name": "S22 - Upsert News DuckDB"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport time\nfrom contextlib import contextmanager\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\nitems = _items or []\nrun_id = \"\"\ndb_path = DEFAULT_DB_PATH\n\nfor it in items:\n    j = it.get(\"json\", {}) or {}\n    if not run_id:\n        run_id = str(j.get(\"run_id\", \"\") or \"\")\n    if j.get(\"db_path\"):\n        db_path = str(j.get(\"db_path\"))\n\nwith db_con(db_path) as con:\n    if not run_id:\n        rr = con.execute(\n            \"SELECT run_id FROM run_log WHERE status = 'RUNNING' ORDER BY started_at DESC LIMIT 1\"\n        ).fetchone()\n        run_id = str(rr[0]) if rr and rr[0] else \"\"\n\n    if not run_id:\n        return [{\"json\": {\"status\": \"NO_RUN\", \"run_id\": \"\", \"db_path\": db_path}}]\n\n    r = con.execute(\"SELECT COALESCE(symbols_total, 0) FROM run_log WHERE run_id = ?\", [run_id]).fetchone()\n    symbols_total = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(DISTINCT symbol) FROM news_history WHERE run_id = ?\", [run_id]).fetchone()\n    symbols_ok = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(DISTINCT symbol) FROM news_errors WHERE run_id = ?\", [run_id]).fetchone()\n    symbols_error = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(*) FROM news_history WHERE run_id = ?\", [run_id]).fetchone()\n    articles_total = int(r[0]) if r else 0\n\n    r = con.execute(\n        \"SELECT COUNT(*) FROM news_history WHERE run_id = ? AND action = 'analyze'\",\n        [run_id],\n    ).fetchone()\n    items_analyzed = int(r[0]) if r else 0\n\n    r = con.execute(\n        \"SELECT COUNT(*) FROM news_history WHERE run_id = ? AND action = 'skip'\",\n        [run_id],\n    ).fetchone()\n    items_skipped = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(*) FROM news_errors WHERE run_id = ?\", [run_id]).fetchone()\n    errors_logged = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COALESCE(vector_docs_written, 0) FROM run_log WHERE run_id = ?\", [run_id]).fetchone()\n    vector_docs_written = int(r[0]) if r else 0\n\n    if symbols_total == 0:\n        status = \"NO_DATA\"\n    elif articles_total > 0 and errors_logged == 0:\n        status = \"SUCCESS\"\n    elif articles_total > 0 and errors_logged > 0:\n        status = \"PARTIAL\"\n    elif articles_total == 0 and errors_logged > 0:\n        status = \"FAILED\"\n    else:\n        status = \"NO_OUTPUT\"\n\n    con.execute(\n        \"\"\"\n        UPDATE run_log\n        SET finished_at = CURRENT_TIMESTAMP,\n            status = ?,\n            symbols_ok = ?,\n            symbols_error = ?,\n            articles_total = ?,\n            items_analyzed = ?,\n            items_skipped = ?,\n            errors_logged = ?,\n            error_detail = ?\n        WHERE run_id = ?\n        \"\"\",\n        [status, symbols_ok, symbols_error, articles_total, items_analyzed, items_skipped, errors_logged, None, run_id],\n    )\n\nreturn [\n    {\n        \"json\": {\n            \"run_id\": run_id,\n            \"db_path\": db_path,\n            \"status\": status,\n            \"symbols_total\": symbols_total,\n            \"symbols_ok\": symbols_ok,\n            \"symbols_error\": symbols_error,\n            \"articles_total\": articles_total,\n            \"items_analyzed\": items_analyzed,\n            \"items_skipped\": items_skipped,\n            \"errors_logged\": errors_logged,\n            \"vector_docs_written\": vector_docs_written,\n        }\n    }\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -256
      ],
      "id": "0a5ecf81-f16e-49e1-aeb2-12096f68e77d",
      "name": "S24 - Finalize Run"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport json\nimport os\nimport re\nimport time\nfrom contextlib import contextmanager\nfrom datetime import date, datetime\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\nQDRANT_URL = os.getenv(\"QDRANT_URL\", \"http://qdrant:6333\").rstrip(\"/\")\nQDRANT_API_KEY = os.getenv(\"QDRANT_API_KEY\", \"\")\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path, read_only=True)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    return str(v).strip()\n\n\ndef sanitize_id(value):\n    value = to_text(value)\n    return re.sub(r\"[^a-zA-Z0-9_-]\", \"_\", value)\n\n\ndef pick_run_id(items):\n    for it in items:\n        d = it.get(\"json\", {}) or {}\n        rid = to_text(d.get(\"run_id\"))\n        if rid:\n            return rid\n    return \"\"\n\n\ndef pick_db_path(items):\n    for it in items:\n        d = it.get(\"json\", {}) or {}\n        p = to_text(d.get(\"db_path\"))\n        if p:\n            return p\n    return DEFAULT_DB_PATH\n\n\ndef json_default(v):\n    if isinstance(v, (datetime, date)):\n        return v.isoformat()\n    return str(v)\n\n\ndef add_line(lines, value):\n    s = to_text(value)\n    if s:\n        lines.append(s)\n\n\ndef build_text(payload):\n    lines = []\n\n    add_line(lines, f\"[TARGET] {payload.get('symbol')} ({payload.get('company_name') or payload.get('symbol')})\")\n    add_line(lines, \"[DOC_KIND] NEWS\")\n    add_line(lines, f\"[RUN] {payload.get('run_id')} | [ASOF] {payload.get('published_at')}\")\n    add_line(lines, f\"[SOURCE] {payload.get('source')} | urgency={payload.get('urgency')} | horizon={payload.get('horizon')}\")\n    add_line(lines, \"\")\n\n    add_line(lines, \"[HEADLINE]\")\n    add_line(lines, payload.get(\"title\"))\n    add_line(lines, \"\")\n\n    add_line(lines, \"[ANALYSIS]\")\n    add_line(lines, f\"summary={payload.get('summary')}\")\n    add_line(lines, f\"impact_score={payload.get('impact_score')} sentiment={payload.get('sentiment')} confidence={payload.get('confidence_score')}\")\n    add_line(lines, f\"signal={payload.get('suggested_signal')} category={payload.get('category')}\")\n    add_line(lines, f\"relevant={payload.get('is_relevant')} reason={payload.get('relevance_reason')}\")\n    add_line(lines, f\"key_drivers={payload.get('key_drivers')}\")\n    add_line(lines, f\"needs_follow_up={payload.get('needs_follow_up')}\")\n    add_line(lines, \"\")\n\n    add_line(lines, \"[CONTENT]\")\n    add_line(lines, payload.get(\"snippet\"))\n    add_line(lines, payload.get(\"text\"))\n    add_line(lines, \"\")\n\n    add_line(lines, \"[URL]\")\n    add_line(lines, payload.get(\"canonical_url\") or payload.get(\"url\"))\n\n    return \"\\n\".join(lines).strip()\n\n\nitems = _items or []\nrun_id = pick_run_id(items)\ndb_path = pick_db_path(items)\n\nwith db_con(db_path) as con:\n    if not run_id:\n        row = con.execute(\"SELECT run_id FROM run_log ORDER BY started_at DESC LIMIT 1\").fetchone()\n        run_id = to_text(row[0]) if row else \"\"\n\n    if not run_id:\n        return []\n\n    stats = con.execute(\n        \"\"\"\n        SELECT\n          COUNT(*) AS total_rows,\n          SUM(CASE WHEN action = 'analyze' THEN 1 ELSE 0 END) AS analyzed_rows,\n          SUM(CASE WHEN action = 'analyze' AND COALESCE(is_relevant, TRUE) = TRUE THEN 1 ELSE 0 END) AS relevant_analyzed_rows,\n          SUM(CASE WHEN action = 'analyze' AND COALESCE(is_relevant, TRUE) = TRUE\n                    AND LENGTH(TRIM(COALESCE(text, summary, snippet, ''))) > 0 THEN 1 ELSE 0 END) AS with_content_rows,\n          SUM(CASE WHEN vector_status = 'PENDING' THEN 1 ELSE 0 END) AS pending_rows\n        FROM news_history\n        WHERE run_id = ?\n        \"\"\",\n        [run_id],\n    ).fetchone()\n\n    rows = con.execute(\n        \"\"\"\n        SELECT\n          news_id,\n          run_id,\n          symbol,\n          company_name,\n          source,\n          boursorama_ref,\n          url,\n          canonical_url,\n          title,\n          published_at,\n          snippet,\n          text,\n          summary,\n          category,\n          impact_score,\n          sentiment,\n          confidence_score,\n          horizon,\n          urgency,\n          suggested_signal,\n          key_drivers,\n          needs_follow_up,\n          is_relevant,\n          relevance_reason,\n          analyzed_at\n        FROM news_history\n        WHERE run_id = ?\n          AND (vector_status IS NULL OR vector_status IN ('PENDING','FAILED'))\n          AND action = 'analyze'\n          AND COALESCE(is_relevant, TRUE) = TRUE\n          AND LENGTH(TRIM(COALESCE(text, summary, snippet, ''))) > 0\n        ORDER BY analyzed_at DESC, news_id\n        \"\"\",\n        [run_id],\n    ).fetchall()\n    cols = [d[0] for d in con.description]\n\nout = []\nfor tup in rows:\n    row = dict(zip(cols, tup))\n    news_id = to_text(row.get(\"news_id\"))\n    if not news_id:\n        continue\n\n    payload = {k: row.get(k) for k in cols}\n    payload[\"schema_version\"] = \"VectorDoc_v2\"\n    payload[\"db_path\"] = db_path\n\n    point_id = sanitize_id(f\"news_{news_id}\")\n    text = build_text(payload)\n\n    metadata = {\n        \"id\": point_id,\n        \"doc_id\": point_id,\n        \"doc_kind\": \"NEWS\",\n        \"asof_date\": to_text(payload.get(\"published_at\")),\n        \"schema_version\": \"VectorDoc_v2\",\n        \"news_id\": news_id,\n        \"run_id\": to_text(payload.get(\"run_id\")),\n        \"symbol\": to_text(payload.get(\"symbol\")),\n        \"company_name\": to_text(payload.get(\"company_name\")),\n        \"source\": to_text(payload.get(\"source\")),\n        \"published_at\": to_text(payload.get(\"published_at\")),\n        \"impact_score\": payload.get(\"impact_score\"),\n        \"confidence_score\": payload.get(\"confidence_score\"),\n        \"sentiment\": to_text(payload.get(\"sentiment\")),\n        \"category\": to_text(payload.get(\"category\")),\n        \"suggested_signal\": to_text(payload.get(\"suggested_signal\")),\n        \"urgency\": to_text(payload.get(\"urgency\")),\n        \"horizon\": to_text(payload.get(\"horizon\")),\n        \"is_relevant\": bool(payload.get(\"is_relevant\")),\n        \"qdrant_url\": QDRANT_URL,\n        \"qdrant_api_key\": QDRANT_API_KEY,\n        \"db_path\": db_path,\n        \"payload_json\": json.dumps(payload, ensure_ascii=False, default=json_default),\n    }\n\n    out.append({\"json\": {\"text\": text, \"metadata\": metadata, \"_vectorNoop\": False}})\n\nif len(out) == 0:\n    return [\n        {\n            \"json\": {\n                \"_vectorNoop\": True,\n                \"run_id\": run_id,\n                \"db_path\": db_path,\n                \"vectorStats\": {\n                    \"totalRows\": int(stats[0]) if stats and stats[0] is not None else 0,\n                    \"analyzedRows\": int(stats[1]) if stats and stats[1] is not None else 0,\n                    \"relevantAnalyzedRows\": int(stats[2]) if stats and stats[2] is not None else 0,\n                    \"withContentRows\": int(stats[3]) if stats and stats[3] is not None else 0,\n                    \"pendingRows\": int(stats[4]) if stats and stats[4] is not None else 0,\n                },\n                \"message\": \"No vector docs for this run (nothing with vector_status=PENDING and relevant analyzed content).\",\n            }\n        }\n    ]\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -256
      ],
      "id": "1ec54a93-8eec-4ff0-aa28-9b37a1912dc7",
      "name": "S25 - Build Vector Docs",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-vector-docs",
              "leftValue": "={{ $json._vectorNoop || false }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -256
      ],
      "id": "8a492ee9-8276-4fd5-9d5f-02d64db00943",
      "name": "S25A - IF Has Vector Docs?"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        -368
      ],
      "id": "c7b4970c-c281-4e15-9ec6-f0188ef4abf7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 1200,
        "chunkOverlap": 120,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -208,
        -112
      ],
      "id": "0de9972c-c071-4d35-888f-4a65ab3402ed",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.metadata.id }}"
              },
              {
                "name": "news_id",
                "value": "={{ $json.metadata.news_id }}"
              },
              {
                "name": "run_id",
                "value": "={{ $json.metadata.run_id }}"
              },
              {
                "name": "symbol",
                "value": "={{ $json.metadata.symbol }}"
              },
              {
                "name": "company_name",
                "value": "={{ $json.metadata.company_name }}"
              },
              {
                "name": "source",
                "value": "={{ $json.metadata.source }}"
              },
              {
                "name": "published_at",
                "value": "={{ $json.metadata.published_at }}"
              },
              {
                "name": "impact_score",
                "value": "={{ $json.metadata.impact_score }}"
              },
              {
                "name": "confidence_score",
                "value": "={{ $json.metadata.confidence_score }}"
              },
              {
                "name": "sentiment",
                "value": "={{ $json.metadata.sentiment }}"
              },
              {
                "name": "category",
                "value": "={{ $json.metadata.category }}"
              },
              {
                "name": "suggested_signal",
                "value": "={{ $json.metadata.suggested_signal }}"
              },
              {
                "name": "urgency",
                "value": "={{ $json.metadata.urgency }}"
              },
              {
                "name": "horizon",
                "value": "={{ $json.metadata.horizon }}"
              },
              {
                "name": "is_relevant",
                "value": "={{ $json.metadata.is_relevant }}"
              },
              {
                "name": "db_path",
                "value": "={{ $json.metadata.db_path }}"
              },
              {
                "name": "doc_id",
                "value": "={{ $json.metadata.id }}"
              },
              {
                "name": "schema_version",
                "value": "={{ $json.metadata.schema_version }}"
              },
              {
                "name": "doc_kind",
                "value": "={{ $json.metadata.doc_kind }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -208,
        80
      ],
      "id": "af0397cc-cf5d-45c5-bfea-864338f6038f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "financial_news_v3_clean"
        },
        "options": {
          "collectionConfig": {
            "similarity": "Cosine"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        16,
        -176
      ],
      "id": "d620516f-f48b-4e77-a177-4373585454fe",
      "name": "Qdrant Upsert",
      "credentials": {
        "qdrantApi": {
          "id": "q1CRmg2N6AmW6pC1",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb\nimport gc\nimport time\nfrom contextlib import contextmanager\n\nDEFAULT_DB_PATH = \"/files/duckdb/ag4_spe_v2.duckdb\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            if \"lock\" in str(exc).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    return str(v).strip()\n\n\nitems = _items or []\nif len(items) == 0:\n    return []\n\ndb_path = DEFAULT_DB_PATH\nagg = {}\nrun_ids = set()\n\nfor it in items:\n    d = it.get(\"json\", {}) or {}\n    meta = d.get(\"metadata\") or {}\n\n    news_id = to_text(meta.get(\"news_id\") or d.get(\"news_id\"))\n    run_id = to_text(meta.get(\"run_id\") or d.get(\"run_id\"))\n    vector_id = to_text(meta.get(\"doc_id\") or meta.get(\"id\") or news_id)\n    local_db_path = to_text(meta.get(\"db_path\") or d.get(\"db_path\"))\n\n    if local_db_path:\n        db_path = local_db_path\n    if not news_id:\n        continue\n\n    row = agg.get(news_id) or {\"run_id\": run_id, \"vector_id\": vector_id, \"chunk_total\": 0}\n    row[\"chunk_total\"] += 1\n    if vector_id and not row.get(\"vector_id\"):\n        row[\"vector_id\"] = vector_id\n    if run_id:\n        row[\"run_id\"] = run_id\n    agg[news_id] = row\n\n    if run_id:\n        run_ids.add(run_id)\n\nif len(agg) == 0:\n    return items\n\nwith db_con(db_path) as con:\n    for news_id, data in agg.items():\n        con.execute(\n            \"\"\"\n            UPDATE news_history\n            SET vector_status = 'DONE',\n                vector_id = COALESCE(NULLIF(?, ''), vector_id),\n                chunk_total = ?,\n                vectorized_at = CURRENT_TIMESTAMP,\n                updated_at = CURRENT_TIMESTAMP\n            WHERE news_id = ?\n            \"\"\",\n            [to_text(data.get(\"vector_id\")), int(data.get(\"chunk_total\") or 0), news_id],\n        )\n\n    for run_id in run_ids:\n        rec = con.execute(\n            \"\"\"\n            SELECT COUNT(*)\n            FROM news_history\n            WHERE run_id = ? AND vector_status = 'DONE'\n            \"\"\",\n            [run_id],\n        ).fetchone()\n        done_count = int(rec[0]) if rec else 0\n        con.execute(\n            \"UPDATE run_log SET vector_docs_written = ? WHERE run_id = ?\",\n            [done_count, run_id],\n        )\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -176
      ],
      "id": "4f55a2f7-6f33-4d62-9ebe-3641d9c37ef4",
      "name": "S26 - Mark Vectorized",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "AG4_Spe-V2: Universe from Google Sheets, specific stock news from Boursorama, dedupe + analysis + storage in DuckDB + vectorization to Qdrant financial_news_v3_clean.",
        "height": 180,
        "width": 1680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1940,
        -352
      ],
      "id": "85dd69e0-12f0-4b3a-a7f3-2fbd52a0f67d",
      "name": "Note AG4_Spe-V2"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        -176
      ],
      "id": "84b7e1b2-e7f1-4b8c-9972-2b2957d64849",
      "name": "Split Vector Docs (NEWS)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (($json.metadata && $json.metadata.qdrant_url) || 'http://qdrant:6333') + '/collections/financial_news_v3_clean/points/delete?wait=true&ordering=strong' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ ($json.metadata && $json.metadata.qdrant_api_key) || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"filter\": { \"must\": [ { \"key\": \"doc_id\", \"match\": { \"value\": (($json.metadata && ($json.metadata.doc_id || $json.metadata.id)) || $json.doc_id || $json.id) } } ] } } }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -176
      ],
      "id": "f8cb47f1-737d-4046-ad6e-e4db22c91a2a",
      "name": "Qdrant Delete (NEWS by doc_id)"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "S00A - Load Universe (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "S00A - Load Universe (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S00A - Load Universe (Google Sheets)": {
      "main": [
        [
          {
            "node": "S00B - DuckDB Init Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S00B - DuckDB Init Schema": {
      "main": [
        [
          {
            "node": "S01 - Build Symbol Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S01 - Build Symbol Queue": {
      "main": [
        [
          {
            "node": "S02 - Start Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S02 - Start Run": {
      "main": [
        [
          {
            "node": "S03 - Split Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S03 - Split Symbols": {
      "main": [
        [
          {
            "node": "S24 - Finalize Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "S25 - Build Vector Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S04 - HTTP Listing Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "S04M - Merge Symbol + Listing",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "S04 - HTTP Listing Page": {
      "main": [
        [
          {
            "node": "S04M - Merge Symbol + Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S04M - Merge Symbol + Listing": {
      "main": [
        [
          {
            "node": "S05 - IF Listing 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S05 - IF Listing 200?": {
      "main": [
        [
          {
            "node": "S06 - Extract Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S05E - Build Listing Error Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S05E - Build Listing Error Row": {
      "main": [
        [
          {
            "node": "S23L - Write Listing Errors DuckDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S23L - Write Listing Errors DuckDB": {
      "main": [
        [
          {
            "node": "S03 - Split Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S06 - Extract Articles": {
      "main": [
        [
          {
            "node": "S07 - Normalize + Dedupe + Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S07 - Normalize + Dedupe + Limit": {
      "main": [
        [
          {
            "node": "S08 - IF Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S08 - IF Has Articles?": {
      "main": [
        [
          {
            "node": "S09 - Explode Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S03 - Split Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S09 - Explode Articles": {
      "main": [
        [
          {
            "node": "S10 - Split Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S10 - Split Articles": {
      "main": [
        [
          {
            "node": "S03 - Split Symbols",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S11 - Route New vs Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S11 - Route New vs Seen": {
      "main": [
        [
          {
            "node": "S12 - Router Analyze vs Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S12 - Router Analyze vs Skip": {
      "main": [
        [
          {
            "node": "S13 - Wait Article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S21 - Build Skip Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S13 - Wait Article": {
      "main": [
        [
          {
            "node": "S14 - HTTP Article Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "S14M - Merge Article + Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "S14 - HTTP Article Page": {
      "main": [
        [
          {
            "node": "S14M - Merge Article + Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S14M - Merge Article + Response": {
      "main": [
        [
          {
            "node": "S15 - IF Article 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S15 - IF Article 200?": {
      "main": [
        [
          {
            "node": "S16 - Parse Article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S15E - Build Article Error Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "S21 - Build Skip Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S15E - Build Article Error Row": {
      "main": [
        [
          {
            "node": "S23A - Write Article Errors DuckDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S16 - Parse Article": {
      "main": [
        [
          {
            "node": "S17 - Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S17 - Prepare LLM Input": {
      "main": [
        [
          {
            "node": "S18 - IF Run AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S18 - IF Run AI?": {
      "main": [
        [
          {
            "node": "S19 - Analyze with OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "S19M - Merge AI + Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S21 - Build Skip Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S19 - Analyze with OpenAI": {
      "main": [
        [
          {
            "node": "S19M - Merge AI + Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "S19M - Merge AI + Context": {
      "main": [
        [
          {
            "node": "S20 - Parse LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S20 - Parse LLM Output": {
      "main": [
        [
          {
            "node": "S22 - Upsert News DuckDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S21 - Build Skip Row": {
      "main": [
        [
          {
            "node": "S22 - Upsert News DuckDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S22 - Upsert News DuckDB": {
      "main": [
        [
          {
            "node": "S10 - Split Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S25 - Build Vector Docs": {
      "main": [
        [
          {
            "node": "S25A - IF Has Vector Docs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "S25A - IF Has Vector Docs?": {
      "main": [
        [
          {
            "node": "Split Vector Docs (NEWS)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Vector Docs (NEWS)": {
      "main": [
        [],
        [
          {
            "node": "Qdrant Delete (NEWS by doc_id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Delete (NEWS by doc_id)": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "S26 - Mark Vectorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S26 - Mark Vectorized": {
      "main": [
        [
          {
            "node": "Split Vector Docs (NEWS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "093ba1266e85fcaaa6abca411d9f7941951737b3920bfaa6e2db89226df2c82d"
  }
}
