AG2 - étape 2 - vectorisation des données techniques.json
{
  "name": "AG2 - étape 2 - vectorisation des données techniques",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        -448
      ],
      "id": "36314565-7d61-4277-8153-eb519ed071d2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// A02 - Préparation (v7) — Alignement Sémantique \"Last Close\"\n\nconst crypto = require('crypto');\n\n// --- HELPERS ---\nfunction sha256Hex(str) {\n  return crypto.createHash('sha256').update(String(str || '')).digest('hex');\n}\nfunction generateUUID(str) {\n  const hash = sha256Hex(str);\n  return [hash.substring(0,8), hash.substring(8,12), hash.substring(12,16), hash.substring(16,20), hash.substring(20,32)].join('-');\n}\nfunction safeString(v) { return (v || '').toString().trim(); }\nfunction toNumberOrNull(v) {\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  if (typeof v === 'string') {\n    const n = Number(v.replace(',', '.'));\n    return Number.isFinite(n) ? n : null;\n  }\n  return null;\n}\nfunction fmt(n) { return (n !== null) ? Number(n.toFixed(4)) : 'N/A'; }\n\n// --- LOGIQUE D'INTERPRÉTATION ---\nfunction getQualityContext(score, decision) {\n  const s = Number(score);\n  if (!Number.isInteger(s)) return \"N/A\";\n  \n  if (s >= 9) return \"EXCELLENT (A+ Trend Following)\";\n  if (s >= 7) return \"GOOD (Standard Trend Following)\";\n  if (s >= 4) {\n    if (decision === 'WATCH') return \"WATCHLIST (Counter-Trend or Missing Info)\";\n    return \"WEAK (Uncertain)\";\n  }\n  return \"POOR (Reject/Anomaly)\";\n}\n\n// --- MAIN ---\nreturn $input.all().map(({ json }) => {\n  const j = json || {};\n\n  // 1. Identité\n  const symbol = safeString(j.Symbol || j.symbol).toUpperCase();\n  const name = safeString(j.Name || j.name || 'Unknown Company');\n  const sector = safeString(j.Sector);\n  const industry = safeString(j.Industry);\n  const assetClass = safeString(j.AssetClass);\n\n  // 2. Contexte de Marché\n  const dateStr = safeString(j.Date || new Date().toISOString());\n  const dateObj = new Date(dateStr);\n  const timestamp = Number.isFinite(dateObj.getTime()) ? dateObj.getTime() : Date.now();\n  \n  const lastClose = toNumberOrNull(j.Last_Close);\n  const sma200 = toNumberOrNull(j.SMA_200);\n  \n  let biasText = \"UNKNOWN\";\n  if (lastClose !== null && sma200 !== null) {\n    biasText = lastClose > sma200 ? \"BULLISH (Price > SMA200)\" : \"BEARISH (Price < SMA200)\";\n  }\n\n  // 3. Inputs Techniques\n  const h1Action = safeString(j.H1_Action);\n  const h1Score = safeString(j.H1_Score);\n  const h1Rationale = safeString(j.H1_Rationale);\n  const d1Action = safeString(j.D1_Action);\n  const d1Score = safeString(j.D1_Score);\n\n  // 4. Output Agent 2\n  const aiDecision = safeString(j.AI_Decision); \n  const aiQS = j.AI_QualityScore;\n  const aiReasoning = safeString(j.AI_Reasoning);\n  const aiAlignment = safeString(j.AI_Alignment);\n  const aiRegime = safeString(j.AI_Regime_D1);\n  const aiAnomalies = safeString(j.AI_Anomalies);\n  const aiStopLoss = safeString(j.AI_StopLoss);\n\n  const qualityContext = getQualityContext(aiQS, aiDecision);\n\n  // 5. Construction du Texte Vectoriel (CORRIGÉ ICI)\n  // On utilise explicitement \"Last Close Price\" pour matcher la requête de l'Agent 1\n  const doc_text = `[ENTITY PROFILE]\nCompany: ${name}\nSymbol: ${symbol}\nSector: ${sector} | Industry: ${industry} | Asset: ${assetClass}\n\n[VALIDATION VERDICT (Agent 2)]\nDecision: ${aiDecision}\nQuality: ${aiQS}/10 -> ${qualityContext}\nReasoning: ${aiReasoning}\nKey Factor: ${aiAlignment} (Regime: ${aiRegime})\nAnomalies Detected: ${aiAnomalies === '[]' ? 'None' : aiAnomalies}\nStop Loss Suggestion: ${aiStopLoss || 'None'}\n\n[MARKET CONTEXT (D1)]\nData Date: ${dateStr}\nLast Close Price: ${fmt(lastClose)} EUR\nSMA200 (Trend Support): ${fmt(sma200)}\nPrimary Bias: ${biasText}\n\n[TECHNICAL SIGNALS (Inputs)]\nH1 Signal: ${h1Action} (Score: ${h1Score}) - ${h1Rationale}\nD1 Signal: ${d1Action} (Score: ${d1Score})\nGlobal Logic: ${safeString(j.Reason)}`.trim();\n\n  // 6. ID & Hash\n  const contentHash = sha256Hex(doc_text);\n  const vectorId = generateUUID(contentHash);\n\n  return {\n    json: {\n      ...j, \n      doc_text_ready: doc_text,\n      generated_id: vectorId,\n      generatedAt_ms: timestamp,\n      \n      _metadata: {\n        symbol: symbol,\n        name: name,\n        sector: sector,\n        ai_decision: aiDecision,\n        ai_quality_score: Number(aiQS) || 0,\n        bias_sma200: (lastClose > sma200 ? 'BULLISH' : 'BEARISH'),\n        date: dateStr,\n        last_close: lastClose // Ajouté pour info, même si non utilisé par le filtre\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -256
      ],
      "id": "03b0a30c-ed68-4302-98a0-5321716d8d33",
      "name": "A02 - Préparation du Texte Vectoriel"
    },
    {
      "parameters": {
        "jsCode": "// A03 - Formatage pour mise à jour du Sheet\n\n// 1. Récupérer l'item original du Batch\nconst originalData = $('Loop Over Items1').first().json;\n\n// 2. Générer un Hash pour éviter les doublons futurs\nconst crypto = require('crypto');\nconst textContent = (originalData.doc_text_ready || '').toString();\nconst finalHash = crypto.createHash('sha256').update(textContent).digest('hex');\n\n// 3. Préparer la sortie\nreturn {\n  json: {\n    // LA CLÉ PRIMAIRE (Le numéro de ligne dans le sheet)\n    row_number: originalData.row_number,\n    \n    // Les champs à mettre à jour\n    vector_status: 'DONE',\n    vectorizedAt: new Date().toISOString(),\n    row_hash: finalHash,\n    qdrant_collection: 'financial_tech_v1'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -256
      ],
      "id": "ae9fd2fa-603a-4cd6-8cd1-72ab49482614",
      "name": "A03 - Format Data for Sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "mode": "list",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1444959091,
          "mode": "list",
          "cachedResultName": "AG2 - étape 1 - sortie",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1444959091"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vector_status": "={{ $json.vector_status }}",
            "vectorizedAt": "={{ $json.vectorizedAt }}",
            "row_hash": "={{ $json.row_hash }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Symbol",
              "displayName": "Symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "H1_Action",
              "displayName": "H1_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "H1_Score",
              "displayName": "H1_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "H1_Confidence",
              "displayName": "H1_Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "H1_Rationale",
              "displayName": "H1_Rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "D1_Action",
              "displayName": "D1_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "D1_Score",
              "displayName": "D1_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "D1_Confidence",
              "displayName": "D1_Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "D1_Rationale",
              "displayName": "D1_Rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last_Close",
              "displayName": "Last_Close",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SMA_200",
              "displayName": "SMA_200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pass_AI",
              "displayName": "Pass_AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sig_JSON",
              "displayName": "Sig_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI_Output",
              "displayName": "AI_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vector_status",
              "displayName": "vector_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vectorizedAt",
              "displayName": "vectorizedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_hash",
              "displayName": "row_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        -448
      ],
      "id": "46385539-beee-4408-b59e-734fbae39b19",
      "name": "Google Sheets (Update Status)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "mode": "list",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1444959091,
          "mode": "list",
          "cachedResultName": "AG2 - étape 1 - sortie",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1444959091"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "vector_status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -336
      ],
      "id": "e0b57181-79e9-4193-b68f-7465e756f71f",
      "name": "A01 - récupération lignes techniques1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1504,
        -256
      ],
      "id": "d3c8d2d3-1048-4a4a-acdf-36d622ebd725",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 512,
          "stripNewLines": true,
          "encodingFormat": "float"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        -16
      ],
      "id": "8181e1e7-0b02-43ba-9b3c-b3d28eaaa896",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.doc_text_ready }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "symbol",
                "value": "={{ $json.Symbol }}"
              },
              {
                "name": "date",
                "value": "={{ $json.Date }}"
              },
              {
                "name": "=AI_decision",
                "value": "={{ $json._metadata.ai_decision }}"
              },
              {
                "name": "ID",
                "value": "={{ $json.generated_id }}"
              },
              {
                "name": "generatedAt_ms",
                "value": "={{ $json.generatedAt_ms }}"
              },
              {
                "name": "Name",
                "value": "={{ $json.Name }}"
              },
              {
                "name": "Sector",
                "value": "={{ $json._metadata.sector }}"
              },
              {
                "name": "Industry",
                "value": "={{ $json.Industry }}"
              },
              {
                "name": "AI_Quality_score",
                "value": "={{ $json._metadata.ai_quality_score }}"
              },
              {
                "name": "Bias_sma200",
                "value": "={{ $json._metadata.bias_sma200 }}"
              },
              {
                "name": "Last_close",
                "value": "={{ $json._metadata.last_close }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1920,
        -16
      ],
      "id": "45939ead-aaad-429c-8874-c6515ae7ccec",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1920,
        176
      ],
      "id": "c7c061e5-70a1-4f92-bf33-b2d7572e4aa3",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "financial_tech_v1",
          "mode": "list",
          "cachedResultName": "financial_tech_v1"
        },
        "options": {
          "collectionConfig": "{\n  \"embedding\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}\n"
        }
      },
      "id": "2ce76432-ae07-4b1a-913c-a551cfe49a5d",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1824,
        -256
      ],
      "credentials": {
        "qdrantApi": {
          "id": "q1CRmg2N6AmW6pC1",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        640,
        -224
      ],
      "id": "95945666-8a44-4ac2-b75d-06138bc1f217",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "mode": "list",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1078848687,
          "mode": "list",
          "cachedResultName": "Universe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1078848687"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -128
      ],
      "id": "86057a52-d063-4a81-b11d-8cbd6393e73b",
      "name": "Récupération Universe",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Symbol",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -256
      ],
      "id": "e6368102-ef01-488c-97fd-036c5b87d61c",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "A01 - récupération lignes techniques1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Récupération Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A02 - Préparation du Texte Vectoriel": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A03 - Format Data for Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Update Status)": {
      "main": [
        []
      ]
    },
    "A01 - récupération lignes techniques1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Google Sheets (Update Status)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "A03 - Format Data for Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "A01 - récupération lignes techniques1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Récupération Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "A02 - Préparation du Texte Vectoriel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupération Universe": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "f431c328-05cd-4e5d-b5bc-eb53e85957d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "093ba1266e85fcaaa6abca411d9f7941951737b3920bfaa6e2db89226df2c82d"
  },
  "id": "8H5TnxymgB4Sa3Rd",
  "tags": []
}