AG4-V2/AG4-V2-workflow.json
{
  "name": "AG4-V2 - News Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 7-20 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1488,
        -192
      ],
      "id": "cecb88f6-8ab2-41f7-a911-77604cba6d3d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        -16
      ],
      "id": "c893012c-bf40-45b9-89d3-507207a9c8f4",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1628829420,
          "cachedResultName": "Source_RSS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1628829420"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1280,
        -96
      ],
      "id": "4ba89389-1e3d-4730-b1da-9a9fbf9cc7b6",
      "name": "20A - Load RSS Sources",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1078848687,
          "cachedResultName": "Universe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1078848687"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Enabled",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        -256
      ],
      "id": "a24cf6f4-56c5-47d3-a63b-d151e2f0f001",
      "name": "20A1 - Load Universe",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 20A2 - Build Sector Dictionary from Universe sheet (V2)\nfunction cleanText(s) {\n  return String(s || '')\n    .trim()\n    .replace(/\\s+/g, ' ');\n}\n\nfunction pickSector(row) {\n  return (\n    row.Sector ??\n    row.sector ??\n    row['GICS Sector'] ??\n    row.gics_sector ??\n    row['Sector Name'] ??\n    row['sector_name'] ??\n    ''\n  );\n}\n\nconst rows = $input.all().map((i) => i.json || {});\nconst uniq = new Map();\n\nfor (const row of rows) {\n  const sector = cleanText(pickSector(row));\n  if (!sector) continue;\n  const key = sector.toLowerCase();\n  if (!uniq.has(key)) uniq.set(key, sector);\n}\n\nconst sectorDictionary = Array.from(uniq.values()).sort((a, b) => a.localeCompare(b));\n\nreturn [{\n  json: {\n    sectorDictionary,\n    count: sectorDictionary.length,\n    generatedAt: new Date().toISOString(),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -256
      ],
      "id": "aa3b664f-c1c6-4f42-b8be-4dc52f427077",
      "name": "20A2 - Build Sector Dictionary"
    },
    {
      "parameters": {
        "jsCode": "// 20B — Normalize RSS Sources (V2)\nfunction toIntInterest(v) {\n  if (v === null || v === undefined) return 0;\n  const s = String(v).trim();\n  const m = s.match(/(\\d+(?:[.,]\\d+)?)/);\n  if (!m) return 0;\n  return Math.round(parseFloat(m[1].replace(',', '.')));\n}\n\nfunction slugify(s) {\n  return String(s || '')\n    .trim()\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\nconst rows = $input.all().map(i => i.json || {});\nconst out = [];\n\nfor (const row of rows) {\n  const family = row['Famille'] ?? 'unknown';\n  const source = row['Source'] ?? 'unknown';\n  const feedName = row['Nom du Flux'] ?? 'unknown';\n  const url = row['URL Exacte'] ?? '';\n\n  if (!url || !String(url).startsWith('http')) continue;\n\n  const interest = toIntInterest(row['Note Intérêt Agent (1-5)']);\n  const tier = interest >= 4 ? 1 : (interest >= 2 ? 2 : 3);\n\n  out.push({\n    json: {\n      enabled: interest >= 2,\n      family,\n      source,\n      feedName,\n      url,\n      interest,\n      sourceTier: tier,\n      sourceId: slugify(`${family}_${source}_${feedName}`),\n      fetchedAt: new Date().toISOString(),\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -96
      ],
      "id": "1c30e7d0-8e02-4705-a111-e7f7a4376395",
      "name": "20B - Normalize RSS Sources"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "enabled",
              "leftValue": "={{$json.enabled}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        -96
      ],
      "id": "8df4f5f5-36fa-4d53-83ae-a8787aff1050",
      "name": "20C - Filter enabled",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone\n\nDB_PATH = \"/files/duckdb/ag4_v2.duckdb\"\nWORKFLOW_VERSION = \"2.0.0\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items or []\n\nSCHEMA = [\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS news_history (\n      dedupe_key VARCHAR PRIMARY KEY,\n      event_key VARCHAR,\n      run_id VARCHAR NOT NULL,\n      canonical_url VARCHAR,\n      published_at TIMESTAMP,\n      title VARCHAR,\n      source VARCHAR,\n      feed_url VARCHAR,\n      symbols VARCHAR,\n      type VARCHAR,\n      notes VARCHAR,\n      impact_score INTEGER,\n      confidence DOUBLE,\n      urgency VARCHAR,\n      snippet VARCHAR,\n      first_seen_at TIMESTAMP,\n      strategy VARCHAR,\n      losers VARCHAR,\n      winners VARCHAR,\n      theme VARCHAR,\n      regime VARCHAR,\n      analyzed_at TIMESTAMP,\n      last_seen_at TIMESTAMP,\n      source_tier INTEGER,\n      action VARCHAR,\n      reason VARCHAR,\n      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS news_errors (\n      dedupe_key VARCHAR PRIMARY KEY,\n      run_id VARCHAR,\n      feed_url VARCHAR,\n      http_code INTEGER,\n      error_message VARCHAR,\n      raw_error VARCHAR,\n      occurred_at TIMESTAMP,\n      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n      updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS run_log (\n      run_id VARCHAR PRIMARY KEY,\n      started_at TIMESTAMP NOT NULL,\n      finished_at TIMESTAMP,\n      status VARCHAR DEFAULT 'RUNNING',\n      sources_total INTEGER DEFAULT 0,\n      feeds_ok INTEGER DEFAULT 0,\n      feeds_error INTEGER DEFAULT 0,\n      items_total INTEGER DEFAULT 0,\n      items_analyzed INTEGER DEFAULT 0,\n      items_skipped INTEGER DEFAULT 0,\n      errors_logged INTEGER DEFAULT 0,\n      error_detail VARCHAR,\n      version VARCHAR DEFAULT '2.0.0'\n    )\n    \"\"\",\n]\n\nrun_id = f\"AG4V2_{datetime.now(timezone.utc).strftime('%Y%m%d%H%M%S')}\"\n\nwith db_con() as con:\n    for stmt in SCHEMA:\n        con.execute(stmt)\n\n    con.execute(\n        \"\"\"\n        INSERT OR REPLACE INTO run_log (run_id, started_at, status, sources_total, version)\n        VALUES (?, CURRENT_TIMESTAMP, 'RUNNING', ?, ?)\n        \"\"\",\n        [run_id, len(items), WORKFLOW_VERSION],\n    )\n\n    if len(items) == 0:\n        con.execute(\n            \"\"\"\n            UPDATE run_log\n            SET finished_at = CURRENT_TIMESTAMP,\n                status = 'NO_DATA',\n                feeds_ok = 0,\n                feeds_error = 0,\n                items_total = 0,\n                items_analyzed = 0,\n                items_skipped = 0,\n                errors_logged = 0\n            WHERE run_id = ?\n            \"\"\",\n            [run_id],\n        )\n        return []\n\nout = []\nfor it in items:\n    j = dict(it.get(\"json\", {}) or {})\n    j[\"run_id\"] = run_id\n    j[\"db_path\"] = DB_PATH\n    out.append({\"json\": j, \"pairedItem\": it.get(\"pairedItem\")})\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -96
      ],
      "id": "21d42ea6-9ea8-4f33-a6de-8d73adfdbdd9",
      "name": "20DB0 - DuckDB Init"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\nfrom datetime import datetime, date\n\nDB_PATH = \"/files/duckdb/ag4_v2.duckdb\"\nLOOKBACK_DAYS = 120\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path, read_only=True)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\ndef to_iso(v):\n    if v is None:\n        return \"\"\n    if isinstance(v, (datetime, date)):\n        return v.isoformat()\n    return str(v)\n\nitems = _items or []\nrun_id = \"\"\ndb_path = DB_PATH\n\nfor it in items:\n    j = it.get(\"json\", {}) or {}\n    if not run_id:\n        run_id = str(j.get(\"run_id\", \"\") or \"\")\n    if j.get(\"db_path\"):\n        db_path = str(j.get(\"db_path\"))\n\nhistory_index = {}\nhistory_event_index = {}\nloaded = 0\n\nwith db_con(db_path) as con:\n    rows = con.execute(\n        f\"\"\"\n        SELECT\n          dedupe_key, event_key, canonical_url, published_at, title, source, feed_url,\n          symbols, type, notes, impact_score, confidence, urgency, snippet,\n          first_seen_at, strategy, losers, winners, theme, regime, analyzed_at\n        FROM news_history\n        WHERE COALESCE(last_seen_at, first_seen_at, published_at, analyzed_at, updated_at, created_at)\n              >= CURRENT_TIMESTAMP - INTERVAL '{LOOKBACK_DAYS} days'\n        \"\"\"\n    ).fetchall()\n    loaded = len(rows)\n\nfor idx, row in enumerate(rows, start=1):\n    rec = {\n        \"dedupeKey\": row[0] or \"\",\n        \"eventKey\": row[1] or \"\",\n        \"canonicalUrl\": row[2] or \"\",\n        \"publishedAt\": to_iso(row[3]),\n        \"title\": row[4] or \"\",\n        \"source\": row[5] or \"\",\n        \"feedUrl\": row[6] or \"\",\n        \"symbols\": row[7] or \"\",\n        \"type\": row[8] or \"macro\",\n        \"notes\": row[9] or \"\",\n        \"ImpactScore\": row[10] if row[10] is not None else 0,\n        \"confidence\": row[11] if row[11] is not None else 0,\n        \"urgency\": row[12] or \"low\",\n        \"Snippet\": row[13] or \"\",\n        \"firstSeenAt\": to_iso(row[14]),\n        \"Strategy\": row[15] or \"\",\n        \"Losers\": row[16] or \"\",\n        \"Winners\": row[17] or \"\",\n        \"Theme\": row[18] or \"Resultats/Micro\",\n        \"Regime\": row[19] or \"Neutral\",\n        \"analyzedAt\": to_iso(row[20]),\n        \"row_number\": idx,\n    }\n\n    dkey = rec[\"dedupeKey\"]\n    ekey = rec[\"eventKey\"]\n    if dkey:\n        history_index[dkey] = rec\n    if ekey and ekey not in history_event_index:\n        history_event_index[ekey] = rec\n\nreturn [{\n    \"json\": {\n        \"run_id\": run_id,\n        \"db_path\": db_path,\n        \"historyIndex\": history_index,\n        \"historyEventIndex\": history_event_index,\n        \"historyStats\": {\n            \"loadedRows\": loaded,\n            \"indexedByDedupe\": len(history_index),\n            \"indexedByEvent\": len(history_event_index),\n            \"lookbackDays\": LOOKBACK_DAYS,\n            \"indexedAt\": datetime.utcnow().isoformat() + \"Z\",\n        },\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -192
      ],
      "id": "fc870215-a330-495c-bd7f-33987e6e5182",
      "name": "20G1B - Build History Index"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        -8
      ],
      "id": "24468adc-03c7-42bf-99da-a0fee17a71a8",
      "name": "20D - Split Feeds",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -352,
        48
      ],
      "id": "846f2fa1-e726-4c86-931c-2051f96912e3",
      "name": "20E - RSS Feed Read",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "﻿// 20E_ERR - Build Error Log Items (V2)\nconst crypto = require('crypto');\n\nfunction pick(obj, paths) {\n  for (const p of paths) {\n    const v = p.split('.').reduce((acc, k) => (acc && acc[k] !== undefined ? acc[k] : undefined), obj);\n    if (v !== undefined && v !== null && v !== '') return v;\n  }\n  return undefined;\n}\n\nreturn $input.all().map((i, idx) => {\n  const e = i.json || {};\n  let feedCtx = {};\n  try {\n    feedCtx = $items('20D - Split Feeds', 0, idx)?.[0]?.json || {};\n  } catch {\n    feedCtx = {};\n  }\n\n  const feedUrl = pick(e, ['url', 'rssUrl', 'feedUrl', 'request.url', 'context.url']) || feedCtx.url || 'unknown';\n  const httpCode = pick(e, ['httpCode', 'error.httpCode', 'statusCode']) || null;\n  const errorMessage = pick(e, ['errorMessage', 'message', 'error.message', 'rawErrorMessage.0']) || 'unknown';\n  const occurredAt = new Date().toISOString();\n\n  const sig = `${feedUrl}|${httpCode || 'NA'}|${String(errorMessage).slice(0, 120)}|${occurredAt.slice(0, 16)}`;\n  const dedupeKey = 'ERR_' + crypto.createHash('sha256').update(sig).digest('hex');\n\n  return {\n    json: {\n      run_id: feedCtx.run_id || '',\n      sourceTier: feedCtx.sourceTier ?? null,\n      sourceId: feedCtx.sourceId || '',\n      dedupeKey,\n      canonicalUrl: feedUrl,\n      publishedAt: occurredAt,\n      title: `RSS_ERROR ${httpCode || ''}`.trim(),\n      source: 'rss_feed',\n      feedUrl,\n      symbols: '',\n      type: 'rss_error',\n      notes: errorMessage,\n      ImpactScore: 0,\n      confidence: 1,\n      urgency: 'immediate',\n      Snippet: `RSS fetch error on ${feedUrl}`,\n      firstSeenAt: occurredAt,\n      Strategy: '',\n      Losers: '',\n      Winners: '',\n      Theme: 'Pipeline/Error',\n      Regime: 'Neutral',\n      eventKey: '',\n      analyzedAt: occurredAt,\n      rawError: e,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        336
      ],
      "id": "ba81bc82-1ede-42eb-93e4-f74e6d7c4b1b",
      "name": "20E_ERR - Build Error Log"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import json\nimport duckdb, time, gc\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone, date\n\nDB_PATH = \"/files/duckdb/ag4_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\ndef safe_int(v, d=0):\n    try:\n        if v is None or v == \"\":\n            return d\n        return int(float(v))\n    except Exception:\n        return d\n\ndef parse_ts(v):\n    if v is None:\n        return None\n    if isinstance(v, (datetime, date)):\n        if isinstance(v, date) and not isinstance(v, datetime):\n            return datetime(v.year, v.month, v.day, tzinfo=timezone.utc)\n        return v\n    s = str(v).strip()\n    if not s or s.lower() == \"unknown\":\n        return None\n    if s.endswith(\"Z\"):\n        s = s[:-1] + \"+00:00\"\n    try:\n        return datetime.fromisoformat(s)\n    except Exception:\n        return None\n\ndef json_default(v):\n    if isinstance(v, (datetime, date)):\n        return v.isoformat()\n    return str(v)\n\nitems = _items or []\nif not items:\n    return []\n\ndb_path = DB_PATH\nfor it in items:\n    j = it.get(\"json\", {}) or {}\n    if j.get(\"db_path\"):\n        db_path = str(j.get(\"db_path\"))\n\nwith db_con(db_path) as con:\n    rr = con.execute(\"SELECT run_id FROM run_log WHERE status='RUNNING' ORDER BY started_at DESC LIMIT 1\").fetchone()\n    running_run_id = str(rr[0]) if rr and rr[0] else \"\"\n\n    for it in items:\n        j = it.get(\"json\", {}) or {}\n        dedupe_key = str(j.get(\"dedupeKey\", \"\") or \"\").strip()\n        if not dedupe_key:\n            continue\n\n        run_id = str(j.get(\"run_id\", \"\") or running_run_id)\n        feed_url = str(j.get(\"feedUrl\", \"\") or j.get(\"canonicalUrl\", \"\") or \"\")\n        http_code = safe_int(j.get(\"httpCode\"), None)\n        error_message = str(j.get(\"notes\", \"\") or \"unknown\")\n        occurred_at = parse_ts(j.get(\"occurredAt\")) or parse_ts(j.get(\"publishedAt\")) or datetime.now(timezone.utc)\n        raw_error = j.get(\"rawError\", {})\n\n        con.execute(\n            \"\"\"\n            INSERT OR REPLACE INTO news_errors (\n              dedupe_key, run_id, feed_url, http_code, error_message, raw_error, occurred_at, updated_at\n            ) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\n            \"\"\",\n            [\n                dedupe_key,\n                run_id,\n                feed_url,\n                http_code,\n                error_message,\n                json.dumps(raw_error, ensure_ascii=False, default=json_default),\n                occurred_at,\n            ],\n        )\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        336
      ],
      "id": "4672d63d-ceaf-49c8-b588-db1f70ae59cb",
      "name": "20E_ERR_DB - Write Errors DuckDB"
    },
    {
      "parameters": {
        "jsCode": "﻿// 20F - Normalize RSS Items (V2)\nfunction toIsoDate(v) {\n  if (!v) return 'unknown';\n  const d = new Date(v);\n  return isNaN(d.getTime()) ? 'unknown' : d.toISOString();\n}\n\nfunction stripHtml(s) {\n  if (!s) return '';\n  return String(s).replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction safeUrl(u) {\n  if (!u || typeof u !== 'string') return 'unknown';\n  return u.trim();\n}\n\nfunction inferSource(u) {\n  try {\n    const h = new URL(u).hostname.toLowerCase();\n    if (h.includes('amf-france')) return 'AMF France';\n    if (h.includes('boursorama')) return 'Boursorama';\n    if (h.includes('investir') || h.includes('lesechos')) return 'Investir/Les Echos';\n    if (h.includes('reuters')) return 'Reuters';\n    if (h.includes('bloomberg')) return 'Bloomberg';\n    if (h.includes('zonebourse')) return 'Zonebourse';\n    if (h.includes('tradingview')) return 'TradingView';\n    if (h.includes('euronext')) return 'Euronext';\n    return h.replace(/^www\\./, '');\n  } catch {\n    return 'unknown';\n  }\n}\n\nlet feedCtx = {};\ntry {\n  feedCtx = $('20D - Split Feeds').item.json || {};\n} catch {\n  feedCtx = {};\n}\n\nconst fetchedAt = new Date().toISOString();\nconst rows = $input.all().map(i => i.json || {});\n\nreturn rows.map(r => {\n  const canonicalUrl = safeUrl(r.link || r.url || r.guid);\n  const title = (typeof r.title === 'string' && r.title.trim()) ? stripHtml(r.title) : 'unknown';\n  const snippet = stripHtml(r.contentSnippet || r.content || r.summary || '');\n  const publishedAt = toIsoDate(r.isoDate || r.pubDate || r.published || r.date || r.updated || fetchedAt);\n\n  return {\n    json: {\n      run_id: feedCtx.run_id || '',\n      fetchedAt,\n      publishedAt,\n      source: inferSource(canonicalUrl),\n      url: canonicalUrl,\n      canonicalUrl,\n      title,\n      snippet,\n      symbols: [],\n      type: 'macro',\n      feedUrl: feedCtx.url || '',\n      sourceTier: feedCtx.sourceTier || 2,\n      sourceId: feedCtx.sourceId || '',\n      _itemsLoopReset: true,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        48
      ],
      "id": "a3df8699-8179-4c02-9f6b-bf5b19527669",
      "name": "20F - Normalize RSS Items"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json._itemsLoopReset }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        48
      ],
      "id": "2ff1174a-2a77-4119-a67e-5f09acae90e6",
      "name": "SplitInBatches ITEMS"
    },
    {
      "parameters": {
        "jsCode": "// 20G0 — Add deterministic dedupeKey + eventKey (V2)\nconst crypto = require('crypto');\n\nconst LOOKBACK_DAYS = 120;\n\nfunction hash(s) {\n  return crypto.createHash('sha256').update(String(s)).digest('hex');\n}\n\nfunction normalizeTitle(s) {\n  return String(s || '')\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeUrl(u) {\n  if (!u || typeof u !== 'string') return '';\n  try {\n    const url = new URL(u);\n    const drop = ['utm_', 'fbclid', 'gclid', 'ref', 'src'];\n    const remove = [];\n    url.searchParams.forEach((_, k) => {\n      if (drop.some(p => k.toLowerCase().startsWith(p))) remove.push(k);\n    });\n    remove.forEach(k => url.searchParams.delete(k));\n    return url.toString().replace(/\\/$/, '');\n  } catch {\n    return String(u).trim();\n  }\n}\n\nfunction toIso(v) {\n  if (!v || v === 'unknown') return 'unknown';\n  const d = new Date(v);\n  return isNaN(d.getTime()) ? 'unknown' : d.toISOString();\n}\n\nreturn $input.all().map((item) => {\n  const n = { ...(item.json || {}) };\n\n  const cleanUrl = normalizeUrl(n.canonicalUrl || n.url || n.link || '');\n  const cleanDate = toIso(n.publishedAt || n.fetchedAt);\n  const dayBucket = cleanDate !== 'unknown' ? cleanDate.slice(0, 10) : 'unknown-day';\n  const titleNorm = normalizeTitle(n.title || '');\n\n  const dedupeSignature = cleanUrl\n    ? `URL|${cleanUrl}`\n    : `TXT|${titleNorm}|${String(n.source || 'unknown').toLowerCase()}|${dayBucket}`;\n\n  // Event key: same story clustering across many URLs in same day\n  const eventSignature = `${titleNorm.slice(0, 180)}|${dayBucket}`;\n\n  n.canonicalUrlNormalized = cleanUrl;\n  n.publishedAtNormalized = cleanDate;\n  n.dedupeKey = hash(dedupeSignature);\n  n.eventKey = hash(eventSignature);\n\n  const cutoff = new Date();\n  cutoff.setDate(cutoff.getDate() - LOOKBACK_DAYS);\n  const dt = cleanDate === 'unknown' ? null : new Date(cleanDate);\n  const tooOld = !dt || isNaN(dt.getTime()) ? false : dt < cutoff;\n\n  n._isValid = !!titleNorm && !tooOld;\n  n._kind = 'news_item';\n  n._itemsLoopReset = false;\n\n  return { json: n, pairedItem: item.pairedItem };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        48
      ],
      "id": "d0aad922-a90f-4af3-9743-a72bf2499121",
      "name": "20G0 - Add Keys"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "title-ok",
              "leftValue": "={{ $json.title }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "valid-flag",
              "leftValue": "={{ $json._isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        48
      ],
      "id": "66b0ae2b-1d3d-488c-b9e5-c2e480776d37",
      "name": "20G_FILTER - Block Bad Items"
    },
    {
      "parameters": {
        "jsCode": "// 20F1 - Attach sector dictionary + detect sector hints (V2)\nfunction normalizeText(s) {\n  return String(s || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction unique(arr) {\n  return Array.from(new Set((arr || []).filter(Boolean)));\n}\n\nfunction safeParseArray(v) {\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') {\n    try {\n      const parsed = JSON.parse(v);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch {\n      return [];\n    }\n  }\n  return [];\n}\n\nlet sectorDictionary = [];\ntry {\n  const raw = $items('20A2 - Build Sector Dictionary')[0]?.json?.sectorDictionary;\n  sectorDictionary = safeParseArray(raw).map((x) => String(x || '').trim()).filter(Boolean);\n} catch {\n  sectorDictionary = [];\n}\n\nconst sectorMatchers = sectorDictionary.map((sector) => ({\n  label: sector,\n  norm: normalizeText(sector),\n})).filter((x) => x.norm.length >= 3);\n\nreturn $input.all().map((item) => {\n  const j = item.json || {};\n  const textNorm = normalizeText(`${j.title || ''} ${j.snippet || ''}`);\n\n  const candidateSectors = [];\n  for (const m of sectorMatchers) {\n    if (textNorm.includes(m.norm)) candidateSectors.push(m.label);\n  }\n\n  return {\n    json: {\n      ...j,\n      symbols: [],\n      type: 'macro',\n      universeSectors: sectorDictionary,\n      candidateSectors: unique(candidateSectors).slice(0, 5),\n    },\n    pairedItem: item.pairedItem,\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        48
      ],
      "id": "2c32056e-567a-4676-a836-fcb4cf6994f0",
      "name": "20F1 - Tag Sectors"
    },
    {
      "parameters": {
        "jsCode": "// 20G1C - Pre-score heuristic impact (V2)\nconst HIGH = [\n  'inflation', 'cpi', 'ppi', 'ecb', 'fed', 'taux', 'rate', 'yield',\n  'recession', 'gdp', 'pmi', 'chomage', 'unemployment', 'war', 'tariff',\n  'oil', 'opec', 'sanction', 'guidance', 'profit warning', 'default',\n  'downgrade', 'bankruptcy', 'acquisition', 'merger', 'earnings'\n];\n\nconst MID = ['forecast', 'outlook', 'results', 'macro', 'sector', 'dividend', 'buyback'];\n\nfunction scoreText(text) {\n  const t = String(text || '').toLowerCase();\n  let s = 0;\n  for (const k of HIGH) if (t.includes(k)) s += 2;\n  for (const k of MID) if (t.includes(k)) s += 1;\n  return s;\n}\n\nreturn $input.all().map((i) => {\n  const j = i.json || {};\n  const text = `${j.title || ''} ${j.snippet || ''}`;\n  const kw = scoreText(text);\n  const hasSectorHint = Array.isArray(j.candidateSectors) && j.candidateSectors.length > 0;\n\n  let score = Math.min(10, kw + (hasSectorHint ? 2 : 1));\n  score += Number(j.sourceTier === 1 ? 2 : (j.sourceTier === 2 ? 1 : 0));\n  score = Math.min(10, score);\n\n  const urgency = score >= 8 ? 'immediate' : score >= 6 ? 'today' : score >= 4 ? 'this_week' : 'low';\n\n  return {\n    json: {\n      ...j,\n      preImpactScore: score,\n      preUrgency: urgency,\n      preAnalyzeHint: score >= 4,\n    },\n    pairedItem: i.pairedItem,\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        48
      ],
      "id": "3b15efdf-7732-4a09-a6be-fe79fddabdb8",
      "name": "20G1C - Pre-score"
    },
    {
      "parameters": {
        "jsCode": "// 20G2 — Route new vs seen + stale re-analysis + event clustering (V2)\nfunction toNum(x, def = 0) {\n  const n = Number(x);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction hoursBetween(a, b) {\n  const da = new Date(a), db = new Date(b);\n  if (isNaN(da.getTime()) || isNaN(db.getTime())) return 9999;\n  return Math.abs((da.getTime() - db.getTime()) / 3600000);\n}\n\nconst n = $json || {};\nconst nowIso = new Date().toISOString();\n\nlet historyIndex = {};\nlet historyEventIndex = {};\ntry {\n  const idxNode = $items('20G1B - Build History Index')[0]?.json || {};\n  historyIndex = idxNode.historyIndex || {};\n  historyEventIndex = idxNode.historyEventIndex || {};\n} catch {\n  historyIndex = {};\n  historyEventIndex = {};\n}\n\nconst dKey = n.dedupeKey;\nconst eKey = n.eventKey;\nconst old = (dKey && historyIndex[dKey]) ? historyIndex[dKey] : null;\nconst oldEvent = (!old && eKey && historyEventIndex[eKey]) ? historyEventIndex[eKey] : null;\n\nconst REANALYZE_HOURS = 12;\n\nif (old) {\n  const age = hoursBetween(nowIso, old.firstSeenAt || old.publishedAt || old.analyzedAt || nowIso);\n  const preImpact = toNum(n.preImpactScore, 0);\n\n  if (preImpact >= 7 && age >= REANALYZE_HOURS) {\n    return [{ json: { ...n, _action: 'analyze', _reason: 'stale_high_impact_refresh', seenNowAt: nowIso } }];\n  }\n\n  return [{\n    json: {\n      ...n,\n      _action: 'skip',\n      _reason: 'duplicate_known',\n      seenNowAt: nowIso,\n      historyRowNumber: old.row_number ?? old.rowNumber ?? old.row ?? null,\n\n      // restore previously analyzed strategic fields\n      ImpactScore: old.ImpactScore ?? old.impactScore ?? 0,\n      confidence: old.confidence ?? 0,\n      urgency: old.urgency ?? 'low',\n      notes: old.notes ?? '',\n      Snippet: old.Snippet ?? old.snippet ?? n.snippet ?? '',\n      symbols: old.symbols ?? (Array.isArray(n.symbols) ? n.symbols.join(', ') : ''),\n      type: old.type ?? n.type ?? 'macro',\n      Regime: old.Regime ?? old.market_regime ?? 'Neutral',\n      Theme: old.Theme ?? old.macro_theme ?? 'Résultats/Micro',\n      Winners: old.Winners ?? old.sectors_bullish ?? '',\n      Losers: old.Losers ?? old.sectors_bearish ?? '',\n      Strategy: old.Strategy ?? old.strategic_summary ?? '',\n      firstSeenAt: old.firstSeenAt ?? old.analyzedAt ?? old.publishedAt ?? n.publishedAt,\n      analyzedAt: old.analyzedAt ?? old.firstSeenAt ?? nowIso,\n    }\n  }];\n}\n\nif (oldEvent && !n.preAnalyzeHint) {\n  return [{\n    json: {\n      ...n,\n      _action: 'skip',\n      _reason: 'event_cluster_duplicate',\n      seenNowAt: nowIso,\n      ImpactScore: oldEvent.ImpactScore ?? oldEvent.impactScore ?? 0,\n      confidence: oldEvent.confidence ?? 0,\n      urgency: oldEvent.urgency ?? 'low',\n      notes: `Cluster duplicate of prior eventKey ${eKey}`,\n      Snippet: n.snippet || oldEvent.Snippet || '',\n      symbols: Array.isArray(n.symbols) ? n.symbols.join(', ') : (n.symbols || ''),\n      type: n.type || oldEvent.type || 'macro',\n      Regime: oldEvent.Regime ?? 'Neutral',\n      Theme: oldEvent.Theme ?? 'Résultats/Micro',\n      Winners: oldEvent.Winners ?? '',\n      Losers: oldEvent.Losers ?? '',\n      Strategy: oldEvent.Strategy ?? '',\n      firstSeenAt: oldEvent.firstSeenAt ?? oldEvent.analyzedAt ?? nowIso,\n      analyzedAt: oldEvent.analyzedAt ?? nowIso,\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...n,\n    _action: 'analyze',\n    _reason: 'new_or_material',\n    seenNowAt: nowIso,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        48
      ],
      "id": "707a3b8c-e2da-4da4-946f-60588bb9f2be",
      "name": "20G2 - Route new vs seen"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "analyze",
                    "leftValue": "={{$json._action}}",
                    "rightValue": "analyze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "skip",
                    "leftValue": "={{$json._action}}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1376,
        48
      ],
      "id": "eeff816d-44d1-4679-91c0-4e8c02e96cdd",
      "name": "20G3 - Router analyze vs skip"
    },
    {
      "parameters": {
        "jsCode": "// 20H0 - Prepare LLM input (V2)\nfunction stripHtml(s) {\n  if (!s) return '';\n  return String(s).replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction toIso(x) {\n  if (!x || x === 'unknown') return 'unknown';\n  const d = new Date(x);\n  return Number.isNaN(d.getTime()) ? 'unknown' : d.toISOString();\n}\n\nfunction toArray(v) {\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') {\n    try {\n      const parsed = JSON.parse(v);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch {\n      return [];\n    }\n  }\n  return [];\n}\n\nlet sectorDictionary = [];\ntry {\n  const raw = $items('20A2 - Build Sector Dictionary')[0]?.json?.sectorDictionary;\n  sectorDictionary = toArray(raw).map((x) => String(x || '').trim()).filter(Boolean);\n} catch {\n  sectorDictionary = [];\n}\n\nconst j = $json || {};\nconst candidateSectors = toArray(j.candidateSectors).map((x) => String(x || '').trim()).filter(Boolean).slice(0, 5);\n\nconst payload = {\n  id: j.id || 'unknown',\n  dedupeKey: j.dedupeKey,\n  eventKey: j.eventKey,\n  title: stripHtml(j.title || 'unknown'),\n  snippet: stripHtml(j.snippet || ''),\n  url: j.canonicalUrlNormalized || j.canonicalUrl || j.url || 'unknown',\n  publishedAt: toIso(j.publishedAtNormalized || j.publishedAt || 'unknown'),\n  source: j.source || 'unknown',\n  type: 'macro',\n  preImpactScore: j.preImpactScore ?? 0,\n  preUrgency: j.preUrgency || 'low',\n  candidateSectors,\n  universeSectors: sectorDictionary,\n};\n\nreturn {\n  ...j,\n  symbols: [],\n  type: 'macro',\n  universeSectors: sectorDictionary,\n  candidateSectors,\n  llmInput: JSON.stringify(payload),\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -32
      ],
      "id": "8d540e4e-0738-4405-a5e3-33a6f06f9d63",
      "name": "20H0 - Prepare LLM Input"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Tu es le Chief Market Strategist. Tu analyses une news pour decision portefeuille. Objectif: extraire regime de marche, theme macro, secteurs gagnants/perdants, resume actionnable. Reponds uniquement en JSON valide selon le schema."
            },
            {
              "content": "=Analyse cette news:\n{{ $json.llmInput }}\n\nRegles de normalisation obligatoires:\n- Utilise uniquement les valeurs du champ universeSectors du JSON.\n- N'utilise jamais des industries; seulement des secteurs.\n- Si un secteur propose ne matche pas universeSectors, ne le retourne pas.\n- Max 5 secteurs par liste (sectors_bullish, sectors_bearish).\n- Si pas de lien macro/secteur clair -> isActionable=false, impact_score=0, urgency=low, market_regime=Neutral, macro_theme=Resultats/Micro, notes=Noise.\n- Sinon, isActionable=true."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "market_news_normalizer_v2",
              "schema": "{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"isActionable\":{\"type\":\"boolean\"},\"market_regime\":{\"type\":\"string\",\"enum\":[\"Risk-On\",\"Risk-Off\",\"Neutral\",\"Sector Rotation\"]},\"macro_theme\":{\"type\":\"string\",\"enum\":[\"Inflation/Taux\",\"Croissance/Recession\",\"Geopolitique/Energie\",\"Tech/AI\",\"Resultats/Micro\"]},\"sectors_bullish\":{\"type\":\"array\",\"maxItems\":5,\"items\":{\"type\":\"string\"}},\"sectors_bearish\":{\"type\":\"array\",\"maxItems\":5,\"items\":{\"type\":\"string\"}},\"strategic_summary\":{\"type\":\"string\"},\"impact_score\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":10},\"confidence\":{\"type\":\"number\",\"minimum\":0,\"maximum\":1},\"urgency\":{\"type\":\"string\",\"enum\":[\"immediate\",\"today\",\"this_week\",\"low\"]},\"notes\":{\"type\":\"string\"}},\"required\":[\"isActionable\",\"market_regime\",\"macro_theme\",\"sectors_bullish\",\"sectors_bearish\",\"strategic_summary\",\"impact_score\",\"confidence\",\"urgency\",\"notes\"]}",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1792,
        -32
      ],
      "id": "f1245660-74e3-48cf-867a-44d06f800d05",
      "name": "20H1 - Analyze with OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        -32
      ],
      "id": "1de98e3a-c7c6-4f9b-be88-f4ac530f5058",
      "name": "20H1B - Merge AI + Context"
    },
    {
      "parameters": {
        "jsCode": "// 20H2 - Parse model output + flatten final row (V2)\nfunction safeJsonParse(str) {\n  try {\n    if (typeof str === 'object' && str !== null) return str;\n    return JSON.parse(str);\n  } catch {\n    return {};\n  }\n}\n\nfunction toArray(v) {\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') {\n    return v.split(',').map((x) => String(x || '').trim()).filter(Boolean);\n  }\n  return [];\n}\n\nfunction normalizeKey(s) {\n  return String(s || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction clamp01(n, d = 0.5) {\n  const v = Number(n);\n  if (!Number.isFinite(v)) return d;\n  return Math.max(0, Math.min(1, v));\n}\n\nfunction clamp10(n, d = 0) {\n  const v = Number(n);\n  if (!Number.isFinite(v)) return d;\n  return Math.max(0, Math.min(10, Math.round(v)));\n}\n\nfunction toBool(v, d = true) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v !== 0;\n  if (typeof v === 'string') {\n    const s = v.trim().toLowerCase();\n    if (['true', '1', 'yes', 'y'].includes(s)) return true;\n    if (['false', '0', 'no', 'n'].includes(s)) return false;\n  }\n  return d;\n}\n\nfunction buildAllowedSectors(rawList) {\n  const out = [];\n  const seen = new Set();\n  for (const v of toArray(rawList)) {\n    const label = String(v || '').trim();\n    if (!label) continue;\n    const key = normalizeKey(label);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push({ key, label });\n  }\n  return out;\n}\n\nfunction normalizeSectorList(raw, allowed) {\n  const out = [];\n  const seen = new Set();\n\n  for (const value of toArray(raw)) {\n    const key = normalizeKey(value);\n    if (!key) continue;\n\n    let match = allowed.find((s) => s.key === key);\n    if (!match) {\n      match = allowed.find((s) => key.includes(s.key) || s.key.includes(key));\n    }\n\n    if (!match) continue;\n    if (seen.has(match.key)) continue;\n    seen.add(match.key);\n    out.push(match.label);\n\n    if (out.length >= 5) break;\n  }\n\n  return out;\n}\n\nconst j = $json || {};\nconst llmRaw = j.output?.[0]?.content?.[0]?.text || j.content || '{}';\nconst ai = safeJsonParse(llmRaw);\nconst now = new Date().toISOString();\n\nconst allowedSectors = buildAllowedSectors(j.universeSectors);\nconst winners = normalizeSectorList(ai.sectors_bullish, allowedSectors);\nconst losers = normalizeSectorList(ai.sectors_bearish, allowedSectors);\n\nconst modelActionable = toBool(ai.isActionable, true);\nconst hasSectorImpact = winners.length > 0 || losers.length > 0;\nconst isActionable = modelActionable && hasSectorImpact;\nconst notes = isActionable ? (ai.notes || '') : 'Noise';\n\nreturn [{\n  json: {\n    run_id: j.run_id || '',\n    sourceTier: j.sourceTier ?? null,\n    sourceId: j.sourceId || '',\n    dedupeKey: j.dedupeKey,\n    eventKey: j.eventKey || '',\n    canonicalUrl: j.canonicalUrlNormalized || j.canonicalUrl || j.url || 'unknown',\n    publishedAt: j.publishedAtNormalized || j.publishedAt || now,\n    title: j.title || 'unknown',\n    source: j.source || 'unknown',\n    feedUrl: j.feedUrl || '',\n    symbols: '',\n    type: 'macro',\n    notes,\n    isActionable,\n    ImpactScore: isActionable ? clamp10(ai.impact_score, j.preImpactScore ?? 0) : 0,\n    confidence: clamp01(ai.confidence, 0.5),\n    urgency: isActionable ? (ai.urgency || j.preUrgency || 'low') : 'low',\n    Snippet: j.snippet || '',\n    firstSeenAt: j.seenNowAt || now,\n    Strategy: ai.strategic_summary || '',\n    Losers: isActionable ? losers.join(', ') : '',\n    Winners: isActionable ? winners.join(', ') : '',\n    Theme: isActionable ? (ai.macro_theme || 'Resultats/Micro') : 'Resultats/Micro',\n    Regime: isActionable ? (ai.market_regime || 'Neutral') : 'Neutral',\n    analyzedAt: now,\n    _action: 'analyze',\n    _reason: j._reason || '',\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -32
      ],
      "id": "fb13db3f-6b5e-49b9-ac4a-1bb40745de8f",
      "name": "20H2 - Parse AI Output"
    },
    {
      "parameters": {
        "jsCode": "﻿// 20S1 - Build final row for skip path (V2)\nconst j = $json || {};\nconst now = new Date().toISOString();\n\nconst symbols = Array.isArray(j.symbols) ? j.symbols.join(', ') : (j.symbols || '');\n\nreturn [{\n  json: {\n    run_id: j.run_id || '',\n    sourceTier: j.sourceTier ?? null,\n    sourceId: j.sourceId || '',\n    dedupeKey: j.dedupeKey,\n    eventKey: j.eventKey || '',\n    canonicalUrl: j.canonicalUrlNormalized || j.canonicalUrl || j.url || 'unknown',\n    publishedAt: j.publishedAtNormalized || j.publishedAt || now,\n    title: j.title || 'unknown',\n    source: j.source || 'unknown',\n    feedUrl: j.feedUrl || '',\n    symbols,\n    type: j.type || (symbols ? 'symbol' : 'macro'),\n    notes: j.notes || `Skipped: ${j._reason || 'duplicate'}`,\n    ImpactScore: j.ImpactScore ?? 0,\n    confidence: j.confidence ?? 0,\n    urgency: j.urgency || 'low',\n    Snippet: j.Snippet || j.snippet || '',\n    firstSeenAt: j.firstSeenAt || j.seenNowAt || now,\n    Strategy: j.Strategy || '',\n    Losers: j.Losers || '',\n    Winners: j.Winners || '',\n    Theme: j.Theme || 'Resultats/Micro',\n    Regime: j.Regime || 'Neutral',\n    analyzedAt: j.analyzedAt || now,\n    _action: 'skip',\n    _reason: j._reason || 'duplicate',\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        160
      ],
      "id": "e68c8302-5a5e-4cd2-beee-04db64cb2b6a",
      "name": "20S1 - Build Skip Row"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2464,
        64
      ],
      "id": "1d7d61df-2326-443e-aec7-45ca7987a8b9",
      "name": "20Z - Merge analyzed + skipped"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone, date\n\nDB_PATH = \"/files/duckdb/ag4_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\ndef safe_int(v, d=0):\n    try:\n        if v is None or v == \"\":\n            return d\n        return int(float(v))\n    except Exception:\n        return d\n\ndef safe_float(v, d=0.0):\n    try:\n        if v is None or v == \"\":\n            return d\n        return float(v)\n    except Exception:\n        return d\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    if isinstance(v, list):\n        return \", \".join([str(x) for x in v if x is not None and str(x).strip()])\n    return str(v)\n\ndef ensure_utc_aware(dt):\n    if dt is None:\n        return None\n    if dt.tzinfo is None or dt.tzinfo.utcoffset(dt) is None:\n        return dt.replace(tzinfo=timezone.utc)\n    return dt.astimezone(timezone.utc)\n\ndef parse_ts(v):\n    if v is None:\n        return None\n    if isinstance(v, (datetime, date)):\n        if isinstance(v, date) and not isinstance(v, datetime):\n            return datetime(v.year, v.month, v.day, tzinfo=timezone.utc)\n        return ensure_utc_aware(v)\n    s = str(v).strip()\n    if not s or s.lower() == \"unknown\":\n        return None\n    if s.endswith(\"Z\"):\n        s = s[:-1] + \"+00:00\"\n    try:\n        return ensure_utc_aware(datetime.fromisoformat(s))\n    except Exception:\n        return None\n\nitems = _items or []\nif not items:\n    return []\n\ndb_path = DB_PATH\nrunning_run_id = \"\"\nfor it in items:\n    j = it.get(\"json\", {}) or {}\n    if j.get(\"db_path\"):\n        db_path = str(j.get(\"db_path\"))\n\nwith db_con(db_path) as con:\n    rr = con.execute(\"SELECT run_id FROM run_log WHERE status='RUNNING' ORDER BY started_at DESC LIMIT 1\").fetchone()\n    running_run_id = str(rr[0]) if rr and rr[0] else \"\"\n\n    for it in items:\n        j = dict(it.get(\"json\", {}) or {})\n\n        dedupe_key = str(j.get(\"dedupeKey\", \"\") or \"\").strip()\n        if not dedupe_key:\n            continue\n\n        run_id = str(j.get(\"run_id\", \"\") or running_run_id)\n        event_key = str(j.get(\"eventKey\", \"\") or \"\")\n        canonical_url = str(j.get(\"canonicalUrl\", \"\") or \"\")\n        published_at = parse_ts(j.get(\"publishedAt\"))\n        title = str(j.get(\"title\", \"\") or \"\")\n        source = str(j.get(\"source\", \"\") or \"\")\n        feed_url = str(j.get(\"feedUrl\", \"\") or \"\")\n        symbols = to_text(j.get(\"symbols\", \"\"))\n        typ = str(j.get(\"type\", \"\") or (\"symbol\" if symbols else \"macro\"))\n        notes = str(j.get(\"notes\", \"\") or \"\")\n        impact_score = safe_int(j.get(\"ImpactScore\"), 0)\n        confidence = safe_float(j.get(\"confidence\"), 0.0)\n        urgency = str(j.get(\"urgency\", \"\") or \"low\")\n        snippet = str(j.get(\"Snippet\", \"\") or j.get(\"snippet\", \"\") or \"\")\n        now_utc = datetime.now(timezone.utc)\n        new_first_seen = parse_ts(j.get(\"firstSeenAt\")) or published_at or now_utc\n        strategy = str(j.get(\"Strategy\", \"\") or \"\")\n        losers = str(j.get(\"Losers\", \"\") or \"\")\n        winners = str(j.get(\"Winners\", \"\") or \"\")\n        theme = str(j.get(\"Theme\", \"\") or \"Resultats/Micro\")\n        regime = str(j.get(\"Regime\", \"\") or \"Neutral\")\n        analyzed_at = parse_ts(j.get(\"analyzedAt\")) or now_utc\n        last_seen_at = parse_ts(j.get(\"seenNowAt\")) or now_utc\n        source_tier = safe_int(j.get(\"sourceTier\"), 2)\n        action = str(j.get(\"_action\", \"\") or \"skip\")\n        reason = str(j.get(\"_reason\", \"\") or \"\")\n\n        existing = con.execute(\n            \"SELECT first_seen_at FROM news_history WHERE dedupe_key = ?\",\n            [dedupe_key],\n        ).fetchone()\n        existing_first_seen = parse_ts(existing[0]) if existing and existing[0] is not None else None\n        if existing_first_seen is not None and existing_first_seen < new_first_seen:\n            first_seen_at = existing_first_seen\n        else:\n            first_seen_at = new_first_seen\n\n        con.execute(\n            \"\"\"\n            INSERT OR REPLACE INTO news_history (\n              dedupe_key, event_key, run_id, canonical_url, published_at, title, source, feed_url,\n              symbols, type, notes, impact_score, confidence, urgency, snippet, first_seen_at,\n              strategy, losers, winners, theme, regime, analyzed_at, last_seen_at,\n              source_tier, action, reason, updated_at\n            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\n            \"\"\",\n            [\n                dedupe_key, event_key, run_id, canonical_url, published_at, title, source, feed_url,\n                symbols, typ, notes, impact_score, confidence, urgency, snippet, first_seen_at,\n                strategy, losers, winners, theme, regime, analyzed_at, last_seen_at,\n                source_tier, action, reason,\n            ],\n        )\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        64
      ],
      "id": "879d4bc5-2f7f-48ed-9f68-b9c8c761ef8e",
      "name": "20DBW - Upsert News DuckDB"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag4_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items or []\nrun_id = \"\"\ndb_path = DB_PATH\n\nfor it in items:\n    j = it.get(\"json\", {}) or {}\n    if not run_id:\n        run_id = str(j.get(\"run_id\", \"\") or \"\")\n    if j.get(\"db_path\"):\n        db_path = str(j.get(\"db_path\"))\n\nwith db_con(db_path) as con:\n    if not run_id:\n        rr = con.execute(\"SELECT run_id FROM run_log WHERE status='RUNNING' ORDER BY started_at DESC LIMIT 1\").fetchone()\n        run_id = str(rr[0]) if rr and rr[0] else \"\"\n\n    if not run_id:\n        return [{\"json\": {\"status\": \"NO_RUN\", \"run_id\": \"\", \"db_path\": db_path}}]\n\n    r = con.execute(\"SELECT COALESCE(sources_total, 0) FROM run_log WHERE run_id = ?\", [run_id]).fetchone()\n    sources_total = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(DISTINCT COALESCE(feed_url, dedupe_key)) FROM news_errors WHERE run_id = ?\", [run_id]).fetchone()\n    feeds_error = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(*) FROM news_errors WHERE run_id = ?\", [run_id]).fetchone()\n    errors_logged = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(*) FROM news_history WHERE run_id = ?\", [run_id]).fetchone()\n    items_total = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(*) FROM news_history WHERE run_id = ? AND action = 'analyze'\", [run_id]).fetchone()\n    items_analyzed = int(r[0]) if r else 0\n\n    r = con.execute(\"SELECT COUNT(*) FROM news_history WHERE run_id = ? AND action = 'skip'\", [run_id]).fetchone()\n    items_skipped = int(r[0]) if r else 0\n\n    feeds_ok = max(sources_total - feeds_error, 0)\n\n    if items_total == 0 and sources_total == 0:\n        status = \"NO_DATA\"\n    elif feeds_error == 0:\n        status = \"SUCCESS\"\n    elif items_total > 0:\n        status = \"PARTIAL\"\n    else:\n        status = \"FAILED\"\n\n    con.execute(\n        \"\"\"\n        UPDATE run_log\n        SET finished_at = CURRENT_TIMESTAMP,\n            status = ?,\n            feeds_ok = ?,\n            feeds_error = ?,\n            items_total = ?,\n            items_analyzed = ?,\n            items_skipped = ?,\n            errors_logged = ?,\n            error_detail = ?\n        WHERE run_id = ?\n        \"\"\",\n        [status, feeds_ok, feeds_error, items_total, items_analyzed, items_skipped, errors_logged, None, run_id],\n    )\n\nreturn [{\n    \"json\": {\n        \"run_id\": run_id,\n        \"db_path\": db_path,\n        \"status\": status,\n        \"sources_total\": sources_total,\n        \"feeds_ok\": feeds_ok,\n        \"feeds_error\": feeds_error,\n        \"items_total\": items_total,\n        \"items_analyzed\": items_analyzed,\n        \"items_skipped\": items_skipped,\n        \"errors_logged\": errors_logged,\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -112
      ],
      "id": "36e3cbb6-3ec7-4606-8c06-743fabdf0844",
      "name": "20R1 - Finalize Run"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\nfrom datetime import datetime, date\n\nDB_PATH = \"/files/duckdb/ag4_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path, read_only=True)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\ndef fmt(v):\n    if v is None:\n        return \"\"\n    if isinstance(v, bool):\n        return \"TRUE\" if v else \"FALSE\"\n    if isinstance(v, (datetime, date)):\n        return v.isoformat()\n    s = str(v)\n    if s.lower() in (\"nan\", \"nat\", \"none\"):\n        return \"\"\n    return s\n\nitems = _items or []\nrun_id = \"\"\ndb_path = DB_PATH\n\nfor it in items:\n    j = it.get(\"json\", {}) or {}\n    if not run_id:\n        run_id = str(j.get(\"run_id\", \"\") or \"\")\n    if j.get(\"db_path\"):\n        db_path = str(j.get(\"db_path\"))\n\nout = []\nwith db_con(db_path) as con:\n    if not run_id:\n        rr = con.execute(\"SELECT run_id FROM run_log ORDER BY started_at DESC LIMIT 1\").fetchone()\n        run_id = str(rr[0]) if rr and rr[0] else \"\"\n\n    if not run_id:\n        return []\n\n    news_rows = con.execute(\n        \"\"\"\n        SELECT\n          dedupe_key, event_key, run_id, canonical_url, published_at, title, source, feed_url,\n          symbols, type, notes, impact_score, confidence, urgency, snippet, first_seen_at,\n          strategy, losers, winners, theme, regime, analyzed_at\n        FROM news_history\n        WHERE run_id = ?\n        ORDER BY COALESCE(published_at, analyzed_at) DESC, updated_at DESC\n        \"\"\",\n        [run_id],\n    ).fetchall()\n\n    for r in news_rows:\n        out.append({\n            \"json\": {\n                \"dedupeKey\": fmt(r[0]),\n                \"eventKey\": fmt(r[1]),\n                \"runId\": fmt(r[2]),\n                \"canonicalUrl\": fmt(r[3]),\n                \"publishedAt\": fmt(r[4]),\n                \"title\": fmt(r[5]),\n                \"source\": fmt(r[6]),\n                \"feedUrl\": fmt(r[7]),\n                \"symbols\": fmt(r[8]),\n                \"type\": fmt(r[9]),\n                \"notes\": fmt(r[10]),\n                \"ImpactScore\": fmt(r[11]),\n                \"confidence\": fmt(r[12]),\n                \"urgency\": fmt(r[13]),\n                \"Snippet\": fmt(r[14]),\n                \"firstSeenAt\": fmt(r[15]),\n                \"Strategy\": fmt(r[16]),\n                \"Losers\": fmt(r[17]),\n                \"Winners\": fmt(r[18]),\n                \"Theme\": fmt(r[19]),\n                \"Regime\": fmt(r[20]),\n                \"analyzedAt\": fmt(r[21]),\n            }\n        })\n\n    err_rows = con.execute(\n        \"\"\"\n        SELECT dedupe_key, run_id, feed_url, http_code, error_message, occurred_at\n        FROM news_errors\n        WHERE run_id = ?\n        ORDER BY occurred_at DESC\n        \"\"\",\n        [run_id],\n    ).fetchall()\n\n    for r in err_rows:\n        http_txt = f\" {int(r[3])}\" if r[3] is not None else \"\"\n        occurred = fmt(r[5])\n        feed_url = fmt(r[2])\n        out.append({\n            \"json\": {\n                \"dedupeKey\": fmt(r[0]),\n                \"eventKey\": \"\",\n                \"runId\": fmt(r[1]),\n                \"canonicalUrl\": feed_url,\n                \"publishedAt\": occurred,\n                \"title\": f\"RSS_ERROR{http_txt}\".strip(),\n                \"source\": \"rss_feed\",\n                \"feedUrl\": feed_url,\n                \"symbols\": \"\",\n                \"type\": \"rss_error\",\n                \"notes\": fmt(r[4]),\n                \"ImpactScore\": \"0\",\n                \"confidence\": \"1\",\n                \"urgency\": \"immediate\",\n                \"Snippet\": f\"RSS fetch error on {feed_url}\",\n                \"firstSeenAt\": occurred,\n                \"Strategy\": \"\",\n                \"Losers\": \"\",\n                \"Winners\": \"\",\n                \"Theme\": \"Pipeline/Error\",\n                \"Regime\": \"Neutral\",\n                \"analyzedAt\": occurred,\n            }\n        })\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -112
      ],
      "id": "df4381f4-24a6-4f40-9bc4-d76f9c700d57",
      "name": "20R2 - Sync DuckDB to Rows"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1351236563,
          "cachedResultName": "News_History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1351236563"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dedupeKey": "={{ $json.dedupeKey }}",
            "canonicalUrl": "={{ $json.canonicalUrl }}",
            "publishedAt": "={{ $json.publishedAt }}",
            "title": "={{ $json.title }}",
            "source": "={{ $json.source }}",
            "feedUrl": "={{ $json.feedUrl }}",
            "symbols": "={{ $json.symbols }}",
            "type": "={{ $json.type }}",
            "notes": "={{ $json.notes }}",
            "ImpactScore": "={{ $json.ImpactScore }}",
            "confidence": "={{ $json.confidence }}",
            "urgency": "={{ $json.urgency }}",
            "Snippet": "={{ $json.Snippet }}",
            "firstSeenAt": "={{ $json.firstSeenAt }}",
            "Strategy": "={{ $json.Strategy }}",
            "Losers": "={{ $json.Losers }}",
            "Winners": "={{ $json.Winners }}",
            "Theme": "={{ $json.Theme }}",
            "Regime": "={{ $json.Regime }}",
            "analyzedAt": "={{ $json.analyzedAt }}"
          },
          "matchingColumns": [
            "dedupeKey"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -112
      ],
      "id": "1bb3dca8-cca8-4b64-9972-58de2f461628",
      "name": "20G5 - Append News_History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "AG4-V2 News Watcher: DuckDB on VPS is source of truth. Google Sheets is sync output for human control.",
        "height": 220,
        "width": 1420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1460,
        -320
      ],
      "id": "f463e018-d888-4866-a579-7e73a768018a",
      "name": "Note AG4-V2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "20A - Load RSS Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "20A - Load RSS Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20A - Load RSS Sources": {
      "main": [
        [
          {
            "node": "20B - Normalize RSS Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20B - Normalize RSS Sources": {
      "main": [
        [
          {
            "node": "20C - Filter enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20C - Filter enabled": {
      "main": [
        [
          {
            "node": "20DB0 - DuckDB Init",
            "type": "main",
            "index": 0
          },
          {
            "node": "20A1 - Load Universe",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "20A1 - Load Universe": {
      "main": [
        [
          {
            "node": "20A2 - Build Sector Dictionary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20DB0 - DuckDB Init": {
      "main": [
        [
          {
            "node": "20D - Split Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "20G1B - Build History Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20D - Split Feeds": {
      "main": [
        [
          {
            "node": "20R1 - Finalize Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20E - RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20E - RSS Feed Read": {
      "main": [
        [
          {
            "node": "20F - Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20E_ERR - Build Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20E_ERR - Build Error Log": {
      "main": [
        [
          {
            "node": "20E_ERR_DB - Write Errors DuckDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20E_ERR_DB - Write Errors DuckDB": {
      "main": [
        [
          {
            "node": "20D - Split Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20F - Normalize RSS Items": {
      "main": [
        [
          {
            "node": "SplitInBatches ITEMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches ITEMS": {
      "main": [
        [
          {
            "node": "20D - Split Feeds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20G0 - Add Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20G0 - Add Keys": {
      "main": [
        [
          {
            "node": "20G_FILTER - Block Bad Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20G_FILTER - Block Bad Items": {
      "main": [
        [
          {
            "node": "20F1 - Tag Sectors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches ITEMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20F1 - Tag Sectors": {
      "main": [
        [
          {
            "node": "20G1C - Pre-score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20G1C - Pre-score": {
      "main": [
        [
          {
            "node": "20G2 - Route new vs seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20G2 - Route new vs seen": {
      "main": [
        [
          {
            "node": "20G3 - Router analyze vs skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20G3 - Router analyze vs skip": {
      "main": [
        [
          {
            "node": "20H0 - Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "20S1 - Build Skip Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20H0 - Prepare LLM Input": {
      "main": [
        [
          {
            "node": "20H1 - Analyze with OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "20H1B - Merge AI + Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20H1 - Analyze with OpenAI": {
      "main": [
        [
          {
            "node": "20H1B - Merge AI + Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "20H1B - Merge AI + Context": {
      "main": [
        [
          {
            "node": "20H2 - Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20H2 - Parse AI Output": {
      "main": [
        [
          {
            "node": "20Z - Merge analyzed + skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20S1 - Build Skip Row": {
      "main": [
        [
          {
            "node": "20Z - Merge analyzed + skipped",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "20Z - Merge analyzed + skipped": {
      "main": [
        [
          {
            "node": "20DBW - Upsert News DuckDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20DBW - Upsert News DuckDB": {
      "main": [
        [
          {
            "node": "SplitInBatches ITEMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20R1 - Finalize Run": {
      "main": [
        [
          {
            "node": "20R2 - Sync DuckDB to Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20R2 - Sync DuckDB to Rows": {
      "main": [
        [
          {
            "node": "20G5 - Append News_History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "093ba1266e85fcaaa6abca411d9f7941951737b3920bfaa6e2db89226df2c82d"
  }
}
