ag2-v2/AG2-V2-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 9-17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1248,
        112
      ],
      "id": "84a3bfd7-39ff-433b-85ce-ed98bb4f0608",
      "name": "Cron Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1248,
        304
      ],
      "id": "40058a65-9ca0-41dd-ac3a-5b74da493165",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1078848687,
          "cachedResultName": "Universe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1078848687"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Enabled",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1008,
        208
      ],
      "id": "53033f03-71bd-4766-ae26-37e277401c70",
      "name": "Read Universe",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AG2-V2 — Init Config (pass-through, no batch rotation)\n// Batch rotation is handled by DuckDB Init (persisted in DB)\nconst items = $input.all();\n\n// Extract symbols from Universe sheet\nconst symbols = items\n  .map(i => (i.json.Symbol || i.json.symbol || '').trim())\n  .filter(s => s.length > 0);\n\nif (symbols.length === 0) {\n  return [{ json: { ok: false, error: 'NO_SYMBOLS', symbols: [] } }];\n}\n\n// Pass ALL symbols + config to DuckDB Init (which handles batch slicing)\nreturn [{\n  json: {\n    ok: true,\n    _all_symbols: symbols,\n    _universe: items.map(i => i.json),\n    yfinance_api_base: 'http://yfinance-api:8080',\n    intraday: { interval: '1h', lookback_days: 60, max_bars: 200, min_bars: 50 },\n    daily: { interval: '1d', lookback_days: 400, max_bars: 400, min_bars: 200 },\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        208
      ],
      "id": "69672125-f633-4fc0-9b90-aa221b688b43",
      "name": "Init Config + Batch"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc, json\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\nBATCH_SIZE = 25\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    \"\"\"Open DuckDB with retry on lock, auto-close + gc on exit.\"\"\"\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nSCHEMA_STMTS = [\n    \"CREATE TABLE IF NOT EXISTS universe (symbol VARCHAR PRIMARY KEY, name VARCHAR, asset_class VARCHAR DEFAULT 'Equity', exchange VARCHAR DEFAULT 'Euronext Paris', currency VARCHAR DEFAULT 'EUR', country VARCHAR, sector VARCHAR, industry VARCHAR, isin VARCHAR, enabled BOOLEAN DEFAULT TRUE, boursorama_ref VARCHAR, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP)\",\n    \"CREATE TABLE IF NOT EXISTS technical_signals (id VARCHAR PRIMARY KEY, run_id VARCHAR NOT NULL, symbol VARCHAR NOT NULL, workflow_date TIMESTAMP NOT NULL, h1_date TIMESTAMP, h1_source VARCHAR, h1_status VARCHAR, h1_warnings VARCHAR, h1_action VARCHAR, h1_score INTEGER, h1_confidence DOUBLE, h1_rationale VARCHAR, d1_date TIMESTAMP, d1_source VARCHAR, d1_status VARCHAR, d1_warnings VARCHAR, d1_action VARCHAR, d1_score INTEGER, d1_confidence DOUBLE, d1_rationale VARCHAR, last_close DOUBLE, h1_sma20 DOUBLE, h1_sma50 DOUBLE, h1_sma200 DOUBLE, h1_ema12 DOUBLE, h1_ema26 DOUBLE, h1_macd DOUBLE, h1_macd_signal DOUBLE, h1_macd_hist DOUBLE, h1_rsi14 DOUBLE, h1_volatility DOUBLE, h1_last_close DOUBLE, h1_atr DOUBLE, h1_atr_pct DOUBLE, h1_bb_upper DOUBLE, h1_bb_lower DOUBLE, h1_bb_width DOUBLE, h1_stoch_k DOUBLE, h1_stoch_d DOUBLE, h1_adx DOUBLE, h1_obv_slope DOUBLE, h1_resistance DOUBLE, h1_support DOUBLE, h1_dist_res_pct DOUBLE, h1_dist_sup_pct DOUBLE, d1_sma20 DOUBLE, d1_sma50 DOUBLE, d1_sma200 DOUBLE, d1_ema12 DOUBLE, d1_ema26 DOUBLE, d1_macd DOUBLE, d1_macd_signal DOUBLE, d1_macd_hist DOUBLE, d1_rsi14 DOUBLE, d1_volatility DOUBLE, d1_last_close DOUBLE, d1_atr DOUBLE, d1_atr_pct DOUBLE, d1_bb_upper DOUBLE, d1_bb_lower DOUBLE, d1_bb_width DOUBLE, d1_stoch_k DOUBLE, d1_stoch_d DOUBLE, d1_adx DOUBLE, d1_obv_slope DOUBLE, d1_resistance DOUBLE, d1_support DOUBLE, d1_dist_res_pct DOUBLE, d1_dist_sup_pct DOUBLE, filter_reason VARCHAR, pass_ai BOOLEAN DEFAULT FALSE, pass_pm BOOLEAN DEFAULT FALSE, sig_hash VARCHAR, call_ai BOOLEAN DEFAULT FALSE, dedup_reason VARCHAR, ai_decision VARCHAR, ai_validated BOOLEAN, ai_quality INTEGER, ai_reasoning VARCHAR, ai_chart_pattern VARCHAR, ai_stop_loss DOUBLE, ai_stop_basis VARCHAR, ai_bias_sma200 VARCHAR, ai_regime_d1 VARCHAR, ai_alignment VARCHAR, ai_missing VARCHAR, ai_anomalies VARCHAR, ai_output_ref VARCHAR, ai_rr_theoretical DOUBLE, vector_status VARCHAR DEFAULT 'PENDING', vector_id VARCHAR, vectorized_at TIMESTAMP, row_hash VARCHAR, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP)\",\n    \"CREATE TABLE IF NOT EXISTS ai_dedup_cache (symbol VARCHAR NOT NULL, interval_key VARCHAR NOT NULL, sig_hash VARCHAR NOT NULL, sig_json VARCHAR, last_ai_at TIMESTAMP, last_ai_run_id VARCHAR, last_ai_reason VARCHAR, last_ai_output_ref VARCHAR, ttl_minutes INTEGER DEFAULT 240, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, PRIMARY KEY (symbol, interval_key))\",\n    \"CREATE TABLE IF NOT EXISTS run_log (run_id VARCHAR PRIMARY KEY, started_at TIMESTAMP NOT NULL, finished_at TIMESTAMP, status VARCHAR DEFAULT 'RUNNING', batch_start INTEGER, batch_size INTEGER, total_pool INTEGER, symbols_ok INTEGER DEFAULT 0, symbols_error INTEGER DEFAULT 0, ai_calls INTEGER DEFAULT 0, vectors_written INTEGER DEFAULT 0, error_detail VARCHAR, version VARCHAR DEFAULT '2.0.0')\",\n    \"CREATE TABLE IF NOT EXISTS batch_state (key VARCHAR PRIMARY KEY, value INTEGER NOT NULL, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP)\",\n]\n\nMIGRATE_STMTS = [\n    \"ALTER TABLE technical_signals ADD COLUMN IF NOT EXISTS data_age_h1_hours DOUBLE\",\n    \"ALTER TABLE technical_signals ADD COLUMN IF NOT EXISTS data_age_d1_hours DOUBLE\",\n]\n\nitems = _items\nfirst_json = items[0].get(\"json\", {}) if items else {}\n\nall_symbols = first_json.get(\"_all_symbols\", []) or []\nconfig = {\n    \"yfinance_api_base\": first_json.get(\"yfinance_api_base\", \"http://yfinance-api:8080\"),\n    \"intraday\": first_json.get(\"intraday\", {}),\n    \"daily\": first_json.get(\"daily\", {}),\n}\n\nwith db_con() as con:\n    # Schema init\n    for stmt in SCHEMA_STMTS:\n        con.execute(stmt)\n    for stmt in MIGRATE_STMTS:\n        try:\n            con.execute(stmt)\n        except Exception:\n            pass\n\n    # Universe sync\n    universe = first_json.get(\"_universe\", []) or []\n    for r in universe:\n        sym = str(r.get(\"Symbol\", r.get(\"symbol\", \"\")) or \"\").strip()\n        if not sym:\n            continue\n        con.execute(\n            \"INSERT OR REPLACE INTO universe (symbol, name, asset_class, exchange, currency, country, sector, industry, isin, enabled, boursorama_ref, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\",\n            [sym, r.get(\"Name\", \"\"), r.get(\"AssetClass\", \"Equity\"), r.get(\"Exchange\", \"Euronext Paris\"), r.get(\"Currency\", \"EUR\"), r.get(\"Country\", \"\"), r.get(\"Sector\", \"\"), r.get(\"Industry\", \"\"), r.get(\"ISIN\", \"\"), str(r.get(\"Enabled\", \"true\")).lower() == \"true\", r.get(\"BoursoramaRef\", \"\")],\n        )\n\n    # ── Batch rotation from DuckDB (persistent across re-imports) ──\n    row = con.execute(\"SELECT value FROM batch_state WHERE key = 'last_index'\").fetchone()\n    idx = int(row[0]) if row else 0\n    total = len(all_symbols)\n    if idx >= total:\n        idx = 0\n\n    batch = all_symbols[idx : idx + BATCH_SIZE]\n    next_idx = 0 if (idx + BATCH_SIZE >= total) else idx + BATCH_SIZE\n\n    # Persist new index\n    con.execute(\n        \"INSERT OR REPLACE INTO batch_state (key, value, updated_at) VALUES ('last_index', ?, CURRENT_TIMESTAMP)\",\n        [next_idx]\n    )\n\n    # Generate run ID\n    now = datetime.now(timezone.utc)\n    ts = now.strftime(\"%Y%m%d%H%M%S\")\n    run_id = f\"AG2V2_{ts}_{idx}\"\n\n    # Write run_log\n    con.execute(\n        \"INSERT OR REPLACE INTO run_log (run_id, started_at, batch_start, batch_size, total_pool) VALUES (?, CURRENT_TIMESTAMP, ?, ?, ?)\",\n        [run_id, idx, len(batch), total],\n    )\n\n# ── Explode: one item per symbol ──\nout = []\nfor i, symbol in enumerate(batch):\n    out.append({\"json\": {\n        \"ok\": True,\n        \"symbol\": symbol,\n        \"run_id\": run_id,\n        \"yfinance_api_base\": config[\"yfinance_api_base\"],\n        \"intraday\": config[\"intraday\"],\n        \"daily\": config[\"daily\"],\n        \"batch_info\": {\"start\": idx, \"size\": len(batch), \"total\": total},\n        \"_index\": i,\n    }})\n\nif not out:\n    out = [{\"json\": {\"ok\": False, \"error\": \"EMPTY_BATCH\", \"run_id\": run_id}}]\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        208
      ],
      "id": "54a4238c-e435-4235-a2cb-cc9d0e2950de",
      "name": "DuckDB Init Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        208
      ],
      "id": "f1ee5be8-5e4f-4886-a45e-a52efac0d37e",
      "name": "Loop Symbols",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items\n\nrun_id = \"\"\nsymbols_ok = 0\nsymbols_error = 0\nai_calls = 0\nvectors_written = 0\nerrors = []\n\nfor it in items:\n    d = it.get(\"json\", {}) or {}\n\n    if not run_id:\n        run_id = str(d.get(\"run_id\", \"\") or \"\")\n\n    if d.get(\"_status\") == \"error\":\n        symbols_error += 1\n        sym = str(d.get(\"symbol\", \"?\") or \"?\")\n        err = str(d.get(\"error\", \"?\") or \"?\")\n        errors.append(f\"{sym}: {err}\")\n    else:\n        symbols_ok += 1\n\n    if d.get(\"call_ai\") is True:\n        ai_calls += 1\n\n    if str(d.get(\"vector_status\", \"\") or \"\").upper() == \"DONE\":\n        vectors_written += 1\n\nstatus = \"NO_RUN\"\nif run_id:\n    status = \"SUCCESS\" if symbols_error == 0 else (\"PARTIAL\" if symbols_ok > 0 else \"FAILED\")\n\n    with db_con() as con:\n        con.execute(\n            \"UPDATE run_log SET finished_at = CURRENT_TIMESTAMP, status = ?, symbols_ok = ?, symbols_error = ?, ai_calls = ?, vectors_written = ?, error_detail = ? WHERE run_id = ?\",\n            [\n                status,\n                symbols_ok,\n                symbols_error,\n                ai_calls,\n                vectors_written,\n                (\"; \".join(errors)[:500] if errors else None),\n                run_id,\n            ],\n        )\n\nreturn [{\"json\": {\n    \"run_id\": run_id,\n    \"status\": status,\n    \"symbols_ok\": symbols_ok,\n    \"symbols_error\": symbols_error,\n    \"ai_calls\": ai_calls,\n    \"vectors_written\": vectors_written,\n}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ],
      "id": "2772fe66-21ec-41d2-9566-3fe0046cff2f",
      "name": "Finalize Run"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "\"\"\"\nNode 11 — Sync DuckDB → Google Sheets format.\nReads signals from the LATEST RUN only and outputs items matching\nthe expected column format of \"AG2 - étape 1 - sortie\" sheet.\nRuns AFTER Finalize (node 10) — delta sync (batch only).\n\"\"\"\nimport duckdb, gc, json, time\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, base_delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path, read_only=True)\n            break\n        except duckdb.IOException:\n            if attempt < retries - 1:\n                time.sleep(base_delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n# ── Column mapping: DuckDB snake_case → Sheets PascalCase ──\n# Existing columns (85 from the old AG2 sheet)\nFIELD_MAP = {\n    # Identity\n    \"symbol\": \"Symbol\",\n    \"run_id\": \"Run_ID\",\n    \"workflow_date\": \"Workflow_Date\",\n    # H1 signal\n    \"h1_action\": \"H1_Action\",\n    \"h1_score\": \"H1_Score\",\n    \"h1_confidence\": \"H1_Confidence\",\n    \"h1_rationale\": \"H1_Rationale\",\n    \"h1_date\": \"H1_Date\",\n    \"h1_source\": \"H1_Source\",\n    \"h1_status\": \"H1_Status\",\n    \"h1_warnings\": \"H1_Warnings\",\n    # D1 signal\n    \"d1_action\": \"D1_Action\",\n    \"d1_score\": \"D1_Score\",\n    \"d1_confidence\": \"D1_Confidence\",\n    \"d1_rationale\": \"D1_Rationale\",\n    \"d1_date\": \"D1_Date\",\n    \"d1_source\": \"D1_Source\",\n    \"d1_status\": \"D1_Status\",\n    \"d1_warnings\": \"D1_Warnings\",\n    # Price\n    \"last_close\": \"Last_Close\",\n    # Signal processing\n    \"filter_reason\": \"Reason\",\n    \"pass_ai\": \"Pass_AI\",\n    \"pass_pm\": \"Pass_PM\",\n    \"sig_hash\": \"Sig_JSON\",\n    \"vector_status\": \"vector_status\",\n    \"vectorized_at\": \"vectorizedAt\",\n    # H1 indicators\n    \"h1_sma20\": \"H1_SMA20\",\n    \"h1_sma50\": \"H1_SMA50\",\n    \"h1_sma200\": \"H1_SMA200\",\n    \"h1_ema12\": \"H1_EMA12\",\n    \"h1_ema26\": \"H1_EMA26\",\n    \"h1_macd\": \"H1_MACD\",\n    \"h1_macd_signal\": \"H1_MACD_Signal\",\n    \"h1_macd_hist\": \"H1_MACD_Hist\",\n    \"h1_rsi14\": \"H1_RSI14\",\n    \"h1_volatility\": \"H1_Volatility_Ann\",\n    \"h1_last_close\": \"H1_Last_Close_Ind\",\n    \"h1_atr\": \"H1_ATR_Value\",\n    \"h1_atr_pct\": \"H1_ATR_Pct\",\n    \"h1_resistance\": \"H1_Resistance_50\",\n    \"h1_dist_res_pct\": \"H1_Dist_To_Res_Pct_50\",\n    # D1 indicators\n    \"d1_sma20\": \"D1_SMA20\",\n    \"d1_sma50\": \"D1_SMA50\",\n    \"d1_sma200\": \"D1_SMA200\",\n    \"d1_ema12\": \"D1_EMA12\",\n    \"d1_ema26\": \"D1_EMA26\",\n    \"d1_macd\": \"D1_MACD\",\n    \"d1_macd_signal\": \"D1_MACD_Signal\",\n    \"d1_macd_hist\": \"D1_MACD_Hist\",\n    \"d1_rsi14\": \"D1_RSI14\",\n    \"d1_volatility\": \"D1_Volatility_Ann\",\n    \"d1_last_close\": \"D1_Last_Close_Ind\",\n    \"d1_atr\": \"D1_ATR_Value\",\n    \"d1_atr_pct\": \"D1_ATR_Pct\",\n    \"d1_resistance\": \"D1_Resistance_50\",\n    \"d1_dist_res_pct\": \"D1_Dist_To_Res_Pct_50\",\n    # AI fields\n    \"ai_decision\": \"AI_Decision\",\n    \"ai_validated\": \"AI_Validated\",\n    \"ai_quality\": \"AI_QualityScore\",\n    \"ai_reasoning\": \"AI_Reasoning\",\n    \"ai_bias_sma200\": \"AI_Bias_SMA200\",\n    \"ai_regime_d1\": \"AI_Regime_D1\",\n    \"ai_alignment\": \"AI_Alignment\",\n    \"ai_stop_loss\": \"AI_StopLoss\",\n    \"ai_stop_basis\": \"AI_StopLoss_Basis\",\n    \"ai_missing\": \"AI_MissingFields\",\n    \"ai_anomalies\": \"AI_Anomalies\",\n    \"ai_output_ref\": \"AI_Output\",\n    \"ai_chart_pattern\": \"AI_ChartPattern\",\n    \"ai_rr_theoretical\": \"AI_RR_Theoretical\",\n}\n\n# \"Combined\" columns: same as H1 values (backward compat with old AG2)\nCOMBINED_MAP = {\n    \"h1_sma20\": \"SMA20\",\n    \"h1_sma50\": \"SMA50\",\n    \"h1_sma200\": \"SMA_200\",\n    \"h1_ema12\": \"EMA12\",\n    \"h1_ema26\": \"EMA26\",\n    \"h1_macd\": \"MACD\",\n    \"h1_macd_signal\": \"MACD_Signal\",\n    \"h1_macd_hist\": \"MACD_Hist\",\n    \"h1_rsi14\": \"RSI14\",\n    \"h1_volatility\": \"Volatility_Ann\",\n    \"h1_last_close\": \"Last_Close_Ind\",\n    \"h1_atr\": \"ATR_Value\",\n    \"h1_atr_pct\": \"ATR_Pct\",\n    \"h1_resistance\": \"Resistance_50\",\n    \"h1_dist_res_pct\": \"Dist_To_Res_Pct_50\",\n}\n\n# V2-only columns (new indicators not in old sheet — will create headers)\nV2_EXTRA_MAP = {\n    \"h1_bb_upper\": \"H1_BB_Upper\",\n    \"h1_bb_lower\": \"H1_BB_Lower\",\n    \"h1_bb_width\": \"H1_BB_Width\",\n    \"h1_stoch_k\": \"H1_Stoch_K\",\n    \"h1_stoch_d\": \"H1_Stoch_D\",\n    \"h1_adx\": \"H1_ADX\",\n    \"h1_obv_slope\": \"H1_OBV_Slope\",\n    \"h1_support\": \"H1_Support\",\n    \"h1_dist_sup_pct\": \"H1_Dist_To_Sup_Pct\",\n    \"d1_bb_upper\": \"D1_BB_Upper\",\n    \"d1_bb_lower\": \"D1_BB_Lower\",\n    \"d1_bb_width\": \"D1_BB_Width\",\n    \"d1_stoch_k\": \"D1_Stoch_K\",\n    \"d1_stoch_d\": \"D1_Stoch_D\",\n    \"d1_adx\": \"D1_ADX\",\n    \"d1_obv_slope\": \"D1_OBV_Slope\",\n    \"d1_support\": \"D1_Support\",\n    \"d1_dist_sup_pct\": \"D1_Dist_To_Sup_Pct\",\n}\n\ndef _fmt(val):\n    \"\"\"Format a value for Sheets: convert None/NaN to empty string, bools to strings.\"\"\"\n    if val is None:\n        return \"\"\n    s = str(val)\n    if s.lower() in (\"nan\", \"nat\", \"none\"):\n        return \"\"\n    if isinstance(val, bool):\n        return str(val).upper()\n    return val\n\n# ── Main ──\nitems = []\n\nwith db_con() as con:\n    # Delta sync: only symbols from the latest run (not the full universe)\n    rows = con.execute(\"\"\"\n        SELECT ts.*\n        FROM technical_signals ts\n        WHERE ts.run_id = (\n            SELECT run_id FROM run_log ORDER BY started_at DESC LIMIT 1\n        )\n        ORDER BY ts.symbol\n    \"\"\").fetchall()\n    col_names = [desc[0] for desc in con.description]\n\nfor row_tuple in rows:\n    row = dict(zip(col_names, row_tuple))\n    item = {}\n\n    # Map standard fields\n    for db_col, sheet_col in FIELD_MAP.items():\n        item[sheet_col] = _fmt(row.get(db_col))\n\n    # Map combined fields (H1 values as default \"combined\" for backward compat)\n    for db_col, sheet_col in COMBINED_MAP.items():\n        item[sheet_col] = _fmt(row.get(db_col))\n\n    # Map V2 extra fields\n    for db_col, sheet_col in V2_EXTRA_MAP.items():\n        item[sheet_col] = _fmt(row.get(db_col))\n\n    # Static/computed fields\n    item[\"TTL_Minutes\"] = 180\n    item[\"row_hash\"] = _fmt(row.get(\"sig_hash\", \"\"))\n\n    items.append({\"json\": item})\n\n# Output for n8n\nreturn items if items else [{\"json\": {\"_sync\": \"no_data\"}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "bf21b1c4-3b9a-474f-a40b-f2ab23bcc106",
      "name": "Sync DuckDB → Sheets",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1444959091,
          "cachedResultName": "AG2 - étape 1 - sortie",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1444959091"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Symbol": "={{ $json.Symbol }}",
            "Run_ID": "={{ $json.Run_ID }}",
            "Workflow_Date": "={{ $json.Workflow_Date }}",
            "H1_Action": "={{ $json.H1_Action }}",
            "H1_Score": "={{ $json.H1_Score }}",
            "H1_Confidence": "={{ $json.H1_Confidence }}",
            "H1_Rationale": "={{ $json.H1_Rationale }}",
            "H1_Date": "={{ $json.H1_Date }}",
            "H1_Source": "={{ $json.H1_Source }}",
            "H1_Status": "={{ $json.H1_Status }}",
            "H1_Warnings": "={{ $json.H1_Warnings }}",
            "D1_Action": "={{ $json.D1_Action }}",
            "D1_Score": "={{ $json.D1_Score }}",
            "D1_Confidence": "={{ $json.D1_Confidence }}",
            "D1_Rationale": "={{ $json.D1_Rationale }}",
            "D1_Date": "={{ $json.D1_Date }}",
            "D1_Source": "={{ $json.D1_Source }}",
            "D1_Status": "={{ $json.D1_Status }}",
            "D1_Warnings": "={{ $json.D1_Warnings }}",
            "Last_Close": "={{ $json.Last_Close }}",
            "SMA_200": "={{ $json.SMA_200 }}",
            "Reason": "={{ $json.Reason }}",
            "Pass_AI": "={{ $json.Pass_AI }}",
            "Pass_PM": "={{ $json.Pass_PM }}",
            "Sig_JSON": "={{ $json.Sig_JSON }}",
            "AI_Output": "={{ $json.AI_Output }}",
            "vector_status": "={{ $json.vector_status }}",
            "vectorizedAt": "={{ $json.vectorizedAt }}",
            "row_hash": "={{ $json.row_hash }}",
            "TTL_Minutes": "={{ $json.TTL_Minutes }}",
            "AI_Decision": "={{ $json.AI_Decision }}",
            "AI_Validated": "={{ $json.AI_Validated }}",
            "AI_QualityScore": "={{ $json.AI_QualityScore }}",
            "AI_Reasoning": "={{ $json.AI_Reasoning }}",
            "AI_Alignment": "={{ $json.AI_Alignment }}",
            "AI_Bias_SMA200": "={{ $json.AI_Bias_SMA200 }}",
            "AI_Regime_D1": "={{ $json.AI_Regime_D1 }}",
            "AI_StopLoss": "={{ $json.AI_StopLoss }}",
            "AI_StopLoss_Basis": "={{ $json.AI_StopLoss_Basis }}",
            "AI_MissingFields": "={{ $json.AI_MissingFields }}",
            "AI_Anomalies": "={{ $json.AI_Anomalies }}",
            "AI_ChartPattern": "={{ $json.AI_ChartPattern }}",
            "AI_RR_Theoretical": "={{ $json.AI_RR_Theoretical }}",
            "H1_SMA20": "={{ $json.H1_SMA20 }}",
            "H1_SMA50": "={{ $json.H1_SMA50 }}",
            "H1_SMA200": "={{ $json.H1_SMA200 }}",
            "H1_EMA12": "={{ $json.H1_EMA12 }}",
            "H1_EMA26": "={{ $json.H1_EMA26 }}",
            "H1_MACD": "={{ $json.H1_MACD }}",
            "H1_MACD_Signal": "={{ $json.H1_MACD_Signal }}",
            "H1_MACD_Hist": "={{ $json.H1_MACD_Hist }}",
            "H1_RSI14": "={{ $json.H1_RSI14 }}",
            "H1_Volatility_Ann": "={{ $json.H1_Volatility_Ann }}",
            "H1_Last_Close_Ind": "={{ $json.H1_Last_Close_Ind }}",
            "H1_ATR_Value": "={{ $json.H1_ATR_Value }}",
            "H1_ATR_Pct": "={{ $json.H1_ATR_Pct }}",
            "H1_Resistance_50": "={{ $json.H1_Resistance_50 }}",
            "H1_Dist_To_Res_Pct_50": "={{ $json.H1_Dist_To_Res_Pct_50 }}",
            "D1_SMA20": "={{ $json.D1_SMA20 }}",
            "D1_SMA50": "={{ $json.D1_SMA50 }}",
            "D1_SMA200": "={{ $json.D1_SMA200 }}",
            "D1_EMA12": "={{ $json.D1_EMA12 }}",
            "D1_EMA26": "={{ $json.D1_EMA26 }}",
            "D1_MACD": "={{ $json.D1_MACD }}",
            "D1_MACD_Signal": "={{ $json.D1_MACD_Signal }}",
            "D1_MACD_Hist": "={{ $json.D1_MACD_Hist }}",
            "D1_RSI14": "={{ $json.D1_RSI14 }}",
            "D1_Volatility_Ann": "={{ $json.D1_Volatility_Ann }}",
            "D1_Last_Close_Ind": "={{ $json.D1_Last_Close_Ind }}",
            "D1_ATR_Value": "={{ $json.D1_ATR_Value }}",
            "D1_ATR_Pct": "={{ $json.D1_ATR_Pct }}",
            "D1_Resistance_50": "={{ $json.D1_Resistance_50 }}",
            "D1_Dist_To_Res_Pct_50": "={{ $json.D1_Dist_To_Res_Pct_50 }}",
            "SMA20": "={{ $json.SMA20 }}",
            "SMA50": "={{ $json.SMA50 }}",
            "EMA12": "={{ $json.EMA12 }}",
            "EMA26": "={{ $json.EMA26 }}",
            "MACD": "={{ $json.MACD }}",
            "MACD_Signal": "={{ $json.MACD_Signal }}",
            "MACD_Hist": "={{ $json.MACD_Hist }}",
            "RSI14": "={{ $json.RSI14 }}",
            "Volatility_Ann": "={{ $json.Volatility_Ann }}",
            "Last_Close_Ind": "={{ $json.Last_Close_Ind }}",
            "ATR_Value": "={{ $json.ATR_Value }}",
            "ATR_Pct": "={{ $json.ATR_Pct }}",
            "Resistance_50": "={{ $json.Resistance_50 }}",
            "Dist_To_Res_Pct_50": "={{ $json.Dist_To_Res_Pct_50 }}",
            "H1_BB_Upper": "={{ $json.H1_BB_Upper }}",
            "H1_BB_Lower": "={{ $json.H1_BB_Lower }}",
            "H1_BB_Width": "={{ $json.H1_BB_Width }}",
            "H1_Stoch_K": "={{ $json.H1_Stoch_K }}",
            "H1_Stoch_D": "={{ $json.H1_Stoch_D }}",
            "H1_ADX": "={{ $json.H1_ADX }}",
            "H1_OBV_Slope": "={{ $json.H1_OBV_Slope }}",
            "H1_Support": "={{ $json.H1_Support }}",
            "H1_Dist_To_Sup_Pct": "={{ $json.H1_Dist_To_Sup_Pct }}",
            "D1_BB_Upper": "={{ $json.D1_BB_Upper }}",
            "D1_BB_Lower": "={{ $json.D1_BB_Lower }}",
            "D1_BB_Width": "={{ $json.D1_BB_Width }}",
            "D1_Stoch_K": "={{ $json.D1_Stoch_K }}",
            "D1_Stoch_D": "={{ $json.D1_Stoch_D }}",
            "D1_ADX": "={{ $json.D1_ADX }}",
            "D1_OBV_Slope": "={{ $json.D1_OBV_Slope }}",
            "D1_Support": "={{ $json.D1_Support }}",
            "D1_Dist_To_Sup_Pct": "={{ $json.D1_Dist_To_Sup_Pct }}"
          },
          "matchingColumns": [
            "Symbol"
          ],
          "schema": [
            {
              "id": "Symbol",
              "displayName": "Symbol",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Run_ID",
              "displayName": "Run_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow_Date",
              "displayName": "Workflow_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Action",
              "displayName": "H1_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Score",
              "displayName": "H1_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Confidence",
              "displayName": "H1_Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Rationale",
              "displayName": "H1_Rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Date",
              "displayName": "H1_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Source",
              "displayName": "H1_Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Status",
              "displayName": "H1_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Warnings",
              "displayName": "H1_Warnings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Action",
              "displayName": "D1_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Score",
              "displayName": "D1_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Confidence",
              "displayName": "D1_Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Rationale",
              "displayName": "D1_Rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Date",
              "displayName": "D1_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Source",
              "displayName": "D1_Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Status",
              "displayName": "D1_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Warnings",
              "displayName": "D1_Warnings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Close",
              "displayName": "Last_Close",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SMA_200",
              "displayName": "SMA_200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pass_AI",
              "displayName": "Pass_AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pass_PM",
              "displayName": "Pass_PM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sig_JSON",
              "displayName": "Sig_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Output",
              "displayName": "AI_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vector_status",
              "displayName": "vector_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vectorizedAt",
              "displayName": "vectorizedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_hash",
              "displayName": "row_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TTL_Minutes",
              "displayName": "TTL_Minutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Decision",
              "displayName": "AI_Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Validated",
              "displayName": "AI_Validated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_QualityScore",
              "displayName": "AI_QualityScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Reasoning",
              "displayName": "AI_Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Alignment",
              "displayName": "AI_Alignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Bias_SMA200",
              "displayName": "AI_Bias_SMA200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Regime_D1",
              "displayName": "AI_Regime_D1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_StopLoss",
              "displayName": "AI_StopLoss",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_StopLoss_Basis",
              "displayName": "AI_StopLoss_Basis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_MissingFields",
              "displayName": "AI_MissingFields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Anomalies",
              "displayName": "AI_Anomalies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_ChartPattern",
              "displayName": "AI_ChartPattern",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_RR_Theoretical",
              "displayName": "AI_RR_Theoretical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_SMA20",
              "displayName": "H1_SMA20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_SMA50",
              "displayName": "H1_SMA50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_SMA200",
              "displayName": "H1_SMA200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_EMA12",
              "displayName": "H1_EMA12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_EMA26",
              "displayName": "H1_EMA26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_MACD",
              "displayName": "H1_MACD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_MACD_Signal",
              "displayName": "H1_MACD_Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_MACD_Hist",
              "displayName": "H1_MACD_Hist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_RSI14",
              "displayName": "H1_RSI14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Volatility_Ann",
              "displayName": "H1_Volatility_Ann",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Last_Close_Ind",
              "displayName": "H1_Last_Close_Ind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_ATR_Value",
              "displayName": "H1_ATR_Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_ATR_Pct",
              "displayName": "H1_ATR_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Resistance_50",
              "displayName": "H1_Resistance_50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Dist_To_Res_Pct_50",
              "displayName": "H1_Dist_To_Res_Pct_50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_SMA20",
              "displayName": "D1_SMA20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_SMA50",
              "displayName": "D1_SMA50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_SMA200",
              "displayName": "D1_SMA200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_EMA12",
              "displayName": "D1_EMA12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_EMA26",
              "displayName": "D1_EMA26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_MACD",
              "displayName": "D1_MACD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_MACD_Signal",
              "displayName": "D1_MACD_Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_MACD_Hist",
              "displayName": "D1_MACD_Hist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_RSI14",
              "displayName": "D1_RSI14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Volatility_Ann",
              "displayName": "D1_Volatility_Ann",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Last_Close_Ind",
              "displayName": "D1_Last_Close_Ind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_ATR_Value",
              "displayName": "D1_ATR_Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_ATR_Pct",
              "displayName": "D1_ATR_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Resistance_50",
              "displayName": "D1_Resistance_50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Dist_To_Res_Pct_50",
              "displayName": "D1_Dist_To_Res_Pct_50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SMA20",
              "displayName": "SMA20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SMA50",
              "displayName": "SMA50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMA12",
              "displayName": "EMA12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMA26",
              "displayName": "EMA26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MACD",
              "displayName": "MACD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MACD_Signal",
              "displayName": "MACD_Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MACD_Hist",
              "displayName": "MACD_Hist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RSI14",
              "displayName": "RSI14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Volatility_Ann",
              "displayName": "Volatility_Ann",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Close_Ind",
              "displayName": "Last_Close_Ind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATR_Value",
              "displayName": "ATR_Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATR_Pct",
              "displayName": "ATR_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resistance_50",
              "displayName": "Resistance_50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dist_To_Res_Pct_50",
              "displayName": "Dist_To_Res_Pct_50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_BB_Upper",
              "displayName": "H1_BB_Upper",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_BB_Lower",
              "displayName": "H1_BB_Lower",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_BB_Width",
              "displayName": "H1_BB_Width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Stoch_K",
              "displayName": "H1_Stoch_K",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Stoch_D",
              "displayName": "H1_Stoch_D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_ADX",
              "displayName": "H1_ADX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_OBV_Slope",
              "displayName": "H1_OBV_Slope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Support",
              "displayName": "H1_Support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H1_Dist_To_Sup_Pct",
              "displayName": "H1_Dist_To_Sup_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_BB_Upper",
              "displayName": "D1_BB_Upper",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_BB_Lower",
              "displayName": "D1_BB_Lower",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_BB_Width",
              "displayName": "D1_BB_Width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Stoch_K",
              "displayName": "D1_Stoch_K",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Stoch_D",
              "displayName": "D1_Stoch_D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_ADX",
              "displayName": "D1_ADX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_OBV_Slope",
              "displayName": "D1_OBV_Slope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Support",
              "displayName": "D1_Support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "D1_Dist_To_Sup_Pct",
              "displayName": "D1_Dist_To_Sup_Pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        0
      ],
      "id": "e0454a46-9a7b-4bad-9b77-c9d665d04f38",
      "name": "Write AG2 Sortie",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$json.yfinance_api_base}}/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "interval",
              "value": "={{ $json.intraday.interval }}"
            },
            {
              "name": "lookback_days",
              "value": "={{ $json.intraday.lookback_days }}"
            },
            {
              "name": "max_bars",
              "value": "={{ $json.intraday.max_bars }}"
            },
            {
              "name": "min_bars",
              "value": "={{ $json.intraday.min_bars }}"
            },
            {
              "name": "allow_stale",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        160
      ],
      "id": "e0bb7720-3c6f-488c-98cb-936fb1363c5f",
      "name": "AG2.10 — HTTP — Fetch Yahoo OHLCV (1H Timing)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$json.yfinance_api_base}}/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "interval",
              "value": "={{ $json.daily.interval }}"
            },
            {
              "name": "lookback_days",
              "value": "={{ $json.daily.lookback_days }}"
            },
            {
              "name": "max_bars",
              "value": "={{ $json.daily.max_bars }}"
            },
            {
              "name": "min_bars",
              "value": "={{ $json.daily.min_bars }}"
            },
            {
              "name": "allow_stale",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        336
      ],
      "id": "3c34750c-9e8d-4492-ad18-c9e85ecdf55b",
      "name": "AG2.15 — HTTP — Fetch Yahoo OHLCV (1D Strategy)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// AG2.11 — Wrap H1 response, preserving context from Loop\nconst resp = JSON.parse(JSON.stringify($json || {}));\nconst ctx = $('Loop Symbols').item.json;\n\nreturn [{\n  json: {\n    symbol: resp.symbol || ctx.symbol || '',\n    run_id: ctx.run_id || '',\n    batch_info: ctx.batch_info || {},\n    h1_response: resp,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        160
      ],
      "id": "3fb8679b-3baf-4c62-a9a5-fa5a11c26235",
      "name": "AG2.11 — Code — Wrap H1"
    },
    {
      "parameters": {
        "jsCode": "// AG2.16 — Wrap D1 response, preserving context from Loop\nconst resp = JSON.parse(JSON.stringify($json || {}));\nconst ctx = $('Loop Symbols').item.json;\n\nreturn [{\n  json: {\n    symbol: resp.symbol || ctx.symbol || '',\n    run_id: ctx.run_id || '',\n    batch_info: ctx.batch_info || {},\n    d1_response: resp,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        336
      ],
      "id": "b8af6c03-61bb-4026-9737-1608c4a06427",
      "name": "AG2.16 — Code — Wrap D1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        240
      ],
      "id": "69e75c04-0bb1-4fc4-a3c9-a99b2efe0416",
      "name": "Merge"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import math\nimport json\nimport duckdb, time, gc\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone, timedelta\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n# ===================================================\n# INDICATOR ENGINE V2\n# ===================================================\n\ndef safe_float(v):\n    if v is None:\n        return None\n    try:\n        f = float(v)\n        return None if (math.isnan(f) or math.isinf(f)) else f\n    except:\n        return None\n\ndef sanitize(d):\n    if isinstance(d, dict):\n        out = {}\n        for k, v in d.items():\n            if isinstance(v, float) and (math.isnan(v) or math.isinf(v)):\n                out[k] = None\n            else:\n                out[k] = sanitize(v)\n        return out\n    if isinstance(d, list):\n        return [sanitize(x) for x in d]\n    return d\n\ndef sma(values, period):\n    if len(values) < period:\n        return None\n    return sum(values[-period:]) / period\n\ndef ema_series(values, period):\n    if len(values) < period:\n        return []\n    k = 2.0 / (period + 1)\n    init = sum(values[:period]) / period\n    result = [init]\n    for v in values[period:]:\n        result.append(v * k + result[-1] * (1 - k))\n    return result\n\ndef rsi_wilder(closes, period=14):\n    if len(closes) < period + 1:\n        return None\n    deltas = [closes[i] - closes[i-1] for i in range(1, len(closes))]\n    ag = sum(max(0, d) for d in deltas[:period]) / period\n    al = sum(max(0, -d) for d in deltas[:period]) / period\n    for d in deltas[period:]:\n        ag = (ag * (period - 1) + max(0, d)) / period\n        al = (al * (period - 1) + max(0, -d)) / period\n    if al == 0:\n        return 100.0\n    return 100.0 - (100.0 / (1.0 + ag / al))\n\ndef macd_calc(closes):\n    e12 = ema_series(closes, 12)\n    e26 = ema_series(closes, 26)\n    if not e12 or not e26:\n        return {\"ema12\": None, \"ema26\": None, \"macd\": None, \"macd_signal\": None, \"macd_hist\": None}\n    offset = 26 - 12\n    if len(e12) <= offset:\n        return {\"ema12\": safe_float(e12[-1]), \"ema26\": safe_float(e26[-1]), \"macd\": None, \"macd_signal\": None, \"macd_hist\": None}\n    ml = [e12[i + offset] - e26[i] for i in range(len(e26))]\n    sl = ema_series(ml, 9)\n    mv = safe_float(ml[-1])\n    sv = safe_float(sl[-1]) if sl else None\n    hv = round(mv - sv, 6) if mv is not None and sv is not None else None\n    return {\"ema12\": safe_float(e12[-1]), \"ema26\": safe_float(e26[-1]), \"macd\": mv, \"macd_signal\": sv, \"macd_hist\": hv}\n\ndef atr_calc(highs, lows, closes, period=14):\n    if len(closes) < period + 1:\n        return None\n    trs = [max(highs[i]-lows[i], abs(highs[i]-closes[i-1]), abs(lows[i]-closes[i-1])) for i in range(1, len(closes))]\n    if len(trs) < period:\n        return None\n    a = sum(trs[:period]) / period\n    for tr in trs[period:]:\n        a = (a * (period - 1) + tr) / period\n    return a\n\ndef bollinger(closes, period=20, ns=2.0):\n    if len(closes) < period:\n        return {\"bb_upper\": None, \"bb_lower\": None, \"bb_width\": None}\n    w = closes[-period:]\n    m = sum(w) / period\n    s = math.sqrt(sum((x - m)**2 for x in w) / period)\n    u, l = m + ns * s, m - ns * s\n    bw = (u - l) / m * 100 if m != 0 else None\n    return {\"bb_upper\": round(u, 4), \"bb_lower\": round(l, 4), \"bb_width\": round(bw, 4) if bw is not None else None}\n\ndef stochastic(highs, lows, closes, kp=14, dp=3):\n    if len(closes) < kp + dp - 1:\n        return {\"stoch_k\": None, \"stoch_d\": None}\n    kv = []\n    for i in range(kp - 1, len(closes)):\n        hh = max(highs[i-kp+1:i+1])\n        ll = min(lows[i-kp+1:i+1])\n        kv.append((closes[i] - ll) / (hh - ll) * 100 if hh != ll else 50.0)\n    if len(kv) < dp:\n        return {\"stoch_k\": round(kv[-1], 2) if kv else None, \"stoch_d\": None}\n    return {\"stoch_k\": round(kv[-1], 2), \"stoch_d\": round(sum(kv[-dp:]) / dp, 2)}\n\ndef adx_calc(highs, lows, closes, period=14):\n    if len(closes) < period * 2 + 1:\n        return None\n    pdm, mdm, trl = [], [], []\n    for i in range(1, len(closes)):\n        up = highs[i] - highs[i-1]\n        dn = lows[i-1] - lows[i]\n        pdm.append(up if up > dn and up > 0 else 0)\n        mdm.append(dn if dn > up and dn > 0 else 0)\n        trl.append(max(highs[i]-lows[i], abs(highs[i]-closes[i-1]), abs(lows[i]-closes[i-1])))\n    if len(trl) < period:\n        return None\n    def ws(vals, p):\n        s = sum(vals[:p])\n        r = [s]\n        for v in vals[p:]:\n            s = s - s/p + v\n            r.append(s)\n        return r\n    st, sp, sm = ws(trl, period), ws(pdm, period), ws(mdm, period)\n    dxl = []\n    for i in range(len(st)):\n        if st[i] == 0:\n            continue\n        dp_ = sp[i]/st[i]*100\n        dm_ = sm[i]/st[i]*100\n        ds = dp_ + dm_\n        dxl.append(abs(dp_ - dm_)/ds*100 if ds != 0 else 0)\n    if len(dxl) < period:\n        return None\n    av = ws(dxl, period)\n    return round(av[-1] / period, 2) if av else None\n\ndef obv_slope(closes, volumes, lb=20):\n    if len(closes) < lb + 1 or len(volumes) < lb + 1:\n        return None\n    obv = [0.0]\n    for i in range(1, len(closes)):\n        if closes[i] > closes[i-1]:\n            obv.append(obv[-1] + volumes[i])\n        elif closes[i] < closes[i-1]:\n            obv.append(obv[-1] - volumes[i])\n        else:\n            obv.append(obv[-1])\n    seg = obv[-lb:]\n    n = len(seg)\n    xm = (n-1)/2.0\n    ym = sum(seg)/n\n    num = sum((i - xm)*(seg[i] - ym) for i in range(n))\n    den = sum((i - xm)**2 for i in range(n))\n    if den == 0:\n        return 0.0\n    av = sum(volumes[-lb:])/lb\n    return round(num / den / av, 4) if av != 0 else 0.0\n\ndef find_sr(highs, lows, closes, window=5, lb=50):\n    if len(closes) < lb:\n        return {\"resistance\": None, \"support\": None, \"dist_res_pct\": None, \"dist_sup_pct\": None}\n    p = closes[-1]\n    h, l = highs[-lb:], lows[-lb:]\n    shs, sls = [], []\n    for i in range(window, len(h) - window):\n        if all(h[i] >= h[i-j] for j in range(1, window+1)) and all(h[i] >= h[i+j] for j in range(1, window+1)):\n            shs.append(h[i])\n        if all(l[i] <= l[i-j] for j in range(1, window+1)) and all(l[i] <= l[i+j] for j in range(1, window+1)):\n            sls.append(l[i])\n    res = sorted([s for s in shs if s > p])\n    resistance = res[0] if res else max(h)\n    sups = sorted([s for s in sls if s < p], reverse=True)\n    support = sups[0] if sups else min(l)\n    dr = round((resistance - p)/p*100, 2) if resistance and p > 0 else None\n    ds = round((p - support)/p*100, 2) if support and p > 0 else None\n    return {\"resistance\": round(resistance, 4) if resistance else None, \"support\": round(support, 4) if support else None, \"dist_res_pct\": dr, \"dist_sup_pct\": ds}\n\ndef volatility_ann(closes, interval):\n    if len(closes) < 20:\n        return None\n    lr = [math.log(closes[i]/closes[i-1]) for i in range(1, len(closes)) if closes[i-1] > 0 and closes[i] > 0]\n    if len(lr) < 10:\n        return None\n    m = sum(lr)/len(lr)\n    v = sum((r-m)**2 for r in lr)/len(lr)\n    s = math.sqrt(v)\n    il = (interval or \"\").lower()\n    if il in (\"1d\",\"5d\"):\n        f = math.sqrt(252)\n    elif il in (\"1wk\",):\n        f = math.sqrt(52)\n    elif il in (\"1mo\",\"3mo\"):\n        f = math.sqrt(12)\n    elif \"h\" in il or il in (\"60m\",\"90m\"):\n        f = math.sqrt(252*8)\n    else:\n        f = math.sqrt(252)\n    return round(s * f, 4)\n\ndef compute_indicators(bars, interval):\n    opens, highs, lows, closes, volumes, times = [], [], [], [], [], []\n    for b in bars or []:\n        o, h, l, c = safe_float(b.get(\"o\")), safe_float(b.get(\"h\")), safe_float(b.get(\"l\")), safe_float(b.get(\"c\"))\n        vol = safe_float(b.get(\"v\")) or 0.0\n        if o is None or h is None or l is None or c is None:\n            continue\n        opens.append(o); highs.append(h); lows.append(l); closes.append(c); volumes.append(vol); times.append(b.get(\"t\",\"\"))\n    n = len(closes)\n    if n == 0:\n        return {\n            \"status\":\"NO_DATA\",\n            \"bars_count\":0,\n            \"indicators\":{},\n            \"signal\":{\"action\":\"NEUTRAL\",\"score\":0,\"confidence\":0,\"rationale\":\"No data\"},\n            \"warnings\":[\"No valid bars\"],\n            \"last_bar_time\":None\n        }\n\n    min_req = 50 if (\"h\" in (interval or \"\").lower() or \"m\" in (interval or \"\").lower()) else 200\n    warnings = []\n    if n < min_req:\n        warnings.append(f\"Bars {n} < {min_req}\")\n\n    ind = {}\n    ind[\"sma20\"] = safe_float(sma(closes, 20))\n    ind[\"sma50\"] = safe_float(sma(closes, 50))\n    ind[\"sma200\"] = safe_float(sma(closes, 200))\n    ind.update(macd_calc(closes))\n    ind[\"rsi14\"] = safe_float(rsi_wilder(closes, 14))\n    ind[\"volatility\"] = safe_float(volatility_ann(closes, interval))\n    atr_v = atr_calc(highs, lows, closes, 14)\n    ind[\"atr\"] = safe_float(atr_v)\n    ind[\"atr_pct\"] = round(atr_v / closes[-1] * 100, 4) if atr_v and closes[-1] > 0 else None\n    ind.update(bollinger(closes, 20, 2.0))\n    ind.update(stochastic(highs, lows, closes, 14, 3))\n    ind[\"adx\"] = safe_float(adx_calc(highs, lows, closes, 14))\n    ind[\"obv_slope\"] = safe_float(obv_slope(closes, volumes, 20))\n    ind.update(find_sr(highs, lows, closes, 5, 50))\n    ind[\"last_close\"] = closes[-1]\n\n    score = 0; reasons = []\n    cl = ind[\"last_close\"]; s50 = ind.get(\"sma50\"); s200 = ind.get(\"sma200\")\n    mh = ind.get(\"macd_hist\"); rsi = ind.get(\"rsi14\"); sk = ind.get(\"stoch_k\")\n    bbl = ind.get(\"bb_lower\"); bbu = ind.get(\"bb_upper\")\n\n    if cl is not None and s50 is not None:\n        if cl > s50: score += 1; reasons.append(\"Prix > SMA50\")\n        else: score -= 1; reasons.append(\"Prix < SMA50\")\n    if s50 is not None and s200 is not None:\n        if s50 > s200: score += 1; reasons.append(\"SMA50 > SMA200\")\n        else: score -= 1; reasons.append(\"SMA50 < SMA200\")\n    if mh is not None:\n        if mh > 0: score += 1; reasons.append(\"MACD Hist > 0\")\n        else: score -= 1; reasons.append(\"MACD Hist < 0\")\n    if rsi is not None:\n        if rsi < 30: score += 1; reasons.append(\"RSI survente\")\n        elif rsi > 70: score -= 1; reasons.append(\"RSI surachat\")\n    if sk is not None:\n        if sk < 20: score += 1; reasons.append(\"Stoch survente\")\n        elif sk > 80: score -= 1; reasons.append(\"Stoch surachat\")\n    if cl is not None and bbl is not None and bbu is not None and (bbu - bbl) > 0:\n        pos = (cl - bbl) / (bbu - bbl)\n        if pos < 0.1: score += 1; reasons.append(\"Prix sur BB basse\")\n        elif pos > 0.9: score -= 1; reasons.append(\"Prix sur BB haute\")\n\n    action = \"BUY\" if score >= 2 else (\"SELL\" if score <= -2 else \"NEUTRAL\")\n    confidence = round(abs(score) / 6 * 100, 1)\n    signal = {\"action\": action, \"score\": score, \"confidence\": min(100, confidence), \"rationale\": \", \".join(reasons) if reasons else \"Aucun signal clair\"}\n    status = \"OK\" if n >= min_req else \"INSUFFICIENT_DATA\"\n\n    return sanitize({\n        \"status\": status,\n        \"bars_count\": n,\n        \"warnings\": warnings,\n        \"indicators\": ind,\n        \"signal\": signal,\n        \"last_bar_time\": times[-1] if times else None\n    })\n\n# ===================================================\n# FRESHNESS GATE\n# ===================================================\n\ndef check_freshness(last_bar_time, interval, now=None):\n    \"\"\"Check if data is stale. Returns (is_fresh, age_hours, status).\n    H1: stale if age > 3h during market hours, > 72h otherwise\n    D1: stale if age > 96h (4 days — covers weekends)\n    \"\"\"\n    if not last_bar_time:\n        return False, None, \"NO_TIMESTAMP\"\n    if now is None:\n        now = datetime.now(timezone.utc)\n    try:\n        t = last_bar_time\n        if isinstance(t, str):\n            t = t.replace(\"Z\", \"+00:00\")\n            if \"+\" not in t and \"-\" not in t[10:]:\n                t += \"+00:00\"\n            t = datetime.fromisoformat(t)\n        if t.tzinfo is None:\n            t = t.replace(tzinfo=timezone.utc)\n        age = now - t\n        age_hours = round(age.total_seconds() / 3600, 1)\n    except Exception:\n        return False, None, \"PARSE_ERROR\"\n\n    il = (interval or \"\").lower()\n    if \"h\" in il or \"m\" in il:\n        # Intraday: stale if > 3 hours in market session, > 72h always\n        max_age_h = 72\n        wd = now.weekday()\n        hr = now.hour\n        if wd < 5 and 7 <= hr <= 18:  # Mon-Fri market hours (UTC approx)\n            max_age_h = 3\n        if age_hours > max_age_h:\n            return False, age_hours, \"STALE\"\n    else:\n        # Daily+: stale if > 96h (covers weekends + 1 day margin)\n        if age_hours > 96:\n            return False, age_hours, \"STALE\"\n\n    return True, age_hours, \"FRESH\"\n\n\n# ===================================================\n# FILTER + DEDUP + WRITE\n# ===================================================\n\ndef pre_filter(h1_result, d1_ind):\n    h1_status = (h1_result or {}).get(\"status\")\n    if h1_status in (None, \"NO_DATA\"):\n        return False, \"NO_H1_DATA\"\n\n    h1_sig = (h1_result or {}).get(\"signal\", {}) or {}\n    h1_ind = (h1_result or {}).get(\"indicators\", {}) or {}\n\n    h1_action = (h1_sig.get(\"action\") or \"\").upper()\n    h1_score = h1_sig.get(\"score\", 0) or 0\n    rsi = h1_ind.get(\"rsi14\")\n    d1_sma200 = (d1_ind or {}).get(\"sma200\")\n    d1_close = (d1_ind or {}).get(\"last_close\")\n\n    if not h1_action:\n        return False, \"NO_H1_SIGNAL\"\n    if h1_action == \"SELL\":\n        return True, \"SELL_SIGNAL_SAFETY\"\n    if h1_action == \"NEUTRAL\":\n        return False, \"NEUTRAL\"\n\n    # h1_action == BUY\n    if d1_sma200 is None or d1_close is None:\n        return False, \"NO_DAILY_CONTEXT\"\n    if d1_close > d1_sma200:\n        return True, \"BUY_IN_UPTREND\"\n    if abs(h1_score) >= 3 or (rsi is not None and rsi < 30):\n        return True, \"STRONG_REVERSAL_BUY\"\n    return False, \"WEAK_BUY_AGAINST_TREND\"\n\ndef fnv1a(s):\n    h = 0x811c9dc5\n    for c in s.encode():\n        h ^= c\n        h = (h * 0x01000193) & 0xFFFFFFFF\n    return format(h, '08x')\n\ndef compute_sig_hash(symbol, h1_sig, h1_ind, d1_ind):\n    parts = [symbol, (h1_sig.get(\"action\",\"\") or \"\"), str(h1_sig.get(\"score\",0) or 0)]\n    rsi_val = h1_ind.get(\"rsi14\") if h1_ind else None\n    rsi_val = 50 if rsi_val is None else rsi_val\n    parts.append(str(round(rsi_val / 2) * 2))\n    mh = (h1_ind or {}).get(\"macd_hist\")\n    mh = 0 if mh is None else mh\n    parts.append(\"POS\" if mh >= 0 else \"NEG\")\n    if d1_ind:\n        d1c = d1_ind.get(\"last_close\", 0) or 0\n        d1s200 = d1_ind.get(\"sma200\", 0) or 0\n        parts.append(\"ABOVE200\" if d1c > d1s200 else \"BELOW200\")\n    return fnv1a(\"|\".join(parts))\n\ndef check_dedup(symbol, sig_hash, h1_action, con):\n    TTL_BUY = 240\n    TTL_SELL = 60\n    row = con.execute(\n        \"SELECT sig_hash, last_ai_at, ttl_minutes FROM ai_dedup_cache WHERE symbol = ? AND interval_key = 'combined'\",\n        [symbol]\n    ).fetchone()\n    if row is None:\n        return True, \"NO_CACHE\"\n\n    old_hash, last_ai_at, ttl = row\n    ttl = ttl or (TTL_SELL if h1_action == \"SELL\" else TTL_BUY)\n\n    if old_hash != sig_hash:\n        return True, \"SIGNATURE_CHANGED\"\n\n    if last_ai_at:\n        age_r = con.execute(\n            \"SELECT EXTRACT(EPOCH FROM (CURRENT_TIMESTAMP - CAST(? AS TIMESTAMP)))/60\",\n            [str(last_ai_at)]\n        ).fetchone()\n        age_min = age_r[0] if age_r else 999\n        if age_min < ttl:\n            return False, \"UNCHANGED_WITHIN_TTL\"\n        return True, \"TTL_EXPIRED\"\n\n    return True, \"NO_TIMESTAMP\"\n\ndef slim_response(resp, keep=3):\n    if not isinstance(resp, dict):\n        return {}\n    r = dict(resp)\n    bars = r.get(\"bars\")\n    if isinstance(bars, list) and len(bars) > keep*2:\n        r[\"bars_head\"] = bars[:keep]\n        r[\"bars_tail\"] = bars[-keep:]\n        r[\"bars_count\"] = len(bars)\n        r.pop(\"bars\", None)\n    return r\n\n# ===================================================\n# MAIN\n# ===================================================\n\nitems = _items\nresults = []\n\nIND_KEYS = [\n    \"sma20\",\"sma50\",\"sma200\",\"ema12\",\"ema26\",\"macd\",\"macd_signal\",\"macd_hist\",\"rsi14\",\"volatility\",\"last_close\",\n    \"atr\",\"atr_pct\",\"bb_upper\",\"bb_lower\",\"bb_width\",\"stoch_k\",\"stoch_d\",\"adx\",\"obv_slope\",\"resistance\",\"support\",\n    \"dist_res_pct\",\"dist_sup_pct\"\n]\n\nfor it in items:\n    d = it.get(\"json\", {}) or {}\n\n    symbol = str(d.get(\"symbol\", \"\") or \"\").strip()\n    run_id = str(d.get(\"run_id\", \"\") or \"\")\n    if not symbol:\n        continue\n\n    try:\n        h1_resp = d.get(\"h1_response\", {}) or {}\n        d1_resp = d.get(\"d1_response\", {}) or {}\n\n        h1_interval = str(h1_resp.get(\"interval\") or \"1h\")\n        d1_interval = str(d1_resp.get(\"interval\") or \"1d\")\n\n        # ── Symbol consistency check (P0.2) ──\n        h1_sym = str(h1_resp.get(\"symbol\", \"\") or \"\").strip()\n        d1_sym = str(d1_resp.get(\"symbol\", \"\") or \"\").strip()\n        if h1_sym and d1_sym and h1_sym != d1_sym:\n            results.append({\"json\": {\n                \"symbol\": symbol, \"run_id\": run_id, \"_status\": \"error\",\n                \"error\": f\"Symbol mismatch: H1={h1_sym} vs D1={d1_sym}\",\n                \"call_ai\": False, \"pass_ai\": False, \"pass_pm\": False\n            }})\n            continue\n\n        h1_result = compute_indicators(h1_resp.get(\"bars\", []), h1_interval)\n        d1_result = compute_indicators(d1_resp.get(\"bars\", []), d1_interval)\n\n        # ── Freshness Gate (P0.1) ──\n        now_utc = datetime.now(timezone.utc)\n        h1_fresh, h1_age_h, h1_freshness = check_freshness(h1_result.get(\"last_bar_time\"), h1_interval, now_utc)\n        d1_fresh, d1_age_h, d1_freshness = check_freshness(d1_result.get(\"last_bar_time\"), d1_interval, now_utc)\n\n        if not h1_fresh and h1_freshness == \"STALE\":\n            h1_result[\"status\"] = \"STALE\"\n            h1_result.setdefault(\"warnings\", []).append(f\"H1 data is {h1_age_h}h old — STALE\")\n        if not d1_fresh and d1_freshness == \"STALE\":\n            d1_result[\"status\"] = \"STALE\"\n            d1_result.setdefault(\"warnings\", []).append(f\"D1 data is {d1_age_h}h old — STALE\")\n\n        h1_ind = h1_result.get(\"indicators\", {}) or {}\n        d1_ind = d1_result.get(\"indicators\", {}) or {}\n        h1_sig = h1_result.get(\"signal\", {}) or {}\n        d1_sig = d1_result.get(\"signal\", {}) or {}\n\n        pass_ai, filter_reason = pre_filter(h1_result, d1_ind)\n\n        # Override pass_ai if data is stale\n        if pass_ai and not h1_fresh:\n            pass_ai = False\n            filter_reason = \"STALE_H1_DATA\"\n\n        sig_hash = compute_sig_hash(symbol, h1_sig, h1_ind, d1_ind)\n\n        call_ai = False\n        dedup_reason = \"FILTERED_OUT\"\n\n        with db_con() as con:\n            if pass_ai:\n                call_ai, dedup_reason = check_dedup(symbol, sig_hash, (h1_sig.get(\"action\") or \"\"), con)\n\n            signal_id = run_id + \"|\" + symbol\n\n            row = {\n                \"id\": signal_id,\n                \"run_id\": run_id,\n                \"symbol\": symbol,\n                \"workflow_date\": datetime.now(timezone.utc).isoformat(),\n\n                \"h1_date\": h1_result.get(\"last_bar_time\"),\n                \"h1_source\": h1_resp.get(\"source\",\"unknown\"),\n                \"h1_status\": h1_result.get(\"status\",\"NO_DATA\"),\n                \"h1_warnings\": json.dumps(h1_result.get(\"warnings\",[])),\n                \"h1_action\": h1_sig.get(\"action\"),\n                \"h1_score\": h1_sig.get(\"score\"),\n                \"h1_confidence\": h1_sig.get(\"confidence\"),\n                \"h1_rationale\": h1_sig.get(\"rationale\"),\n\n                \"d1_date\": d1_result.get(\"last_bar_time\"),\n                \"d1_source\": d1_resp.get(\"source\",\"unknown\"),\n                \"d1_status\": d1_result.get(\"status\",\"NO_DATA\"),\n                \"d1_warnings\": json.dumps(d1_result.get(\"warnings\",[])),\n                \"d1_action\": d1_sig.get(\"action\"),\n                \"d1_score\": d1_sig.get(\"score\"),\n                \"d1_confidence\": d1_sig.get(\"confidence\"),\n                \"d1_rationale\": d1_sig.get(\"rationale\"),\n\n                \"last_close\": h1_ind.get(\"last_close\") or d1_ind.get(\"last_close\"),\n                \"filter_reason\": filter_reason,\n                \"pass_ai\": pass_ai,\n                \"pass_pm\": False,\n\n                \"sig_hash\": sig_hash,\n                \"call_ai\": call_ai,\n                \"dedup_reason\": dedup_reason,\n                \"vector_status\": \"PENDING\" if call_ai else \"SKIPPED\",\n                \"data_age_h1_hours\": h1_age_h,\n                \"data_age_d1_hours\": d1_age_h,\n            }\n\n            for k in IND_KEYS:\n                row[\"h1_\" + k] = h1_ind.get(k)\n            for k in IND_KEYS:\n                row[\"d1_\" + k] = d1_ind.get(k)\n\n            cols = list(row.keys())\n            placeholders = \", \".join([\"?\"] * len(cols))\n            con.execute(\n                \"INSERT OR REPLACE INTO technical_signals (\" + \", \".join(cols) + \") VALUES (\" + placeholders + \")\",\n                list(row.values())\n            )\n\n        out = dict(row)\n        out[\"h1_response\"] = slim_response(h1_resp, keep=3)\n        out[\"d1_response\"] = slim_response(d1_resp, keep=3)\n        out[\"h1_indicators\"] = h1_ind\n        out[\"d1_indicators\"] = d1_ind\n        out[\"h1_signal\"] = h1_sig\n        out[\"d1_signal\"] = d1_sig\n        out[\"h1_freshness\"] = h1_freshness\n        out[\"d1_freshness\"] = d1_freshness\n        out[\"_status\"] = \"ok\"\n        results.append({\"json\": out})\n\n    except Exception as e:\n        results.append({\"json\": {\n            \"symbol\": symbol,\n            \"run_id\": run_id,\n            \"_status\": \"error\",\n            \"error\": str(e),\n            \"call_ai\": False,\n            \"pass_ai\": False,\n            \"pass_pm\": False\n        }})\n\nreturn results\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        240
      ],
      "id": "3ed4fded-4589-45ce-911d-b1bc657b19b7",
      "name": "Compute + Filter + Write",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.call_ai }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        320
      ],
      "id": "823c55d7-4011-455b-9d6b-d8b7d9991304",
      "name": "IF Call AI?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// AG2-V2 — Build AI Validation Context\n// P1.3: Always provide entry_plan with ATR-based SL/TP fallback\nconst item = $input.item.json;\n\nconst d1 = item.d1_indicators || {};\nconst h1 = item.h1_signal || {};\nconst h1Ind = item.h1_indicators || {};\n\n// D1 trend verdict\nconst price = d1.last_close || 0;\nconst sma200 = d1.sma200 || 0;\nconst trendVerdict = (price > sma200) ? 'BULLISH' : 'BEARISH';\n\n// ── Entry Plan: always provide SL/TP/RR (ATR-based fallback) ──\nconst entry = h1Ind.last_close || 0;\nconst atr = h1Ind.atr || 0;\nconst resistance = h1Ind.resistance || 0;\nconst support = h1Ind.support || 0;\n\nlet rr = null;\nlet rrMeta = {};\nlet suggestedSl = null;\nlet suggestedTp = null;\n\nif (entry > 0) {\n  // Stop Loss: prefer swing low (support), fallback to ATR-based\n  const slDistAtr = atr > 0 ? Math.max(atr * 2, entry * 0.015) : entry * 0.02;\n  const slDistSwing = support > 0 ? Math.max(entry - support, entry * 0.005) : 0;\n\n  // Use swing if it's reasonable (not too far, not too tight)\n  let slDist;\n  let slMethod;\n  if (slDistSwing > 0 && slDistSwing < entry * 0.05 && slDistSwing >= entry * 0.005) {\n    slDist = slDistSwing + entry * 0.002; // swing + small buffer\n    slMethod = 'SWING_H1';\n  } else {\n    slDist = slDistAtr;\n    slMethod = 'ATR_BASED';\n  }\n\n  suggestedSl = Math.round((entry - slDist) * 100) / 100;\n\n  // Take Profit: prefer resistance, fallback to ATR-based\n  let tpDist;\n  let tpMethod;\n  if (h1.action === 'BUY') {\n    if (resistance > entry) {\n      tpDist = resistance - entry;\n      tpMethod = 'RESISTANCE';\n    } else {\n      tpDist = atr > 0 ? atr * 3 : entry * 0.03;\n      tpMethod = 'ATR_BASED';\n    }\n    suggestedTp = Math.round((entry + tpDist) * 100) / 100;\n  } else if (h1.action === 'SELL') {\n    if (support > 0 && support < entry) {\n      tpDist = entry - support;\n      tpMethod = 'SUPPORT';\n    } else {\n      tpDist = atr > 0 ? atr * 3 : entry * 0.03;\n      tpMethod = 'ATR_BASED';\n    }\n    suggestedTp = Math.round((entry - tpDist) * 100) / 100;\n  } else {\n    tpDist = 0;\n    tpMethod = 'NONE';\n  }\n\n  if (tpDist > 0 && slDist > 0) {\n    rr = Math.round(tpDist / slDist * 100) / 100;\n  }\n\n  rrMeta = {\n    method: tpMethod,\n    sl_method: slMethod,\n    entry,\n    tp: suggestedTp,\n    sl: suggestedSl,\n    tp_dist: Math.round(tpDist * 100) / 100,\n    sl_dist: Math.round(slDist * 100) / 100,\n    atr: atr || null,\n    resistance: resistance || null,\n    support: support || null,\n  };\n}\n\n// Last 60 H1 candles\nconst h1Bars = (item.h1_response || {}).bars || [];\nconst recentBars = h1Bars.slice(-60).map(b => ({\n  t: b.t, o: b.o, h: b.h, l: b.l, c: b.c, v: b.v\n}));\n\nreturn [{\n  json: {\n    ...item,\n    ai_context: {\n      symbol: item.symbol,\n      signal_tactical_H1: {\n        action: h1.action, score: h1.score,\n        confidence: h1.confidence, rationale: h1.rationale,\n        indicators: h1Ind,\n      },\n      primary_context_D1: {\n        trend_verdict: trendVerdict, indicators: d1,\n      },\n      entry_plan: {\n        entry,\n        suggested_sl: suggestedSl,\n        suggested_tp: suggestedTp,\n        sl_method: rrMeta.sl_method || 'NONE',\n        tp_method: rrMeta.method || 'NONE',\n      },\n      bars: recentBars,\n      rr_theoretical: rr,\n      rr_meta: rrMeta,\n      run_context: { run_id: item.run_id, timestamp: new Date().toISOString() },\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        208
      ],
      "id": "5c65de5d-3f88-47f2-95fc-98ba45feabc9",
      "name": "Snapshot Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Tu es l'Agent n°2 : Validateur Technique H1 ↔ D1. Senior Technical Analyst et Risk Manager.\n\nRÈGLES ABSOLUES :\n1. SMA200 PRIORITÉ ABSOLUE : bias_sma200=BULLISH si prix>SMA200_D1, sinon BEARISH.\n2. RÉGIME D1 : BULLISH (prix>SMA200 ET SMA50>SMA200), BEARISH (prix<SMA200 ET SMA50<SMA200), TRANSITION, NEUTRAL_RANGE.\n3. ZÉRO HALLUCINATION : Ne jamais inventer. Manquant -> missing_fields.\n4. COHÉRENCE : validated=true exige decision=APPROVE + stop_loss non null. stop_loss=null exige validated=false.\n5. DONNÉES OBLIGATOIRES : SMA200_D1 et prix_D1. Si absents -> REJECT, quality_score<=3.\n6. Si bars H1<20 : WATCH si WITH_BIAS, sinon REJECT. Pas de stop loss.\n7. ALIGNEMENT : WITH_BIAS (BUY+BULLISH ou SELL+BEARISH), AGAINST_BIAS, MIXED, UNKNOWN.\n8. GATE RR (BUY) : RR<1.2->REJECT, 1.2-1.5->WATCH, >=1.5->APPROVE, null->WATCH si WITH_BIAS.\n9. Suivi tendance->APPROVE candidat (quality 7-10). Contre-tendance->REJECT sauf RSI extrême.\n10. STOP LOSS : swing H1, buffer 0.1-0.3%.\n11. REASONING : Débuter par 'Tendance de fond Haussiere car Prix > SMA200.' ou 'Baissiere'. Max 2 phrases."
            },
            {
              "content": "=Tu vas recevoir un objet JSON pour un symbole contenant :\n- signal_tactical_H1 : signal + indicateurs H1\n- primary_context_D1 : indicateurs D1 (Prix_D1/last_close, SMA200_D1, SMA50_D1, etc.)\n- bars : dernières bougies H1 (OHLCV)\n- rr_theoretical : ratio R/R théorique\n- rr_meta : champs d'audit (méthode, distances)\n\nTa mission : appliquer STRICTEMENT les règles H1↔D1 et retourner UNIQUEMENT le JSON de décision conforme au schéma.\n\nRÈGLES D'ACCÈS AUX DONNÉES :\n- SMA200_D1, SMA50_D1, Prix_D1 : dans primary_context_D1.indicators\n- RSI_H1 : dans signal_tactical_H1.indicators\n- Bougies H1 : dans bars\n- RR : rr_theoretical (ne pas réinventer TP/SL si fourni)\n- Si bars < 20 : tu NE PEUX PAS proposer de stop ⇒ validated=false\n\nDONNÉES :\n{{ JSON.stringify($json.ai_context, null, 2) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 512,
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "={\"type\": \"object\", \"additionalProperties\": false, \"properties\": {\"validated\": {\"type\": \"boolean\"}, \"decision\": {\"type\": \"string\", \"enum\": [\"APPROVE\", \"REJECT\", \"WATCH\"]}, \"quality_score\": {\"type\": \"integer\", \"minimum\": 1, \"maximum\": 10}, \"bias_sma200\": {\"type\": \"string\", \"enum\": [\"BULLISH\", \"BEARISH\"]}, \"regime_d1\": {\"type\": \"string\", \"enum\": [\"BULLISH\", \"BEARISH\", \"NEUTRAL_RANGE\", \"TRANSITION\"]}, \"h1_d1_alignment\": {\"type\": \"string\", \"enum\": [\"WITH_BIAS\", \"AGAINST_BIAS\", \"MIXED\", \"UNKNOWN\"]}, \"reasoning\": {\"type\": \"string\"}, \"chart_pattern\": {\"type\": \"string\"}, \"stop_loss_suggestion\": {\"type\": [\"number\", \"null\"]}, \"stop_loss_basis\": {\"type\": \"string\", \"enum\": [\"SWING_H1\", \"BAR_ANCHOR\", \"NONE\"]}, \"missing_fields\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"anomalies\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}, \"required\": [\"validated\", \"decision\", \"quality_score\", \"reasoning\", \"bias_sma200\", \"regime_d1\", \"h1_d1_alignment\", \"chart_pattern\", \"stop_loss_suggestion\", \"stop_loss_basis\", \"missing_fields\", \"anomalies\"]}"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1376,
        208
      ],
      "id": "220ed5b0-9b1b-44e9-aba3-623c17241501",
      "name": "AI Validation GPT",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AG2-V2 — Merge AI output with original Snapshot context\n// The OpenAI node may replace input data with only its response.\n// This node re-attaches the original context for Extract AI.\nconst snapshot = $('Snapshot Context').item.json;\nconst aiOutput = $json;\n\nreturn [{\n  json: {\n    ...snapshot,\n    ai_raw: aiOutput,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        208
      ],
      "id": "8e3c69c8-44fc-4238-ae7a-decf7c448979",
      "name": "Merge AI + Context"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import json\nimport duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items\nresults = []\n\nfor it in items:\n    d = it.get(\"json\", {}) or {}\n    symbol = d.get(\"symbol\", \"\")\n    run_id = d.get(\"run_id\", \"\")\n    signal_id = run_id + \"|\" + symbol\n    sig_hash = d.get(\"sig_hash\", \"\")\n\n    try:\n        # ── Parse AI response ──\n        # After 06a_merge_ai.js, the AI response is in d.ai_raw\n        # which contains the OpenAI node output (output[].content[].text)\n        # Fallback: also check d directly for legacy/direct formats\n        ai = None\n\n        # Source: ai_raw from merge node, or d itself\n        sources = [d.get(\"ai_raw\", {}), d]\n\n        for src in sources:\n            if ai is not None:\n                break\n            if not isinstance(src, dict):\n                continue\n\n            # Path 1: responses API (output[].content[].text)\n            output_list = src.get(\"output\")\n            if isinstance(output_list, list) and output_list:\n                msg = output_list[0]\n                content_list = msg.get(\"content\") if isinstance(msg, dict) else None\n                if isinstance(content_list, list) and content_list:\n                    text_val = content_list[0].get(\"text\") if isinstance(content_list[0], dict) else None\n                    if isinstance(text_val, dict):\n                        ai = text_val\n                    elif isinstance(text_val, str) and text_val.strip():\n                        ai = json.loads(text_val)\n\n            # Path 2: chat completions (message.content)\n            if ai is None:\n                msg_obj = src.get(\"message\")\n                if isinstance(msg_obj, dict):\n                    msg_content = msg_obj.get(\"content\")\n                    if isinstance(msg_content, dict):\n                        ai = msg_content\n                    elif isinstance(msg_content, str) and msg_content.strip():\n                        ai = json.loads(msg_content)\n\n            # Path 3: direct text field\n            if ai is None:\n                text_field = src.get(\"text\")\n                if isinstance(text_field, dict):\n                    ai = text_field\n                elif isinstance(text_field, str) and text_field.strip():\n                    ai = json.loads(text_field)\n\n        if ai is None:\n            ai = {}\n\n        decision = ai.get(\"decision\", \"WATCH\")\n        validated = ai.get(\"validated\", False)\n        quality = ai.get(\"quality_score\", 5)\n        reasoning = ai.get(\"reasoning\", \"\")\n        chart_pattern = ai.get(\"chart_pattern\", \"None\")\n        stop_loss = ai.get(\"stop_loss_suggestion\")\n        stop_basis = ai.get(\"stop_loss_basis\", \"NONE\")\n        bias = ai.get(\"bias_sma200\", \"\")\n        regime = ai.get(\"regime_d1\", \"\")\n        alignment = ai.get(\"h1_d1_alignment\", \"UNKNOWN\")\n        missing = json.dumps(ai.get(\"missing_fields\", []))\n        anomalies = json.dumps(ai.get(\"anomalies\", []))\n\n        # Coherence guards\n        if validated and decision != \"APPROVE\":\n            validated = False\n        if decision == \"APPROVE\" and stop_loss is None:\n            decision = \"WATCH\"\n            validated = False\n        if not reasoning:\n            reasoning = \"(no reasoning returned)\"\n\n        pass_pm = decision == \"APPROVE\" or (decision == \"WATCH\" and alignment == \"WITH_BIAS\" and quality >= 5)\n        output_ref = \"AG2AI|\" + symbol + \"|\" + sig_hash\n\n        ai_data = {\n            \"ai_decision\": decision, \"ai_validated\": validated, \"ai_quality\": quality,\n            \"ai_reasoning\": reasoning, \"ai_chart_pattern\": chart_pattern,\n            \"ai_stop_loss\": stop_loss, \"ai_stop_basis\": stop_basis,\n            \"ai_bias_sma200\": bias, \"ai_regime_d1\": regime, \"ai_alignment\": alignment,\n            \"ai_missing\": missing, \"ai_anomalies\": anomalies,\n            \"ai_output_ref\": output_ref, \"pass_pm\": pass_pm\n        }\n\n        with db_con() as con:\n            sets = \", \".join(k + \" = ?\" for k in ai_data.keys())\n            con.execute(\n                \"UPDATE technical_signals SET \" + sets + \", updated_at = CURRENT_TIMESTAMP WHERE id = ?\",\n                list(ai_data.values()) + [signal_id]\n            )\n\n            h1_action = d.get(\"h1_action\", \"NEUTRAL\")\n            ttl = 60 if h1_action == \"SELL\" else 240\n            sig_json = json.dumps({\"action\": h1_action, \"score\": d.get(\"h1_score\"), \"decision\": decision, \"quality\": quality})\n            con.execute(\n                \"INSERT OR REPLACE INTO ai_dedup_cache (symbol, interval_key, sig_hash, sig_json, last_ai_at, last_ai_run_id, last_ai_reason, last_ai_output_ref, ttl_minutes, updated_at) VALUES (?, 'combined', ?, ?, CURRENT_TIMESTAMP, ?, ?, ?, ?, CURRENT_TIMESTAMP)\",\n                [symbol, sig_hash, sig_json, run_id, d.get(\"filter_reason\", \"\"), output_ref, ttl]\n            )\n\n        should_vec = pass_pm or decision in (\"APPROVE\", \"WATCH\")\n\n        # P1.2: Mark vector_status = SKIPPED if we won't vectorize\n        if not should_vec:\n            with db_con() as con2:\n                con2.execute(\n                    \"UPDATE technical_signals SET vector_status = 'SKIPPED', updated_at = CURRENT_TIMESTAMP WHERE id = ?\",\n                    [signal_id]\n                )\n\n        out = dict(d)\n        out.update(ai_data)\n        out[\"should_vectorize\"] = should_vec\n        results.append({\"json\": out})\n\n    except Exception as e:\n        out = dict(d)\n        out[\"ai_decision\"] = \"ERROR\"\n        out[\"ai_reasoning\"] = str(e)\n        out[\"should_vectorize\"] = False\n        results.append({\"json\": out})\n\nreturn results\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        208
      ],
      "id": "4c25e6b8-abe1-44aa-9e97-8b36007260ae",
      "name": "Extract AI + Write",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.should_vectorize }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        464
      ],
      "id": "962c96c7-2352-4d50-a2f5-19d4a0c7a698",
      "name": "IF Vectorize?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// AG2-V2 — Prepare structured text for Qdrant vectorization\nconst d = $input.item.json;\nconst symbol = d.symbol || '';\nconst run_id = d.run_id || '';\nconst signal_id = `${run_id}|${symbol}`;\n\nconst lines = [\n  `[ENTITY] ${symbol}`,\n  `[DATE] ${d.workflow_date || new Date().toISOString()}`,\n  ``,\n  `[DAILY CONTEXT]`,\n  `Trend: ${d.ai_bias_sma200 || 'N/A'} | Regime: ${d.ai_regime_d1 || 'N/A'}`,\n  `SMA200: ${d.d1_sma200 || 'N/A'} | SMA50: ${d.d1_sma50 || 'N/A'} | Close: ${d.d1_last_close || 'N/A'}`,\n  `RSI14: ${d.d1_rsi14 || 'N/A'} | MACD_Hist: ${d.d1_macd_hist || 'N/A'} | ADX: ${d.d1_adx || 'N/A'}`,\n  `Bollinger Width: ${d.d1_bb_width || 'N/A'} | Volatility: ${d.d1_volatility || 'N/A'}`,\n  ``,\n  `[H1 SIGNAL]`,\n  `Action: ${d.h1_action || 'N/A'} | Score: ${d.h1_score || 'N/A'} | Confidence: ${d.h1_confidence || 'N/A'}`,\n  `Rationale: ${d.h1_rationale || 'N/A'}`,\n  `RSI14: ${d.h1_rsi14 || 'N/A'} | Stochastic: ${d.h1_stoch_k || 'N/A'}/${d.h1_stoch_d || 'N/A'}`,\n  `Support: ${d.h1_support || 'N/A'} | Resistance: ${d.h1_resistance || 'N/A'}`,\n  ``,\n  `[AI VALIDATION]`,\n  `Decision: ${d.ai_decision || 'N/A'} | Quality: ${d.ai_quality || 'N/A'}/10`,\n  `Alignment: ${d.ai_alignment || 'N/A'} | Stop: ${d.ai_stop_loss || 'N/A'}`,\n  `Reasoning: ${d.ai_reasoning || 'N/A'}`,\n];\n\nreturn [{\n  json: {\n    text: lines.join('\\n'),\n    metadata: {\n      symbol, run_id, signal_id,\n      h1_action: d.h1_action || '',\n      d1_action: d.d1_action || '',\n      ai_decision: d.ai_decision || '',\n      ai_quality: d.ai_quality || 0,\n      ai_alignment: d.ai_alignment || '',\n      pass_pm: d.pass_pm || false,\n      workflow_date: d.workflow_date || '',\n    },\n    id: signal_id.replace(/[^a-zA-Z0-9_-]/g, '_'),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        112
      ],
      "id": "e8bb5014-704e-4bb3-a744-fe37bb89d9cd",
      "name": "Prep Vector Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2336,
        288
      ],
      "id": "37cf3cc2-5ae6-4405-b01c-137a6c9d0547",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2384,
        416
      ],
      "id": "f2ff57ae-2099-4cbd-9cef-c04a7c80d048",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2384,
        608
      ],
      "id": "4887a8e7-4d57-4bea-95e4-348c94e7f37a",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "financial_tech_v1"
        },
        "options": {
          "collectionConfig": {
            "similarity": "Cosine"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        2416,
        112
      ],
      "id": "d5f04443-608d-4e54-846f-928da76765c8",
      "name": "Qdrant Upsert",
      "credentials": {
        "qdrantApi": {
          "id": "q1CRmg2N6AmW6pC1",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items\n\nwith db_con() as con:\n    for it in items:\n        d = it.get(\"json\", {}) or {}\n        meta = d.get(\"metadata\") or {}\n        signal_id = meta.get(\"signal_id\") or d.get(\"signal_id\") or \"\"\n        vector_id = d.get(\"id\") or \"\"\n\n        if signal_id and vector_id:\n            con.execute(\n                \"UPDATE technical_signals SET vector_status = 'DONE', vector_id = ?, vectorized_at = CURRENT_TIMESTAMP WHERE id = ?\",\n                [vector_id, signal_id],\n            )\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        576
      ],
      "id": "90f15fb9-97bd-40f2-b7d6-d2a34999a556",
      "name": "Mark Vectorized"
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Read Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Universe": {
      "main": [
        [
          {
            "node": "Init Config + Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Config + Batch": {
      "main": [
        [
          {
            "node": "DuckDB Init Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DuckDB Init Schema": {
      "main": [
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Symbols": {
      "main": [
        [
          {
            "node": "Finalize Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AG2.15 — HTTP — Fetch Yahoo OHLCV (1D Strategy)",
            "type": "main",
            "index": 0
          },
          {
            "node": "AG2.10 — HTTP — Fetch Yahoo OHLCV (1H Timing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.10 — HTTP — Fetch Yahoo OHLCV (1H Timing)": {
      "main": [
        [
          {
            "node": "AG2.11 — Code — Wrap H1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.15 — HTTP — Fetch Yahoo OHLCV (1D Strategy)": {
      "main": [
        [
          {
            "node": "AG2.16 — Code — Wrap D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.11 — Code — Wrap H1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.16 — Code — Wrap D1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compute + Filter + Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute + Filter + Write": {
      "main": [
        [
          {
            "node": "IF Call AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Call AI?": {
      "main": [
        [
          {
            "node": "Snapshot Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot Context": {
      "main": [
        [
          {
            "node": "AI Validation GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Validation GPT": {
      "main": [
        [
          {
            "node": "Merge AI + Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI + Context": {
      "main": [
        [
          {
            "node": "Extract AI + Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI + Write": {
      "main": [
        [
          {
            "node": "IF Vectorize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Vectorize?": {
      "main": [
        [
          {
            "node": "Prep Vector Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Vector Text": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Mark Vectorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Vectorized": {
      "main": [
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Run": {
      "main": [
        [
          {
            "node": "Sync DuckDB → Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync DuckDB → Sheets": {
      "main": [
        [
          {
            "node": "Write AG2 Sortie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "093ba1266e85fcaaa6abca411d9f7941951737b3920bfaa6e2db89226df2c82d"
  }
}
