ag2-v2/AG2-V2-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 9-17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1248,
        112
      ],
      "id": "c0a177bb-317a-4e9e-b03e-324f84b0f78d",
      "name": "Cron Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1248,
        304
      ],
      "id": "96dab5c7-16b1-4785-84ed-d4827577f1e7",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I",
          "cachedResultName": "TradingSim_GoogleSheet_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1078848687,
          "cachedResultName": "Universe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l3fmopgQ8jVd__UTyIja3-nQkn7Jaxm19lcC32HQq8I/edit#gid=1078848687"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Enabled",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1008,
        208
      ],
      "id": "d9b915dc-1166-41fb-8652-4b21cb18a2ad",
      "name": "Read Universe",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX5iAQEN9HK4UGjr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AG2-V2 — Init Config + Batch Rotation + Explode\nconst items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\n\n// Extract symbols from Universe sheet\nconst symbols = items\n  .map(i => (i.json.Symbol || i.json.symbol || '').trim())\n  .filter(s => s.length > 0);\n\nif (symbols.length === 0) {\n  return [{ json: { ok: false, error: 'NO_SYMBOLS', symbols: [] } }];\n}\n\n// Batch rotation (round-robin, 25 per run)\nconst BATCH_SIZE = 25;\nlet idx = parseInt(staticData.lastIndex || '0', 10);\nif (idx >= symbols.length) idx = 0;\nconst batch = symbols.slice(idx, idx + BATCH_SIZE);\nconst nextIdx = (idx + BATCH_SIZE >= symbols.length) ? 0 : idx + BATCH_SIZE;\nstaticData.lastIndex = nextIdx;\n\n// Generate run ID\nconst now = new Date();\nconst ts = now.toISOString().replace(/[-:T]/g, '').slice(0, 14);\nconst run_id = `AG2V2_${ts}_${idx}`;\n\n// Explode: one item per symbol\nconst output = batch.map((symbol, i) => ({\n  json: {\n    ok: true,\n    symbol,\n    run_id,\n    yfinance_api_base: 'http://yfinance-api:8080',\n    intraday: { interval: '1h', lookback_days: 60, max_bars: 200, min_bars: 50 },\n    daily: { interval: '1d', lookback_days: 400, max_bars: 400, min_bars: 200 },\n    batch_info: { start: idx, size: batch.length, total: symbols.length },\n    _index: i,\n  }\n}));\n\n// First item also carries universe data for DuckDB sync\noutput[0].json._universe = items.map(i => i.json);\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        208
      ],
      "id": "f9f4efa9-9fc7-46b5-9003-3501beb3f570",
      "name": "Init Config + Batch"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    \"\"\"Open DuckDB with retry on lock, auto-close + gc on exit.\"\"\"\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nSCHEMA_STMTS = [\n    \"CREATE TABLE IF NOT EXISTS universe (symbol VARCHAR PRIMARY KEY, name VARCHAR, asset_class VARCHAR DEFAULT 'Equity', exchange VARCHAR DEFAULT 'Euronext Paris', currency VARCHAR DEFAULT 'EUR', country VARCHAR, sector VARCHAR, industry VARCHAR, isin VARCHAR, enabled BOOLEAN DEFAULT TRUE, boursorama_ref VARCHAR, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP)\",\n    \"CREATE TABLE IF NOT EXISTS technical_signals (id VARCHAR PRIMARY KEY, run_id VARCHAR NOT NULL, symbol VARCHAR NOT NULL, workflow_date TIMESTAMP NOT NULL, h1_date TIMESTAMP, h1_source VARCHAR, h1_status VARCHAR, h1_warnings VARCHAR, h1_action VARCHAR, h1_score INTEGER, h1_confidence DOUBLE, h1_rationale VARCHAR, d1_date TIMESTAMP, d1_source VARCHAR, d1_status VARCHAR, d1_warnings VARCHAR, d1_action VARCHAR, d1_score INTEGER, d1_confidence DOUBLE, d1_rationale VARCHAR, last_close DOUBLE, h1_sma20 DOUBLE, h1_sma50 DOUBLE, h1_sma200 DOUBLE, h1_ema12 DOUBLE, h1_ema26 DOUBLE, h1_macd DOUBLE, h1_macd_signal DOUBLE, h1_macd_hist DOUBLE, h1_rsi14 DOUBLE, h1_volatility DOUBLE, h1_last_close DOUBLE, h1_atr DOUBLE, h1_atr_pct DOUBLE, h1_bb_upper DOUBLE, h1_bb_lower DOUBLE, h1_bb_width DOUBLE, h1_stoch_k DOUBLE, h1_stoch_d DOUBLE, h1_adx DOUBLE, h1_obv_slope DOUBLE, h1_resistance DOUBLE, h1_support DOUBLE, h1_dist_res_pct DOUBLE, h1_dist_sup_pct DOUBLE, d1_sma20 DOUBLE, d1_sma50 DOUBLE, d1_sma200 DOUBLE, d1_ema12 DOUBLE, d1_ema26 DOUBLE, d1_macd DOUBLE, d1_macd_signal DOUBLE, d1_macd_hist DOUBLE, d1_rsi14 DOUBLE, d1_volatility DOUBLE, d1_last_close DOUBLE, d1_atr DOUBLE, d1_atr_pct DOUBLE, d1_bb_upper DOUBLE, d1_bb_lower DOUBLE, d1_bb_width DOUBLE, d1_stoch_k DOUBLE, d1_stoch_d DOUBLE, d1_adx DOUBLE, d1_obv_slope DOUBLE, d1_resistance DOUBLE, d1_support DOUBLE, d1_dist_res_pct DOUBLE, d1_dist_sup_pct DOUBLE, filter_reason VARCHAR, pass_ai BOOLEAN DEFAULT FALSE, pass_pm BOOLEAN DEFAULT FALSE, sig_hash VARCHAR, call_ai BOOLEAN DEFAULT FALSE, dedup_reason VARCHAR, ai_decision VARCHAR, ai_validated BOOLEAN, ai_quality INTEGER, ai_reasoning VARCHAR, ai_chart_pattern VARCHAR, ai_stop_loss DOUBLE, ai_stop_basis VARCHAR, ai_bias_sma200 VARCHAR, ai_regime_d1 VARCHAR, ai_alignment VARCHAR, ai_missing VARCHAR, ai_anomalies VARCHAR, ai_output_ref VARCHAR, ai_rr_theoretical DOUBLE, vector_status VARCHAR DEFAULT 'PENDING', vector_id VARCHAR, vectorized_at TIMESTAMP, row_hash VARCHAR, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP)\",\n    \"CREATE TABLE IF NOT EXISTS ai_dedup_cache (symbol VARCHAR NOT NULL, interval_key VARCHAR NOT NULL, sig_hash VARCHAR NOT NULL, sig_json VARCHAR, last_ai_at TIMESTAMP, last_ai_run_id VARCHAR, last_ai_reason VARCHAR, last_ai_output_ref VARCHAR, ttl_minutes INTEGER DEFAULT 240, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, PRIMARY KEY (symbol, interval_key))\",\n    \"CREATE TABLE IF NOT EXISTS run_log (run_id VARCHAR PRIMARY KEY, started_at TIMESTAMP NOT NULL, finished_at TIMESTAMP, status VARCHAR DEFAULT 'RUNNING', batch_start INTEGER, batch_size INTEGER, total_pool INTEGER, symbols_ok INTEGER DEFAULT 0, symbols_error INTEGER DEFAULT 0, ai_calls INTEGER DEFAULT 0, vectors_written INTEGER DEFAULT 0, error_detail VARCHAR, version VARCHAR DEFAULT '2.0.0')\",\n]\n\nitems = _items\nfirst_json = items[0].get(\"json\", {}) if items else {}\n\nwith db_con() as con:\n    for stmt in SCHEMA_STMTS:\n        con.execute(stmt)\n\n    universe = first_json.get(\"_universe\", []) or []\n    for r in universe:\n        sym = str(r.get(\"Symbol\", r.get(\"symbol\", \"\")) or \"\").strip()\n        if not sym:\n            continue\n        con.execute(\n            \"INSERT OR REPLACE INTO universe (symbol, name, asset_class, exchange, currency, country, sector, industry, isin, enabled, boursorama_ref, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\",\n            [sym, r.get(\"Name\", \"\"), r.get(\"AssetClass\", \"Equity\"), r.get(\"Exchange\", \"Euronext Paris\"), r.get(\"Currency\", \"EUR\"), r.get(\"Country\", \"\"), r.get(\"Sector\", \"\"), r.get(\"Industry\", \"\"), r.get(\"ISIN\", \"\"), str(r.get(\"Enabled\", \"true\")).lower() == \"true\", r.get(\"BoursoramaRef\", \"\")],\n        )\n\n    run_id = str(first_json.get(\"run_id\", \"UNKNOWN\"))\n    batch_info = first_json.get(\"batch_info\", {}) or {}\n    con.execute(\n        \"INSERT OR REPLACE INTO run_log (run_id, started_at, batch_start, batch_size, total_pool) VALUES (?, CURRENT_TIMESTAMP, ?, ?, ?)\",\n        [run_id, int(batch_info.get(\"start\", 0) or 0), int(batch_info.get(\"size\", 0) or 0), int(batch_info.get(\"total\", 0) or 0)],\n    )\n\nout = []\nfor it in items:\n    d = dict(it.get(\"json\", {}))\n    d.pop(\"_universe\", None)\n    out.append({\"json\": d})\n\nreturn out\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        208
      ],
      "id": "d97313df-a775-42ba-ac4f-058a79fa5185",
      "name": "DuckDB Init Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        208
      ],
      "id": "c1421728-1144-455d-b165-0d373b8c6ba1",
      "name": "Loop Symbols",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items\n\nrun_id = \"\"\nsymbols_ok = 0\nsymbols_error = 0\nai_calls = 0\nvectors_written = 0\nerrors = []\n\nfor it in items:\n    d = it.get(\"json\", {}) or {}\n\n    if not run_id:\n        run_id = str(d.get(\"run_id\", \"\") or \"\")\n\n    if d.get(\"_status\") == \"error\":\n        symbols_error += 1\n        sym = str(d.get(\"symbol\", \"?\") or \"?\")\n        err = str(d.get(\"error\", \"?\") or \"?\")\n        errors.append(f\"{sym}: {err}\")\n    else:\n        symbols_ok += 1\n\n    if d.get(\"call_ai\") is True:\n        ai_calls += 1\n\n    if str(d.get(\"vector_status\", \"\") or \"\").upper() == \"DONE\":\n        vectors_written += 1\n\nstatus = \"NO_RUN\"\nif run_id:\n    status = \"SUCCESS\" if symbols_error == 0 else (\"PARTIAL\" if symbols_ok > 0 else \"FAILED\")\n\n    with db_con() as con:\n        con.execute(\n            \"UPDATE run_log SET finished_at = CURRENT_TIMESTAMP, status = ?, symbols_ok = ?, symbols_error = ?, ai_calls = ?, vectors_written = ?, error_detail = ? WHERE run_id = ?\",\n            [\n                status,\n                symbols_ok,\n                symbols_error,\n                ai_calls,\n                vectors_written,\n                (\"; \".join(errors)[:500] if errors else None),\n                run_id,\n            ],\n        )\n\nreturn [{\"json\": {\n    \"run_id\": run_id,\n    \"status\": status,\n    \"symbols_ok\": symbols_ok,\n    \"symbols_error\": symbols_error,\n    \"ai_calls\": ai_calls,\n    \"vectors_written\": vectors_written,\n}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ],
      "id": "7fda4f36-d549-46ca-8d0a-412bc52395e4",
      "name": "Finalize Run"
    },
    {
      "parameters": {
        "url": "={{$json.yfinance_api_base}}/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "interval",
              "value": "={{ $json.intraday.interval }}"
            },
            {
              "name": "lookback_days",
              "value": "={{ $json.intraday.lookback_days }}"
            },
            {
              "name": "max_bars",
              "value": "={{ $json.intraday.max_bars }}"
            },
            {
              "name": "min_bars",
              "value": "={{ $json.intraday.min_bars }}"
            },
            {
              "name": "allow_stale",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        160
      ],
      "id": "18a18f9b-182b-4dfa-9687-755b96ccfc94",
      "name": "AG2.10 — HTTP — Fetch Yahoo OHLCV (1H Timing)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$json.yfinance_api_base}}/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "interval",
              "value": "={{ $json.daily.interval }}"
            },
            {
              "name": "lookback_days",
              "value": "={{ $json.daily.lookback_days }}"
            },
            {
              "name": "max_bars",
              "value": "={{ $json.daily.max_bars }}"
            },
            {
              "name": "min_bars",
              "value": "={{ $json.daily.min_bars }}"
            },
            {
              "name": "allow_stale",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        336
      ],
      "id": "f8c8121d-1763-496e-8991-5af42098f24c",
      "name": "AG2.15 — HTTP — Fetch Yahoo OHLCV (1D Strategy)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// AG2.11 — Wrap H1 response, preserving context from Loop\nconst resp = JSON.parse(JSON.stringify($json || {}));\nconst ctx = $('Loop Symbols').item.json;\n\nreturn [{\n  json: {\n    symbol: resp.symbol || ctx.symbol || '',\n    run_id: ctx.run_id || '',\n    batch_info: ctx.batch_info || {},\n    h1_response: resp,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        160
      ],
      "id": "8dc38cd0-798e-4451-8fcc-56829213db16",
      "name": "AG2.11 — Code — Wrap H1"
    },
    {
      "parameters": {
        "jsCode": "// AG2.16 — Wrap D1 response, preserving context from Loop\nconst resp = JSON.parse(JSON.stringify($json || {}));\nconst ctx = $('Loop Symbols').item.json;\n\nreturn [{\n  json: {\n    symbol: resp.symbol || ctx.symbol || '',\n    run_id: ctx.run_id || '',\n    batch_info: ctx.batch_info || {},\n    d1_response: resp,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        336
      ],
      "id": "7e6c4a1b-5b19-4038-8c45-c87bbaf6e726",
      "name": "AG2.16 — Code — Wrap D1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        240
      ],
      "id": "1828b838-4380-43a9-9aec-efd1c29b5466",
      "name": "Merge"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import math\nimport json\nimport duckdb, time, gc\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n# ===================================================\n# INDICATOR ENGINE V2\n# ===================================================\n\ndef safe_float(v):\n    if v is None:\n        return None\n    try:\n        f = float(v)\n        return None if (math.isnan(f) or math.isinf(f)) else f\n    except:\n        return None\n\ndef sanitize(d):\n    if isinstance(d, dict):\n        out = {}\n        for k, v in d.items():\n            if isinstance(v, float) and (math.isnan(v) or math.isinf(v)):\n                out[k] = None\n            else:\n                out[k] = sanitize(v)\n        return out\n    if isinstance(d, list):\n        return [sanitize(x) for x in d]\n    return d\n\ndef sma(values, period):\n    if len(values) < period:\n        return None\n    return sum(values[-period:]) / period\n\ndef ema_series(values, period):\n    if len(values) < period:\n        return []\n    k = 2.0 / (period + 1)\n    init = sum(values[:period]) / period\n    result = [init]\n    for v in values[period:]:\n        result.append(v * k + result[-1] * (1 - k))\n    return result\n\ndef rsi_wilder(closes, period=14):\n    if len(closes) < period + 1:\n        return None\n    deltas = [closes[i] - closes[i-1] for i in range(1, len(closes))]\n    ag = sum(max(0, d) for d in deltas[:period]) / period\n    al = sum(max(0, -d) for d in deltas[:period]) / period\n    for d in deltas[period:]:\n        ag = (ag * (period - 1) + max(0, d)) / period\n        al = (al * (period - 1) + max(0, -d)) / period\n    if al == 0:\n        return 100.0\n    return 100.0 - (100.0 / (1.0 + ag / al))\n\ndef macd_calc(closes):\n    e12 = ema_series(closes, 12)\n    e26 = ema_series(closes, 26)\n    if not e12 or not e26:\n        return {\"ema12\": None, \"ema26\": None, \"macd\": None, \"macd_signal\": None, \"macd_hist\": None}\n    offset = 26 - 12\n    if len(e12) <= offset:\n        return {\"ema12\": safe_float(e12[-1]), \"ema26\": safe_float(e26[-1]), \"macd\": None, \"macd_signal\": None, \"macd_hist\": None}\n    ml = [e12[i + offset] - e26[i] for i in range(len(e26))]\n    sl = ema_series(ml, 9)\n    mv = safe_float(ml[-1])\n    sv = safe_float(sl[-1]) if sl else None\n    hv = round(mv - sv, 6) if mv is not None and sv is not None else None\n    return {\"ema12\": safe_float(e12[-1]), \"ema26\": safe_float(e26[-1]), \"macd\": mv, \"macd_signal\": sv, \"macd_hist\": hv}\n\ndef atr_calc(highs, lows, closes, period=14):\n    if len(closes) < period + 1:\n        return None\n    trs = [max(highs[i]-lows[i], abs(highs[i]-closes[i-1]), abs(lows[i]-closes[i-1])) for i in range(1, len(closes))]\n    if len(trs) < period:\n        return None\n    a = sum(trs[:period]) / period\n    for tr in trs[period:]:\n        a = (a * (period - 1) + tr) / period\n    return a\n\ndef bollinger(closes, period=20, ns=2.0):\n    if len(closes) < period:\n        return {\"bb_upper\": None, \"bb_lower\": None, \"bb_width\": None}\n    w = closes[-period:]\n    m = sum(w) / period\n    s = math.sqrt(sum((x - m)**2 for x in w) / period)\n    u, l = m + ns * s, m - ns * s\n    bw = (u - l) / m * 100 if m != 0 else None\n    return {\"bb_upper\": round(u, 4), \"bb_lower\": round(l, 4), \"bb_width\": round(bw, 4) if bw is not None else None}\n\ndef stochastic(highs, lows, closes, kp=14, dp=3):\n    if len(closes) < kp + dp - 1:\n        return {\"stoch_k\": None, \"stoch_d\": None}\n    kv = []\n    for i in range(kp - 1, len(closes)):\n        hh = max(highs[i-kp+1:i+1])\n        ll = min(lows[i-kp+1:i+1])\n        kv.append((closes[i] - ll) / (hh - ll) * 100 if hh != ll else 50.0)\n    if len(kv) < dp:\n        return {\"stoch_k\": round(kv[-1], 2) if kv else None, \"stoch_d\": None}\n    return {\"stoch_k\": round(kv[-1], 2), \"stoch_d\": round(sum(kv[-dp:]) / dp, 2)}\n\ndef adx_calc(highs, lows, closes, period=14):\n    if len(closes) < period * 2 + 1:\n        return None\n    pdm, mdm, trl = [], [], []\n    for i in range(1, len(closes)):\n        up = highs[i] - highs[i-1]\n        dn = lows[i-1] - lows[i]\n        pdm.append(up if up > dn and up > 0 else 0)\n        mdm.append(dn if dn > up and dn > 0 else 0)\n        trl.append(max(highs[i]-lows[i], abs(highs[i]-closes[i-1]), abs(lows[i]-closes[i-1])))\n    if len(trl) < period:\n        return None\n    def ws(vals, p):\n        s = sum(vals[:p])\n        r = [s]\n        for v in vals[p:]:\n            s = s - s/p + v\n            r.append(s)\n        return r\n    st, sp, sm = ws(trl, period), ws(pdm, period), ws(mdm, period)\n    dxl = []\n    for i in range(len(st)):\n        if st[i] == 0:\n            continue\n        dp_ = sp[i]/st[i]*100\n        dm_ = sm[i]/st[i]*100\n        ds = dp_ + dm_\n        dxl.append(abs(dp_ - dm_)/ds*100 if ds != 0 else 0)\n    if len(dxl) < period:\n        return None\n    av = ws(dxl, period)\n    return round(av[-1] / period, 2) if av else None\n\ndef obv_slope(closes, volumes, lb=20):\n    if len(closes) < lb + 1 or len(volumes) < lb + 1:\n        return None\n    obv = [0.0]\n    for i in range(1, len(closes)):\n        if closes[i] > closes[i-1]:\n            obv.append(obv[-1] + volumes[i])\n        elif closes[i] < closes[i-1]:\n            obv.append(obv[-1] - volumes[i])\n        else:\n            obv.append(obv[-1])\n    seg = obv[-lb:]\n    n = len(seg)\n    xm = (n-1)/2.0\n    ym = sum(seg)/n\n    num = sum((i - xm)*(seg[i] - ym) for i in range(n))\n    den = sum((i - xm)**2 for i in range(n))\n    if den == 0:\n        return 0.0\n    av = sum(volumes[-lb:])/lb\n    return round(num / den / av, 4) if av != 0 else 0.0\n\ndef find_sr(highs, lows, closes, window=5, lb=50):\n    if len(closes) < lb:\n        return {\"resistance\": None, \"support\": None, \"dist_res_pct\": None, \"dist_sup_pct\": None}\n    p = closes[-1]\n    h, l = highs[-lb:], lows[-lb:]\n    shs, sls = [], []\n    for i in range(window, len(h) - window):\n        if all(h[i] >= h[i-j] for j in range(1, window+1)) and all(h[i] >= h[i+j] for j in range(1, window+1)):\n            shs.append(h[i])\n        if all(l[i] <= l[i-j] for j in range(1, window+1)) and all(l[i] <= l[i+j] for j in range(1, window+1)):\n            sls.append(l[i])\n    res = sorted([s for s in shs if s > p])\n    resistance = res[0] if res else max(h)\n    sups = sorted([s for s in sls if s < p], reverse=True)\n    support = sups[0] if sups else min(l)\n    dr = round((resistance - p)/p*100, 2) if resistance and p > 0 else None\n    ds = round((p - support)/p*100, 2) if support and p > 0 else None\n    return {\"resistance\": round(resistance, 4) if resistance else None, \"support\": round(support, 4) if support else None, \"dist_res_pct\": dr, \"dist_sup_pct\": ds}\n\ndef volatility_ann(closes, interval):\n    if len(closes) < 20:\n        return None\n    lr = [math.log(closes[i]/closes[i-1]) for i in range(1, len(closes)) if closes[i-1] > 0 and closes[i] > 0]\n    if len(lr) < 10:\n        return None\n    m = sum(lr)/len(lr)\n    v = sum((r-m)**2 for r in lr)/len(lr)\n    s = math.sqrt(v)\n    il = (interval or \"\").lower()\n    if il in (\"1d\",\"5d\"):\n        f = math.sqrt(252)\n    elif il in (\"1wk\",):\n        f = math.sqrt(52)\n    elif il in (\"1mo\",\"3mo\"):\n        f = math.sqrt(12)\n    elif \"h\" in il or il in (\"60m\",\"90m\"):\n        f = math.sqrt(252*8)\n    else:\n        f = math.sqrt(252)\n    return round(s * f, 4)\n\ndef compute_indicators(bars, interval):\n    opens, highs, lows, closes, volumes, times = [], [], [], [], [], []\n    for b in bars or []:\n        o, h, l, c = safe_float(b.get(\"o\")), safe_float(b.get(\"h\")), safe_float(b.get(\"l\")), safe_float(b.get(\"c\"))\n        vol = safe_float(b.get(\"v\")) or 0.0\n        if o is None or h is None or l is None or c is None:\n            continue\n        opens.append(o); highs.append(h); lows.append(l); closes.append(c); volumes.append(vol); times.append(b.get(\"t\",\"\"))\n    n = len(closes)\n    if n == 0:\n        return {\n            \"status\":\"NO_DATA\",\n            \"bars_count\":0,\n            \"indicators\":{},\n            \"signal\":{\"action\":\"NEUTRAL\",\"score\":0,\"confidence\":0,\"rationale\":\"No data\"},\n            \"warnings\":[\"No valid bars\"],\n            \"last_bar_time\":None\n        }\n\n    min_req = 50 if (\"h\" in (interval or \"\").lower() or \"m\" in (interval or \"\").lower()) else 200\n    warnings = []\n    if n < min_req:\n        warnings.append(f\"Bars {n} < {min_req}\")\n\n    ind = {}\n    ind[\"sma20\"] = safe_float(sma(closes, 20))\n    ind[\"sma50\"] = safe_float(sma(closes, 50))\n    ind[\"sma200\"] = safe_float(sma(closes, 200))\n    ind.update(macd_calc(closes))\n    ind[\"rsi14\"] = safe_float(rsi_wilder(closes, 14))\n    ind[\"volatility\"] = safe_float(volatility_ann(closes, interval))\n    atr_v = atr_calc(highs, lows, closes, 14)\n    ind[\"atr\"] = safe_float(atr_v)\n    ind[\"atr_pct\"] = round(atr_v / closes[-1] * 100, 4) if atr_v and closes[-1] > 0 else None\n    ind.update(bollinger(closes, 20, 2.0))\n    ind.update(stochastic(highs, lows, closes, 14, 3))\n    ind[\"adx\"] = safe_float(adx_calc(highs, lows, closes, 14))\n    ind[\"obv_slope\"] = safe_float(obv_slope(closes, volumes, 20))\n    ind.update(find_sr(highs, lows, closes, 5, 50))\n    ind[\"last_close\"] = closes[-1]\n\n    score = 0; reasons = []\n    cl = ind[\"last_close\"]; s50 = ind.get(\"sma50\"); s200 = ind.get(\"sma200\")\n    mh = ind.get(\"macd_hist\"); rsi = ind.get(\"rsi14\"); sk = ind.get(\"stoch_k\")\n    bbl = ind.get(\"bb_lower\"); bbu = ind.get(\"bb_upper\")\n\n    if cl is not None and s50 is not None:\n        if cl > s50: score += 1; reasons.append(\"Prix > SMA50\")\n        else: score -= 1; reasons.append(\"Prix < SMA50\")\n    if s50 is not None and s200 is not None:\n        if s50 > s200: score += 1; reasons.append(\"SMA50 > SMA200\")\n        else: score -= 1; reasons.append(\"SMA50 < SMA200\")\n    if mh is not None:\n        if mh > 0: score += 1; reasons.append(\"MACD Hist > 0\")\n        else: score -= 1; reasons.append(\"MACD Hist < 0\")\n    if rsi is not None:\n        if rsi < 30: score += 1; reasons.append(\"RSI survente\")\n        elif rsi > 70: score -= 1; reasons.append(\"RSI surachat\")\n    if sk is not None:\n        if sk < 20: score += 1; reasons.append(\"Stoch survente\")\n        elif sk > 80: score -= 1; reasons.append(\"Stoch surachat\")\n    if cl is not None and bbl is not None and bbu is not None and (bbu - bbl) > 0:\n        pos = (cl - bbl) / (bbu - bbl)\n        if pos < 0.1: score += 1; reasons.append(\"Prix sur BB basse\")\n        elif pos > 0.9: score -= 1; reasons.append(\"Prix sur BB haute\")\n\n    action = \"BUY\" if score >= 2 else (\"SELL\" if score <= -2 else \"NEUTRAL\")\n    confidence = round(abs(score) / 6 * 100, 1)\n    signal = {\"action\": action, \"score\": score, \"confidence\": min(100, confidence), \"rationale\": \", \".join(reasons) if reasons else \"Aucun signal clair\"}\n    status = \"OK\" if n >= min_req else \"INSUFFICIENT_DATA\"\n\n    return sanitize({\n        \"status\": status,\n        \"bars_count\": n,\n        \"warnings\": warnings,\n        \"indicators\": ind,\n        \"signal\": signal,\n        \"last_bar_time\": times[-1] if times else None\n    })\n\n# ===================================================\n# FILTER + DEDUP + WRITE\n# ===================================================\n\ndef pre_filter(h1_result, d1_ind):\n    h1_status = (h1_result or {}).get(\"status\")\n    if h1_status in (None, \"NO_DATA\"):\n        return False, \"NO_H1_DATA\"\n\n    h1_sig = (h1_result or {}).get(\"signal\", {}) or {}\n    h1_ind = (h1_result or {}).get(\"indicators\", {}) or {}\n\n    h1_action = (h1_sig.get(\"action\") or \"\").upper()\n    h1_score = h1_sig.get(\"score\", 0) or 0\n    rsi = h1_ind.get(\"rsi14\")\n    d1_sma200 = (d1_ind or {}).get(\"sma200\")\n    d1_close = (d1_ind or {}).get(\"last_close\")\n\n    if not h1_action:\n        return False, \"NO_H1_SIGNAL\"\n    if h1_action == \"SELL\":\n        return True, \"SELL_SIGNAL_SAFETY\"\n    if h1_action == \"NEUTRAL\":\n        return False, \"NEUTRAL\"\n\n    # h1_action == BUY\n    if d1_sma200 is None or d1_close is None:\n        return False, \"NO_DAILY_CONTEXT\"\n    if d1_close > d1_sma200:\n        return True, \"BUY_IN_UPTREND\"\n    if abs(h1_score) >= 3 or (rsi is not None and rsi < 30):\n        return True, \"STRONG_REVERSAL_BUY\"\n    return False, \"WEAK_BUY_AGAINST_TREND\"\n\ndef fnv1a(s):\n    h = 0x811c9dc5\n    for c in s.encode():\n        h ^= c\n        h = (h * 0x01000193) & 0xFFFFFFFF\n    return format(h, '08x')\n\ndef compute_sig_hash(symbol, h1_sig, h1_ind, d1_ind):\n    parts = [symbol, (h1_sig.get(\"action\",\"\") or \"\"), str(h1_sig.get(\"score\",0) or 0)]\n    rsi_val = h1_ind.get(\"rsi14\") if h1_ind else None\n    rsi_val = 50 if rsi_val is None else rsi_val\n    parts.append(str(round(rsi_val / 2) * 2))\n    mh = (h1_ind or {}).get(\"macd_hist\")\n    mh = 0 if mh is None else mh\n    parts.append(\"POS\" if mh >= 0 else \"NEG\")\n    if d1_ind:\n        d1c = d1_ind.get(\"last_close\", 0) or 0\n        d1s200 = d1_ind.get(\"sma200\", 0) or 0\n        parts.append(\"ABOVE200\" if d1c > d1s200 else \"BELOW200\")\n    return fnv1a(\"|\".join(parts))\n\ndef check_dedup(symbol, sig_hash, h1_action, con):\n    TTL_BUY = 240\n    TTL_SELL = 60\n    row = con.execute(\n        \"SELECT sig_hash, last_ai_at, ttl_minutes FROM ai_dedup_cache WHERE symbol = ? AND interval_key = 'combined'\",\n        [symbol]\n    ).fetchone()\n    if row is None:\n        return True, \"NO_CACHE\"\n\n    old_hash, last_ai_at, ttl = row\n    ttl = ttl or (TTL_SELL if h1_action == \"SELL\" else TTL_BUY)\n\n    if old_hash != sig_hash:\n        return True, \"SIGNATURE_CHANGED\"\n\n    if last_ai_at:\n        age_r = con.execute(\n            \"SELECT EXTRACT(EPOCH FROM (CURRENT_TIMESTAMP - CAST(? AS TIMESTAMP)))/60\",\n            [str(last_ai_at)]\n        ).fetchone()\n        age_min = age_r[0] if age_r else 999\n        if age_min < ttl:\n            return False, \"UNCHANGED_WITHIN_TTL\"\n        return True, \"TTL_EXPIRED\"\n\n    return True, \"NO_TIMESTAMP\"\n\ndef slim_response(resp, keep=3):\n    if not isinstance(resp, dict):\n        return {}\n    r = dict(resp)\n    bars = r.get(\"bars\")\n    if isinstance(bars, list) and len(bars) > keep*2:\n        r[\"bars_head\"] = bars[:keep]\n        r[\"bars_tail\"] = bars[-keep:]\n        r[\"bars_count\"] = len(bars)\n        r.pop(\"bars\", None)\n    return r\n\n# ===================================================\n# MAIN\n# ===================================================\n\nitems = _items\nresults = []\n\nIND_KEYS = [\n    \"sma20\",\"sma50\",\"sma200\",\"ema12\",\"ema26\",\"macd\",\"macd_signal\",\"macd_hist\",\"rsi14\",\"volatility\",\"last_close\",\n    \"atr\",\"atr_pct\",\"bb_upper\",\"bb_lower\",\"bb_width\",\"stoch_k\",\"stoch_d\",\"adx\",\"obv_slope\",\"resistance\",\"support\",\n    \"dist_res_pct\",\"dist_sup_pct\"\n]\n\nfor it in items:\n    d = it.get(\"json\", {}) or {}\n\n    symbol = str(d.get(\"symbol\", \"\") or \"\").strip()\n    run_id = str(d.get(\"run_id\", \"\") or \"\")\n    if not symbol:\n        continue\n\n    try:\n        h1_resp = d.get(\"h1_response\", {}) or {}\n        d1_resp = d.get(\"d1_response\", {}) or {}\n\n        h1_interval = str(h1_resp.get(\"interval\") or \"1h\")\n        d1_interval = str(d1_resp.get(\"interval\") or \"1d\")\n\n        h1_result = compute_indicators(h1_resp.get(\"bars\", []), h1_interval)\n        d1_result = compute_indicators(d1_resp.get(\"bars\", []), d1_interval)\n\n        h1_ind = h1_result.get(\"indicators\", {}) or {}\n        d1_ind = d1_result.get(\"indicators\", {}) or {}\n        h1_sig = h1_result.get(\"signal\", {}) or {}\n        d1_sig = d1_result.get(\"signal\", {}) or {}\n\n        pass_ai, filter_reason = pre_filter(h1_result, d1_ind)\n        sig_hash = compute_sig_hash(symbol, h1_sig, h1_ind, d1_ind)\n\n        call_ai = False\n        dedup_reason = \"FILTERED_OUT\"\n\n        with db_con() as con:\n            if pass_ai:\n                call_ai, dedup_reason = check_dedup(symbol, sig_hash, (h1_sig.get(\"action\") or \"\"), con)\n\n            signal_id = run_id + \"|\" + symbol\n\n            row = {\n                \"id\": signal_id,\n                \"run_id\": run_id,\n                \"symbol\": symbol,\n                \"workflow_date\": datetime.now(timezone.utc).isoformat(),\n\n                \"h1_date\": h1_result.get(\"last_bar_time\"),\n                \"h1_source\": h1_resp.get(\"source\",\"unknown\"),\n                \"h1_status\": h1_result.get(\"status\",\"NO_DATA\"),\n                \"h1_warnings\": json.dumps(h1_result.get(\"warnings\",[])),\n                \"h1_action\": h1_sig.get(\"action\"),\n                \"h1_score\": h1_sig.get(\"score\"),\n                \"h1_confidence\": h1_sig.get(\"confidence\"),\n                \"h1_rationale\": h1_sig.get(\"rationale\"),\n\n                \"d1_date\": d1_result.get(\"last_bar_time\"),\n                \"d1_source\": d1_resp.get(\"source\",\"unknown\"),\n                \"d1_status\": d1_result.get(\"status\",\"NO_DATA\"),\n                \"d1_warnings\": json.dumps(d1_result.get(\"warnings\",[])),\n                \"d1_action\": d1_sig.get(\"action\"),\n                \"d1_score\": d1_sig.get(\"score\"),\n                \"d1_confidence\": d1_sig.get(\"confidence\"),\n                \"d1_rationale\": d1_sig.get(\"rationale\"),\n\n                \"last_close\": h1_ind.get(\"last_close\") or d1_ind.get(\"last_close\"),\n                \"filter_reason\": filter_reason,\n                \"pass_ai\": pass_ai,\n                \"pass_pm\": False,\n\n                \"sig_hash\": sig_hash,\n                \"call_ai\": call_ai,\n                \"dedup_reason\": dedup_reason,\n                \"vector_status\": \"PENDING\",\n            }\n\n            for k in IND_KEYS:\n                row[\"h1_\" + k] = h1_ind.get(k)\n            for k in IND_KEYS:\n                row[\"d1_\" + k] = d1_ind.get(k)\n\n            cols = list(row.keys())\n            placeholders = \", \".join([\"?\"] * len(cols))\n            con.execute(\n                \"INSERT OR REPLACE INTO technical_signals (\" + \", \".join(cols) + \") VALUES (\" + placeholders + \")\",\n                list(row.values())\n            )\n\n        out = dict(row)\n        out[\"h1_response\"] = slim_response(h1_resp, keep=3)\n        out[\"d1_response\"] = slim_response(d1_resp, keep=3)\n        out[\"h1_indicators\"] = h1_ind\n        out[\"d1_indicators\"] = d1_ind\n        out[\"h1_signal\"] = h1_sig\n        out[\"d1_signal\"] = d1_sig\n        out[\"_status\"] = \"ok\"\n        results.append({\"json\": out})\n\n    except Exception as e:\n        results.append({\"json\": {\n            \"symbol\": symbol,\n            \"run_id\": run_id,\n            \"_status\": \"error\",\n            \"error\": str(e),\n            \"call_ai\": False,\n            \"pass_ai\": False,\n            \"pass_pm\": False\n        }})\n\nreturn results\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        240
      ],
      "id": "1c6a2e0c-0703-4059-ab1c-5456bd5db9ad",
      "name": "Compute + Filter + Write",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.call_ai }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        320
      ],
      "id": "4e0ed86e-bc58-4fe9-81fb-cce4a52ae39e",
      "name": "IF Call AI?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// AG2-V2 — Build AI Validation Context\nconst item = $input.item.json;\n\nconst d1 = item.d1_indicators || {};\nconst h1 = item.h1_signal || {};\nconst h1Ind = item.h1_indicators || {};\n\n// D1 trend verdict\nconst price = d1.last_close || 0;\nconst sma200 = d1.sma200 || 0;\nconst trendVerdict = (price > sma200) ? 'BULLISH' : 'BEARISH';\n\n// RR Theoretical\nlet rr = null;\nlet rrMeta = {};\nif (h1.action === 'BUY' && h1Ind.resistance && h1Ind.atr) {\n  const entry = h1Ind.last_close || 0;\n  const tp = h1Ind.resistance;\n  const slDist = Math.max(h1Ind.atr * 2, entry * 0.02);\n  const sl = entry - slDist;\n  const tpDist = tp - entry;\n  rr = tpDist > 0 && slDist > 0 ? Math.round(tpDist / slDist * 100) / 100 : null;\n  rrMeta = { method: 'pivot_resistance', entry, tp, sl, tp_dist: tpDist, sl_dist: slDist, atr: h1Ind.atr };\n}\n\n// Last 60 H1 candles\nconst h1Bars = (item.h1_response || {}).bars || [];\nconst recentBars = h1Bars.slice(-60).map(b => ({\n  t: b.t, o: b.o, h: b.h, l: b.l, c: b.c, v: b.v\n}));\n\nreturn [{\n  json: {\n    ...item,\n    ai_context: {\n      symbol: item.symbol,\n      signal_tactical_H1: {\n        action: h1.action, score: h1.score,\n        confidence: h1.confidence, rationale: h1.rationale,\n        indicators: h1Ind,\n      },\n      primary_context_D1: {\n        trend_verdict: trendVerdict, indicators: d1,\n      },\n      bars: recentBars,\n      rr_theoretical: rr,\n      rr_meta: rrMeta,\n      run_context: { run_id: item.run_id, timestamp: new Date().toISOString() },\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        208
      ],
      "id": "613f6da5-53ae-406f-b94c-3c45c0d9b60c",
      "name": "Snapshot Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Tu es l'Agent n°2 : Validateur Technique H1 ↔ D1. Senior Technical Analyst et Risk Manager.\n\nRÈGLES ABSOLUES :\n1. SMA200 PRIORITÉ ABSOLUE : bias_sma200=BULLISH si prix>SMA200_D1, sinon BEARISH.\n2. RÉGIME D1 : BULLISH (prix>SMA200 ET SMA50>SMA200), BEARISH (prix<SMA200 ET SMA50<SMA200), TRANSITION, NEUTRAL_RANGE.\n3. ZÉRO HALLUCINATION : Ne jamais inventer. Manquant -> missing_fields.\n4. COHÉRENCE : validated=true exige decision=APPROVE + stop_loss non null. stop_loss=null exige validated=false.\n5. DONNÉES OBLIGATOIRES : SMA200_D1 et prix_D1. Si absents -> REJECT, quality_score<=3.\n6. Si bars H1<20 : WATCH si WITH_BIAS, sinon REJECT. Pas de stop loss.\n7. ALIGNEMENT : WITH_BIAS (BUY+BULLISH ou SELL+BEARISH), AGAINST_BIAS, MIXED, UNKNOWN.\n8. GATE RR (BUY) : RR<1.2->REJECT, 1.2-1.5->WATCH, >=1.5->APPROVE, null->WATCH si WITH_BIAS.\n9. Suivi tendance->APPROVE candidat (quality 7-10). Contre-tendance->REJECT sauf RSI extrême.\n10. STOP LOSS : swing H1, buffer 0.1-0.3%.\n11. REASONING : Débuter par 'Tendance de fond Haussiere car Prix > SMA200.' ou 'Baissiere'. Max 2 phrases."
            },
            {
              "content": "=Tu vas recevoir un objet JSON pour un symbole contenant :\n- signal_tactical_H1 : signal + indicateurs H1\n- primary_context_D1 : indicateurs D1 (Prix_D1/last_close, SMA200_D1, SMA50_D1, etc.)\n- bars : dernières bougies H1 (OHLCV)\n- rr_theoretical : ratio R/R théorique\n- rr_meta : champs d'audit (méthode, distances)\n\nTa mission : appliquer STRICTEMENT les règles H1↔D1 et retourner UNIQUEMENT le JSON de décision conforme au schéma.\n\nRÈGLES D'ACCÈS AUX DONNÉES :\n- SMA200_D1, SMA50_D1, Prix_D1 : dans primary_context_D1.indicators\n- RSI_H1 : dans signal_tactical_H1.indicators\n- Bougies H1 : dans bars\n- RR : rr_theoretical (ne pas réinventer TP/SL si fourni)\n- Si bars < 20 : tu NE PEUX PAS proposer de stop ⇒ validated=false\n\nDONNÉES :\n{{ JSON.stringify($json.ai_context, null, 2) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 512,
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "={\"type\": \"object\", \"additionalProperties\": false, \"properties\": {\"validated\": {\"type\": \"boolean\"}, \"decision\": {\"type\": \"string\", \"enum\": [\"APPROVE\", \"REJECT\", \"WATCH\"]}, \"quality_score\": {\"type\": \"integer\", \"minimum\": 1, \"maximum\": 10}, \"bias_sma200\": {\"type\": \"string\", \"enum\": [\"BULLISH\", \"BEARISH\"]}, \"regime_d1\": {\"type\": \"string\", \"enum\": [\"BULLISH\", \"BEARISH\", \"NEUTRAL_RANGE\", \"TRANSITION\"]}, \"h1_d1_alignment\": {\"type\": \"string\", \"enum\": [\"WITH_BIAS\", \"AGAINST_BIAS\", \"MIXED\", \"UNKNOWN\"]}, \"reasoning\": {\"type\": \"string\"}, \"chart_pattern\": {\"type\": \"string\"}, \"stop_loss_suggestion\": {\"type\": [\"number\", \"null\"]}, \"stop_loss_basis\": {\"type\": \"string\", \"enum\": [\"SWING_H1\", \"BAR_ANCHOR\", \"NONE\"]}, \"missing_fields\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}, \"anomalies\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}}}, \"required\": [\"validated\", \"decision\", \"quality_score\", \"reasoning\", \"bias_sma200\", \"regime_d1\", \"h1_d1_alignment\", \"chart_pattern\", \"stop_loss_suggestion\", \"stop_loss_basis\", \"missing_fields\", \"anomalies\"]}"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1376,
        208
      ],
      "id": "d4ca00be-b4db-4e38-9df1-5473752801a1",
      "name": "AI Validation GPT",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import json\nimport duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items\nresults = []\n\nfor it in items:\n    d = it.get(\"json\", {}) or {}\n    symbol = d.get(\"symbol\", \"\")\n    run_id = d.get(\"run_id\", \"\")\n    signal_id = run_id + \"|\" + symbol\n    sig_hash = d.get(\"sig_hash\", \"\")\n\n    try:\n        ai_raw = d.get(\"message\", {}).get(\"content\", d.get(\"text\", \"{}\"))\n        ai = json.loads(ai_raw) if isinstance(ai_raw, str) else ai_raw\n\n        decision = ai.get(\"decision\", \"WATCH\")\n        validated = ai.get(\"validated\", False)\n        quality = ai.get(\"quality_score\", 5)\n        reasoning = ai.get(\"reasoning\", \"\")\n        chart_pattern = ai.get(\"chart_pattern\", \"None\")\n        stop_loss = ai.get(\"stop_loss_suggestion\")\n        stop_basis = ai.get(\"stop_loss_basis\", \"NONE\")\n        bias = ai.get(\"bias_sma200\", \"\")\n        regime = ai.get(\"regime_d1\", \"\")\n        alignment = ai.get(\"h1_d1_alignment\", \"UNKNOWN\")\n        missing = json.dumps(ai.get(\"missing_fields\", []))\n        anomalies = json.dumps(ai.get(\"anomalies\", []))\n\n        # Coherence guards\n        if validated and decision != \"APPROVE\":\n            validated = False\n        if decision == \"APPROVE\" and stop_loss is None:\n            decision = \"WATCH\"\n            validated = False\n        if not reasoning:\n            reasoning = \"(no reasoning returned)\"\n\n        pass_pm = decision == \"APPROVE\" or (decision == \"WATCH\" and alignment == \"WITH_BIAS\" and quality >= 5)\n        output_ref = \"AG2AI|\" + symbol + \"|\" + sig_hash\n\n        ai_data = {\n            \"ai_decision\": decision, \"ai_validated\": validated, \"ai_quality\": quality,\n            \"ai_reasoning\": reasoning, \"ai_chart_pattern\": chart_pattern,\n            \"ai_stop_loss\": stop_loss, \"ai_stop_basis\": stop_basis,\n            \"ai_bias_sma200\": bias, \"ai_regime_d1\": regime, \"ai_alignment\": alignment,\n            \"ai_missing\": missing, \"ai_anomalies\": anomalies,\n            \"ai_output_ref\": output_ref, \"pass_pm\": pass_pm\n        }\n\n        with db_con() as con:\n            sets = \", \".join(k + \" = ?\" for k in ai_data.keys())\n            con.execute(\n                \"UPDATE technical_signals SET \" + sets + \", updated_at = CURRENT_TIMESTAMP WHERE id = ?\",\n                list(ai_data.values()) + [signal_id]\n            )\n\n            h1_action = d.get(\"h1_action\", \"NEUTRAL\")\n            ttl = 60 if h1_action == \"SELL\" else 240\n            sig_json = json.dumps({\"action\": h1_action, \"score\": d.get(\"h1_score\"), \"decision\": decision, \"quality\": quality})\n            con.execute(\n                \"INSERT OR REPLACE INTO ai_dedup_cache (symbol, interval_key, sig_hash, sig_json, last_ai_at, last_ai_run_id, last_ai_reason, last_ai_output_ref, ttl_minutes, updated_at) VALUES (?, 'combined', ?, ?, CURRENT_TIMESTAMP, ?, ?, ?, ?, CURRENT_TIMESTAMP)\",\n                [symbol, sig_hash, sig_json, run_id, d.get(\"filter_reason\", \"\"), output_ref, ttl]\n            )\n\n        out = dict(d)\n        out.update(ai_data)\n        out[\"should_vectorize\"] = pass_pm or decision in (\"APPROVE\", \"WATCH\")\n        results.append({\"json\": out})\n\n    except Exception as e:\n        out = dict(d)\n        out[\"ai_decision\"] = \"ERROR\"\n        out[\"ai_reasoning\"] = str(e)\n        out[\"should_vectorize\"] = False\n        results.append({\"json\": out})\n\nreturn results\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        208
      ],
      "id": "12a31ddb-f192-407d-8786-c9dcba5957eb",
      "name": "Extract AI + Write",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.should_vectorize }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        464
      ],
      "id": "c072b2fc-8b97-4216-b520-c21b1ef67217",
      "name": "IF Vectorize?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// AG2-V2 — Prepare structured text for Qdrant vectorization\nconst d = $input.item.json;\nconst symbol = d.symbol || '';\nconst run_id = d.run_id || '';\nconst signal_id = `${run_id}|${symbol}`;\n\nconst lines = [\n  `[ENTITY] ${symbol}`,\n  `[DATE] ${d.workflow_date || new Date().toISOString()}`,\n  ``,\n  `[DAILY CONTEXT]`,\n  `Trend: ${d.ai_bias_sma200 || 'N/A'} | Regime: ${d.ai_regime_d1 || 'N/A'}`,\n  `SMA200: ${d.d1_sma200 || 'N/A'} | SMA50: ${d.d1_sma50 || 'N/A'} | Close: ${d.d1_last_close || 'N/A'}`,\n  `RSI14: ${d.d1_rsi14 || 'N/A'} | MACD_Hist: ${d.d1_macd_hist || 'N/A'} | ADX: ${d.d1_adx || 'N/A'}`,\n  `Bollinger Width: ${d.d1_bb_width || 'N/A'} | Volatility: ${d.d1_volatility || 'N/A'}`,\n  ``,\n  `[H1 SIGNAL]`,\n  `Action: ${d.h1_action || 'N/A'} | Score: ${d.h1_score || 'N/A'} | Confidence: ${d.h1_confidence || 'N/A'}`,\n  `Rationale: ${d.h1_rationale || 'N/A'}`,\n  `RSI14: ${d.h1_rsi14 || 'N/A'} | Stochastic: ${d.h1_stoch_k || 'N/A'}/${d.h1_stoch_d || 'N/A'}`,\n  `Support: ${d.h1_support || 'N/A'} | Resistance: ${d.h1_resistance || 'N/A'}`,\n  ``,\n  `[AI VALIDATION]`,\n  `Decision: ${d.ai_decision || 'N/A'} | Quality: ${d.ai_quality || 'N/A'}/10`,\n  `Alignment: ${d.ai_alignment || 'N/A'} | Stop: ${d.ai_stop_loss || 'N/A'}`,\n  `Reasoning: ${d.ai_reasoning || 'N/A'}`,\n];\n\nreturn [{\n  json: {\n    text: lines.join('\\n'),\n    metadata: {\n      symbol, run_id, signal_id,\n      h1_action: d.h1_action || '',\n      d1_action: d.d1_action || '',\n      ai_decision: d.ai_decision || '',\n      ai_quality: d.ai_quality || 0,\n      ai_alignment: d.ai_alignment || '',\n      pass_pm: d.pass_pm || false,\n      workflow_date: d.workflow_date || '',\n    },\n    id: signal_id.replace(/[^a-zA-Z0-9_-]/g, '_'),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        112
      ],
      "id": "480c9128-5194-40f7-ac30-d7284bfed1c2",
      "name": "Prep Vector Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2336,
        288
      ],
      "id": "bd9a3672-17da-4eb1-aa18-02184a96a1e9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rILpYjTayqc4jXXZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2384,
        416
      ],
      "id": "ea3996bc-c8ed-4be8-9d5e-da7449217a5e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2384,
        608
      ],
      "id": "83620261-2c2e-4a43-aad1-bae2259fb46c",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "financial_tech_v1"
        },
        "options": {
          "collectionConfig": {
            "similarity": "Cosine"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        2416,
        112
      ],
      "id": "e8092c74-8821-448c-b19c-067d38b0e926",
      "name": "Qdrant Upsert",
      "credentials": {
        "qdrantApi": {
          "id": "q1CRmg2N6AmW6pC1",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import duckdb, time, gc\nfrom contextlib import contextmanager\n\nDB_PATH = \"/files/duckdb/ag2_v2.duckdb\"\n\n@contextmanager\ndef db_con(path=DB_PATH, retries=5, delay=0.3):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as e:\n            if \"lock\" in str(e).lower() and attempt < retries - 1:\n                time.sleep(delay * (2 ** attempt))\n            else:\n                raise\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\nitems = _items\n\nwith db_con() as con:\n    for it in items:\n        d = it.get(\"json\", {}) or {}\n        meta = d.get(\"metadata\") or {}\n        signal_id = meta.get(\"signal_id\") or d.get(\"signal_id\") or \"\"\n        vector_id = d.get(\"id\") or \"\"\n\n        if signal_id and vector_id:\n            con.execute(\n                \"UPDATE technical_signals SET vector_status = 'DONE', vector_id = ?, vectorized_at = CURRENT_TIMESTAMP WHERE id = ?\",\n                [vector_id, signal_id],\n            )\n\nreturn items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        576
      ],
      "id": "28a7f541-c31d-4cbd-b97c-b646b8a18808",
      "name": "Mark Vectorized"
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Read Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Universe": {
      "main": [
        [
          {
            "node": "Init Config + Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Config + Batch": {
      "main": [
        [
          {
            "node": "DuckDB Init Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DuckDB Init Schema": {
      "main": [
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Symbols": {
      "main": [
        [
          {
            "node": "Finalize Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AG2.15 — HTTP — Fetch Yahoo OHLCV (1D Strategy)",
            "type": "main",
            "index": 0
          },
          {
            "node": "AG2.10 — HTTP — Fetch Yahoo OHLCV (1H Timing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.10 — HTTP — Fetch Yahoo OHLCV (1H Timing)": {
      "main": [
        [
          {
            "node": "AG2.11 — Code — Wrap H1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.15 — HTTP — Fetch Yahoo OHLCV (1D Strategy)": {
      "main": [
        [
          {
            "node": "AG2.16 — Code — Wrap D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.11 — Code — Wrap H1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AG2.16 — Code — Wrap D1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compute + Filter + Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute + Filter + Write": {
      "main": [
        [
          {
            "node": "IF Call AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Call AI?": {
      "main": [
        [
          {
            "node": "Snapshot Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot Context": {
      "main": [
        [
          {
            "node": "AI Validation GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Validation GPT": {
      "main": [
        [
          {
            "node": "Extract AI + Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI + Write": {
      "main": [
        [
          {
            "node": "IF Vectorize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Vectorize?": {
      "main": [
        [
          {
            "node": "Prep Vector Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Vector Text": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Mark Vectorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Vectorized": {
      "main": [
        [
          {
            "node": "Loop Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "093ba1266e85fcaaa6abca411d9f7941951737b3920bfaa6e2db89226df2c82d"
  }
}
