AG1-PF-V1/AG1-PF-V1-workflow.json
{
  "name": "AG1-PF-V1 - Portfolio MTM (DuckDB-only, Multi AG1-V2)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9-17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -80
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f101",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        80
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f102",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pf00-01",
              "name": "yfinance_api_base",
              "value": "http://yfinance-api:8080",
              "type": "string"
            },
            {
              "id": "pf00-02",
              "name": "interval",
              "value": "1d",
              "type": "string"
            },
            {
              "id": "pf00-03",
              "name": "lookback_days",
              "value": "10",
              "type": "string"
            },
            {
              "id": "pf00-04",
              "name": "max_bars",
              "value": "5",
              "type": "string"
            },
            {
              "id": "pf00-05",
              "name": "min_bars",
              "value": "1",
              "type": "string"
            },
            {
              "id": "pf00-06",
              "name": "allow_stale",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "pf00-07",
              "name": "portfolio_db_path",
              "value": "/local-files/duckdb/ag1_v2_chatgpt52.duckdb",
              "type": "string"
            },
            {
              "id": "pf00-07b",
              "name": "portfolio_db_paths_json",
              "value": "[\"/local-files/duckdb/ag1_v2_chatgpt52.duckdb\",\"/local-files/duckdb/ag1_v2_grok41_reasoning.duckdb\",\"/local-files/duckdb/ag1_v2_gemini30_pro.duckdb\"]",
              "type": "string"
            },
            {
              "id": "pf00-07c",
              "name": "universe_db_path",
              "value": "/local-files/duckdb/ag2_v2.duckdb",
              "type": "string"
            },
            {
              "id": "pf00-08",
              "name": "workflow_name",
              "value": "PF Portfolio MTM Updater (DuckDB-only, Multi AG1-V2)",
              "type": "string"
            },
            {
              "id": "pf00-09",
              "name": "run_id",
              "value": "={{ 'PFMTM_' + $now.toFormat('yyyyLLddHHmmss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f103",
      "name": "PF.00 - Config"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import gc\nimport json\nimport os\nimport re\nimport time\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone\n\nimport duckdb\n\nDEFAULT_TARGETS = [\n    \"/local-files/duckdb/ag1_v2_chatgpt52.duckdb\",\n    \"/local-files/duckdb/ag1_v2_grok41_reasoning.duckdb\",\n    \"/local-files/duckdb/ag1_v2_gemini30_pro.duckdb\",\n]\nDEFAULT_UNIVERSE_DB_PATH = \"/local-files/duckdb/ag2_v2.duckdb\"\nDEFAULT_UNIVERSE_TABLE = \"universe\"\n\n\n@contextmanager\ndef db_con(path, retries=6, base_delay=0.25):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path, read_only=True)\n            break\n        except Exception as exc:\n            msg = str(exc).lower()\n            if (\"lock\" in msg or \"busy\" in msg) and attempt < retries - 1:\n                time.sleep(base_delay * (2 ** attempt))\n                continue\n            con = None\n            break\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    s = str(v)\n    return \"\" if s.lower() in (\"nan\", \"nat\", \"none\", \"null\") else s.strip()\n\n\ndef to_float(v, default=None):\n    try:\n        if v is None or v == \"\":\n            return default\n        return float(v)\n    except Exception:\n        return default\n\n\ndef _parse_paths_candidate(v):\n    if v is None:\n        return []\n    if isinstance(v, (list, tuple, set)):\n        return [to_text(x) for x in v if to_text(x)]\n    s = to_text(v)\n    if not s:\n        return []\n    if s.startswith(\"[\") and s.endswith(\"]\"):\n        try:\n            arr = json.loads(s)\n            if isinstance(arr, list):\n                return [to_text(x) for x in arr if to_text(x)]\n        except Exception:\n            pass\n    if \",\" in s or \";\" in s:\n        parts = re.split(r\"[;,]\", s.strip().strip(\"[]\"))\n        out = []\n        for x in parts:\n            t = to_text(x).strip().strip('\"').strip(\"'\")\n            if t:\n                out.append(t)\n        return out\n    return [s]\n\n\ndef dedupe_paths(paths):\n    out = []\n    seen = set()\n    for p in paths:\n        t = to_text(p)\n        if not t:\n            continue\n        key = t.lower()\n        if key in seen:\n            continue\n        seen.add(key)\n        out.append(t)\n    return out\n\n\ndef _is_legacy_ag1_db_path(path_text):\n    p = to_text(path_text).lower().replace(\"\\\\\", \"/\")\n    return p.endswith(\"/ag1_v2.duckdb\")\n\n\ndef _path_alias_candidates(path_text):\n    p = to_text(path_text).replace(\"\\\\\", \"/\")\n    if not p:\n        return []\n    out = [p]\n    if p.startswith(\"/local-files/\"):\n        out.append(\"/files/\" + p[len(\"/local-files/\"):])\n    elif p.startswith(\"/files/\"):\n        out.append(\"/local-files/\" + p[len(\"/files/\"):])\n    return dedupe_paths(out)\n\n\ndef _resolve_existing_db_path(path_text):\n    cands = _path_alias_candidates(path_text)\n    if not cands:\n        return \"\"\n    for p in cands:\n        try:\n            if os.path.exists(p):\n                return p\n        except Exception:\n            pass\n    return cands[0]\n\n\ndef _norm_symbol(v):\n    return to_text(v).upper()\n\n\ndef _is_numeric_like_label(v):\n    s = to_text(v)\n    if not s:\n        return False\n    return bool(re.fullmatch(r\"[+-]?\\d+(?:[.,]\\d+)?\", s))\n\n\ndef _is_blankish(v):\n    s = to_text(v)\n    return s == \"\" or s.lower() in {\"nan\", \"none\", \"null\", \"n/a\", \"na\"}\n\n\ndef _needs_name_fill(name_val, symbol):\n    s = to_text(name_val)\n    if _is_blankish(s):\n        return True\n    if _is_numeric_like_label(s):\n        return True\n    return _norm_symbol(s) == _norm_symbol(symbol)\n\n\ndef _needs_taxonomy_fill(v):\n    s = to_text(v)\n    if _is_blankish(s):\n        return True\n    if s.strip().lower() in {\"unknown\", \"undef\", \"undefined\"}:\n        return True\n    if _is_numeric_like_label(s):\n        return True\n    return False\n\n\ndef resolve_target_paths(cfg):\n    paths = []\n    paths.extend(_parse_paths_candidate(cfg.get(\"portfolio_db_paths\")))\n    paths.extend(_parse_paths_candidate(cfg.get(\"portfolio_db_paths_json\")))\n    paths.extend(_parse_paths_candidate(cfg.get(\"portfolio_db_paths_csv\")))\n    if not paths:\n        paths.extend(_parse_paths_candidate(cfg.get(\"portfolio_db_path\")))\n    paths = dedupe_paths(paths)\n    paths = [p for p in paths if not _is_legacy_ag1_db_path(p)]\n    if not paths:\n        paths = list(DEFAULT_TARGETS)\n    return paths\n\n\ndef _resolve_universe_db_path(cfg):\n    candidates = [\n        cfg.get(\"universe_db_path\"),\n        cfg.get(\"ag2_db_path\"),\n        os.getenv(\"AG2_DUCKDB_PATH\"),\n        DEFAULT_UNIVERSE_DB_PATH,\n    ]\n    for c in candidates:\n        s = to_text(c)\n        if s:\n            return _resolve_existing_db_path(s)\n    return _resolve_existing_db_path(DEFAULT_UNIVERSE_DB_PATH)\n\n\ndef _load_universe_map(cfg):\n    db_path = _resolve_universe_db_path(cfg)\n    table_name = to_text(cfg.get(\"universe_table\")) or DEFAULT_UNIVERSE_TABLE\n    if not db_path:\n        return {}\n\n    out = {}\n    try:\n        with db_con(db_path) as con:\n            if con is None:\n                return {}\n            if not _table_exists(con, table_name):\n                return {}\n            cur = con.execute(\n                f\"\"\"\n                SELECT\n                  symbol,\n                  name,\n                  asset_class,\n                  sector,\n                  industry,\n                  isin\n                FROM {table_name}\n                \"\"\"\n            )\n            cols = [d[0] for d in cur.description]\n            for row in cur.fetchall():\n                rec = dict(zip(cols, row))\n                sym = _norm_symbol(rec.get(\"symbol\"))\n                if not sym:\n                    continue\n                out[sym] = {\n                    \"name\": to_text(rec.get(\"name\")),\n                    \"asset_class\": to_text(rec.get(\"asset_class\")),\n                    \"sector\": to_text(rec.get(\"sector\")),\n                    \"industry\": to_text(rec.get(\"industry\")),\n                    \"isin\": to_text(rec.get(\"isin\")),\n                }\n    except Exception:\n        return {}\n\n    return out\n\n\ndef _enrich_rows_from_universe(rows, universe_map):\n    if not rows or not universe_map:\n        return rows\n\n    out = []\n    for r in rows:\n        row = dict(r)\n        sym = _norm_symbol(row.get(\"Symbol\"))\n        if not sym or sym in {\"CASH_EUR\", \"__META__\"}:\n            out.append(row)\n            continue\n\n        u = universe_map.get(sym) or {}\n        if not u:\n            out.append(row)\n            continue\n\n        if _needs_name_fill(row.get(\"Name\"), sym) and to_text(u.get(\"name\")):\n            row[\"Name\"] = to_text(u.get(\"name\"))\n        if _needs_taxonomy_fill(row.get(\"Sector\")) and to_text(u.get(\"sector\")):\n            row[\"Sector\"] = to_text(u.get(\"sector\"))\n        if _needs_taxonomy_fill(row.get(\"Industry\")) and to_text(u.get(\"industry\")):\n            row[\"Industry\"] = to_text(u.get(\"industry\"))\n        if (_is_blankish(row.get(\"AssetClass\")) or _is_numeric_like_label(row.get(\"AssetClass\"))) and to_text(u.get(\"asset_class\")):\n            row[\"AssetClass\"] = to_text(u.get(\"asset_class\"))\n        if _is_blankish(row.get(\"ISIN\")) and to_text(u.get(\"isin\")):\n            row[\"ISIN\"] = to_text(u.get(\"isin\"))\n\n        out.append(row)\n\n    return out\n\n\ndef _table_exists(con, table_name, schema=None):\n    try:\n        if schema:\n            row = con.execute(\n                \"\"\"\n                SELECT COUNT(*) FROM information_schema.tables\n                WHERE table_schema = ? AND table_name = ?\n                \"\"\",\n                [schema, table_name],\n            ).fetchone()\n        else:\n            row = con.execute(\n                \"\"\"\n                SELECT COUNT(*) FROM information_schema.tables\n                WHERE table_name = ?\n                \"\"\",\n                [table_name],\n            ).fetchone()\n        return bool(row and int(row[0] or 0) > 0)\n    except Exception:\n        return False\n\n\ndef _iso(v):\n    try:\n        if v is None:\n            return None\n        s = str(v).strip()\n        if not s:\n            return None\n        if s.endswith(\"Z\"):\n            return s\n        if \"+\" in s[10:] or s.endswith(\"Z\"):\n            return s\n        # Keep n8n-friendly ISO string, assume UTC if naive.\n        return s + \"Z\" if \"T\" in s else s\n    except Exception:\n        return None\n\n\ndef _legacy_rows(con, db_path):\n    if not _table_exists(con, \"portfolio_positions_mtm_latest\"):\n        return []\n    try:\n        cur = con.execute(\n            \"\"\"\n            SELECT\n              row_number,\n              symbol,\n              name,\n              asset_class,\n              sector,\n              industry,\n              isin,\n              quantity,\n              avg_price,\n              last_price,\n              market_value,\n              unrealized_pnl,\n              updated_at\n            FROM portfolio_positions_mtm_latest\n            ORDER BY\n              CASE\n                WHEN UPPER(symbol) = '__META__' THEN 0\n                WHEN UPPER(symbol) = 'CASH_EUR' THEN 1\n                ELSE 2\n              END,\n              market_value DESC NULLS LAST,\n              symbol\n            \"\"\"\n        )\n        cols = [d[0] for d in cur.description]\n        out = []\n        for row in cur.fetchall():\n            r = dict(zip(cols, row))\n            out.append(\n                {\n                    \"row_number\": int(r.get(\"row_number\")) if r.get(\"row_number\") is not None else None,\n                    \"Symbol\": to_text(r.get(\"symbol\")).upper(),\n                    \"Name\": to_text(r.get(\"name\")),\n                    \"AssetClass\": to_text(r.get(\"asset_class\")),\n                    \"Sector\": to_text(r.get(\"sector\")),\n                    \"Industry\": to_text(r.get(\"industry\")),\n                    \"ISIN\": to_text(r.get(\"isin\")),\n                    \"Quantity\": r.get(\"quantity\"),\n                    \"AvgPrice\": r.get(\"avg_price\"),\n                    \"LastPrice\": r.get(\"last_price\"),\n                    \"MarketValue\": r.get(\"market_value\"),\n                    \"UnrealizedPnL\": r.get(\"unrealized_pnl\"),\n                    \"UpdatedAt\": _iso(r.get(\"updated_at\")),\n                    \"portfolio_db_path\": db_path,\n                    \"portfolio_source\": \"legacy_mtm_latest\",\n                }\n            )\n        return out\n    except Exception:\n        return []\n\n\ndef _read_initial_capital(con):\n    try:\n        if _table_exists(con, \"portfolio_config\", \"cfg\"):\n            row = con.execute(\n                \"\"\"\n                SELECT CAST(initial_capital_eur AS DOUBLE)\n                FROM cfg.portfolio_config\n                WHERE initial_capital_eur IS NOT NULL\n                ORDER BY updated_at DESC NULLS LAST\n                LIMIT 1\n                \"\"\"\n            ).fetchone()\n            if row and row[0] is not None:\n                return float(row[0])\n    except Exception:\n        pass\n\n    try:\n        if _table_exists(con, \"cash_ledger\", \"core\"):\n            row = con.execute(\n                \"\"\"\n                SELECT CAST(SUM(COALESCE(amount, 0)) AS DOUBLE)\n                FROM core.cash_ledger\n                WHERE UPPER(COALESCE(type, '')) = 'DEPOSIT'\n                \"\"\"\n            ).fetchone()\n            if row and row[0] is not None and float(row[0]) > 0:\n                return float(row[0])\n    except Exception:\n        pass\n\n    return 50000.0\n\n\ndef _core_rows(con, db_path):\n    needed = (\n        _table_exists(con, \"portfolio_snapshot\", \"core\")\n        and _table_exists(con, \"positions_snapshot\", \"core\")\n    )\n    if not needed:\n        return []\n\n    try:\n        latest = con.execute(\n            \"\"\"\n            SELECT\n              ps.run_id,\n              ps.ts,\n              CAST(ps.cash_eur AS DOUBLE) AS cash_eur\n            FROM core.portfolio_snapshot ps\n            ORDER BY ps.ts DESC\n            LIMIT 1\n            \"\"\"\n        ).fetchone()\n        if not latest:\n            return []\n        run_id, snap_ts, cash_eur = latest[0], latest[1], latest[2]\n        snap_iso = _iso(snap_ts) or datetime.now(timezone.utc).isoformat()\n\n        pos_cur = con.execute(\n            \"\"\"\n            SELECT\n              p.symbol,\n              COALESCE(i.name, p.symbol) AS name,\n              COALESCE(i.asset_class, 'Equity') AS asset_class,\n              COALESCE(i.sector, '') AS sector,\n              COALESCE(i.industry, '') AS industry,\n              COALESCE(i.isin, '') AS isin,\n              CAST(p.qty AS DOUBLE) AS quantity,\n              CAST(p.avg_cost AS DOUBLE) AS avg_price,\n              CAST(p.last_price AS DOUBLE) AS last_price,\n              CAST(p.market_value_eur AS DOUBLE) AS market_value,\n              CAST(p.unrealized_pnl_eur AS DOUBLE) AS unrealized_pnl\n            FROM core.positions_snapshot p\n            LEFT JOIN core.instruments i ON i.symbol = p.symbol\n            WHERE p.run_id = ?\n            ORDER BY p.market_value_eur DESC NULLS LAST, p.symbol\n            \"\"\",\n            [run_id],\n        )\n        cols = [d[0] for d in pos_cur.description]\n        pos_rows = [dict(zip(cols, r)) for r in pos_cur.fetchall()]\n\n        initial_cap = _read_initial_capital(con)\n\n        out = [\n            {\n                \"row_number\": 1,\n                \"Symbol\": \"__META__\",\n                \"Name\": \"__META__\",\n                \"AssetClass\": \"Meta\",\n                \"Sector\": \"\",\n                \"Industry\": \"\",\n                \"ISIN\": \"\",\n                \"Quantity\": None,\n                \"AvgPrice\": None,\n                \"LastPrice\": None,\n                \"MarketValue\": initial_cap,\n                \"UnrealizedPnL\": None,\n                \"UpdatedAt\": snap_iso,\n                \"portfolio_db_path\": db_path,\n                \"portfolio_source\": \"core_snapshots\",\n            },\n            {\n                \"row_number\": 2,\n                \"Symbol\": \"CASH_EUR\",\n                \"Name\": \"Cash\",\n                \"AssetClass\": \"Cash\",\n                \"Sector\": \"Cash\",\n                \"Industry\": \"Cash\",\n                \"ISIN\": \"\",\n                \"Quantity\": 0.0,\n                \"AvgPrice\": 1.0,\n                \"LastPrice\": 1.0,\n                \"MarketValue\": float(cash_eur or 0.0),\n                \"UnrealizedPnL\": 0.0,\n                \"UpdatedAt\": snap_iso,\n                \"portfolio_db_path\": db_path,\n                \"portfolio_source\": \"core_snapshots\",\n            },\n        ]\n\n        idx = 3\n        for r in pos_rows:\n            out.append(\n                {\n                    \"row_number\": idx,\n                    \"Symbol\": to_text(r.get(\"symbol\")).upper(),\n                    \"Name\": to_text(r.get(\"name\")),\n                    \"AssetClass\": to_text(r.get(\"asset_class\")) or \"Equity\",\n                    \"Sector\": to_text(r.get(\"sector\")),\n                    \"Industry\": to_text(r.get(\"industry\")),\n                    \"ISIN\": to_text(r.get(\"isin\")),\n                    \"Quantity\": r.get(\"quantity\"),\n                    \"AvgPrice\": r.get(\"avg_price\"),\n                    \"LastPrice\": r.get(\"last_price\"),\n                    \"MarketValue\": r.get(\"market_value\"),\n                    \"UnrealizedPnL\": r.get(\"unrealized_pnl\"),\n                    \"UpdatedAt\": snap_iso,\n                    \"portfolio_db_path\": db_path,\n                    \"portfolio_source\": \"core_snapshots\",\n                }\n            )\n            idx += 1\n\n        return out\n    except Exception:\n        return []\n\n\nitems = _items or []\ncfg = (items[0] or {}).get(\"json\", {}) if items else {}\ncfg = cfg if isinstance(cfg, dict) else {}\n\ntargets = resolve_target_paths(cfg)\nuniverse_map = _load_universe_map(cfg)\nout_rows = []\ndiag = []\n\nfor db_path_cfg in targets:\n    db_path = _resolve_existing_db_path(db_path_cfg)\n    d = {\n        \"configured_db_path\": db_path_cfg,\n        \"resolved_db_path\": db_path,\n        \"resolved_path_exists\": bool(db_path and os.path.exists(db_path)),\n    }\n    with db_con(db_path) as con:\n        if con is None:\n            d[\"status\"] = \"CONNECT_FAILED\"\n            diag.append(d)\n            continue\n\n        # AG1-V2 ledger (core.*) is the source of truth for current portfolio state.\n        # Legacy MTM table can lag behind after trades, so only use it as fallback.\n        rows = _core_rows(con, db_path)\n        source = \"core_snapshots\" if rows else None\n        if not rows:\n            rows = _legacy_rows(con, db_path)\n            if rows:\n                source = \"legacy_mtm_latest\"\n        rows = _enrich_rows_from_universe(rows, universe_map)\n        d[\"status\"] = \"OK\" if rows else \"NO_ROWS\"\n        d[\"rows\"] = len(rows)\n        d[\"portfolio_source\"] = source or \"\"\n        diag.append(d)\n\n        for r in rows:\n            out_rows.append({\"json\": r})\n\nif not out_rows:\n    compact = []\n    for d in diag:\n        compact.append(\n            f\"{d.get('configured_db_path')} -> {d.get('resolved_db_path')} \"\n            f\"(exists={d.get('resolved_path_exists')}, status={d.get('status')}, rows={d.get('rows', 0)})\"\n        )\n    hint = \" | \".join(compact)[:1800]\n    raise RuntimeError(\n        \"Read Portfolio: aucune ligne lue depuis les bases AG1 dediees. \"\n        \"Verifier les mounts Docker (/local-files vs /files) et la presence des tables core.*. \"\n        + hint\n    )\n\nreturn out_rows\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f104",
      "name": "Read Portfolio"
    },
    {
      "parameters": {
        "jsCode": "/**\n * PF.02 - Normalize positions (1 item = 1 row)\n * - Parses portfolio row values robustly (FR number support)\n * - Excludes technical rows (__META__, CASH_EUR)\n * - Adds config from PF.00 node to each output item\n */\n\nfunction safeJsonParse(v, fallback = {}) {\n  try {\n    if (!v) return fallback;\n    if (typeof v === \"object\") return v;\n    return JSON.parse(String(v));\n  } catch {\n    return fallback;\n  }\n}\n\nfunction normSymbol(v) {\n  return String(v ?? \"\").trim();\n}\n\nfunction stripSpaces(s) {\n  return String(s ?? \"\").replace(/[\\s\\u00A0\\u202F]/g, \"\");\n}\n\nfunction parseFrNumber(v) {\n  if (v === null || v === undefined || v === \"\") return null;\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : null;\n\n  const s0 = stripSpaces(v)\n    .replace(/EUR/gi, \"\")\n    .replace(/€/g, \"\")\n    .trim();\n\n  if (!s0) return null;\n\n  const s1 = s0.replace(/\\./g, \"\").replace(\",\", \".\");\n  const n = Number(s1);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction getRowNum(r) {\n  const n = Number(r?.row_number);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction normDbPath(v) {\n  return String(v ?? \"\").trim();\n}\n\nfunction loadConfig() {\n  const candidates = [\"PF.00 - Config\", \"PF.00\", \"Config\"];\n  for (const name of candidates) {\n    try {\n      const it = $items(name);\n      if (it?.length) return it[0].json ?? {};\n    } catch {}\n  }\n  return {};\n}\n\nconst cfg = loadConfig();\nconst rows = $input.all().map(i => i.json || {});\n\n// Group rows by portfolio DB path so each portfolio keeps its own cash/meta context.\nconst groups = new Map();\nfor (const r of rows) {\n  const dbPath = normDbPath(r.portfolio_db_path || r.db_path || cfg.portfolio_db_path);\n  const key = dbPath || \"__NO_DB__\";\n  if (!groups.has(key)) groups.set(key, []);\n  groups.get(key).push(r);\n}\n\nconst out = [];\n\nfor (const [dbPath, grpRows] of groups.entries()) {\n  const metaRow = grpRows.find(r => normSymbol(r.Symbol) === \"__META__\") || null;\n  const cashRow = grpRows.find(r => normSymbol(r.Symbol) === \"CASH_EUR\") || null;\n\n  const metaRowNumSrc = getRowNum(metaRow);\n  const cashRowNumSrc = getRowNum(cashRow);\n\n  const headerOffset = (metaRowNumSrc === 1) ? 1 : 0;\n  const metaRowNumber = (metaRowNumSrc ?? 1) + headerOffset;\n  const cashRowNumber = (cashRowNumSrc ?? 2) + headerOffset;\n\n  const initialCapitalEUR = metaRow ? parseFrNumber(metaRow.MarketValue) : 50000;\n  const cashMarketValueRaw = cashRow?.MarketValue ?? cashRow?.LastPrice ?? \"\";\n  const cashMarketValueEUR = parseFrNumber(cashMarketValueRaw);\n\n  const pf_ctx = {\n    portfolio_db_path: dbPath === \"__NO_DB__\" ? \"\" : dbPath,\n    headerOffset,\n    meta: {\n      row_number: metaRowNumber,\n      row_number_src: metaRowNumSrc,\n      UpdatedAt: metaRow?.UpdatedAt ?? null,\n      initialCapitalEUR,\n    },\n    cash: {\n      row_number: cashRowNumber,\n      row_number_src: cashRowNumSrc,\n      UpdatedAt: cashRow?.UpdatedAt ?? null,\n      MarketValueRaw: cashMarketValueRaw,\n      MarketValueEUR: cashMarketValueEUR,\n    },\n  };\n\n  const positions = grpRows.filter(r => {\n    const sym = normSymbol(r.Symbol);\n    if (!sym) return false;\n    if (sym === \"__META__\") return false;\n    if (sym === \"CASH_EUR\") return false;\n\n    const q = r.Quantity ?? r.qty;\n    return q !== null && q !== undefined && String(q).trim() !== \"\";\n  });\n\n  for (const r of positions) {\n    const rowNumSrc = getRowNum(r);\n    const rowNumSheet = rowNumSrc !== null ? (rowNumSrc + headerOffset) : null;\n\n    const symbol = normSymbol(r.Symbol);\n    const qty = parseFrNumber(r.Quantity ?? r.qty);\n    const avgPrice = parseFrNumber(r.AvgPrice ?? r.avgPrice);\n\n    out.push({\n      ...cfg,\n      ...r,\n      portfolio_db_path: dbPath === \"__NO_DB__\" ? (r.portfolio_db_path || cfg.portfolio_db_path || \"\") : dbPath,\n      pf_ctx,\n      row_number_src: rowNumSrc,\n      row_number: rowNumSheet ?? rowNumSrc,\n      symbol,\n      qty,\n      avgPrice,\n      Name: r.Name,\n      AssetClass: r.AssetClass,\n      Sector: r.Sector,\n      Industry: r.Industry,\n      ISIN: r.ISIN,\n    });\n  }\n}\n\nreturn out.map(j => ({ json: j }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f108",
      "name": "PF.02 - Normalize Positions"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f109",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.yfinance_api_base }}/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "max_bars",
              "value": "={{ $json.max_bars }}"
            },
            {
              "name": "min_bars",
              "value": "={{ $json.min_bars }}"
            },
            {
              "name": "lookback_days",
              "value": "={{ $json.lookback_days }}"
            },
            {
              "name": "allow_stale",
              "value": "={{ $json.allow_stale }}"
            },
            {
              "name": "interval",
              "value": "={{ $json.interval }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        112
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f110",
      "name": "PF.05A - Fetch Price 1D",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.yfinance_api_base }}/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "max_bars",
              "value": "={{ $json.max_bars }}"
            },
            {
              "name": "min_bars",
              "value": "={{ $json.min_bars }}"
            },
            {
              "name": "lookback_days",
              "value": "={{ $json.lookback_days }}"
            },
            {
              "name": "allow_stale",
              "value": "={{ $json.allow_stale }}"
            },
            {
              "name": "interval",
              "value": "1h"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        304
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f111",
      "name": "PF.05B - Fetch Price 1H",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// PF.05A - Wrap 1D response\nreturn $input.all().map((it) => {\n  const r = it.json ?? {};\n  return { json: { symbol: r.symbol, yf_1d: r } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        112
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f112",
      "name": "PF.05A - Wrap 1D"
    },
    {
      "parameters": {
        "jsCode": "// PF.05B - Wrap 1H response\nreturn $input.all().map((it) => {\n  const r = it.json ?? {};\n  return { json: { symbol: r.symbol, yf_1h: r } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        304
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f113",
      "name": "PF.05B - Wrap 1H"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "symbol",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2048,
        32
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f114",
      "name": "PF.06A - Merge (portfolio + 1D)"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "symbol",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2272,
        208
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f115",
      "name": "PF.06B - Merge (+ 1H)"
    },
    {
      "parameters": {
        "jsCode": "// PF.07 - Compute MTM (skip-safe)\n// Input: enriched portfolio item (row_number, qty/avgPrice, yf_1d, optional yf_1h)\n// Output: same fields + LastPrice / MarketValue / UnrealizedPnL + diagnostics + gs_update\n\nfunction safeNum(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction parseTime(t) {\n  const d = new Date(t);\n  const ms = d.getTime();\n  return Number.isFinite(ms) ? ms : null;\n}\n\nfunction extractLast(yf) {\n  if (!yf || typeof yf !== \"object\") return null;\n  if (yf.ok === false) return { ok: false, reason: yf.error || \"YF_OK_FALSE\" };\n\n  if (yf.last && typeof yf.last === \"object\") {\n    const price = safeNum(yf.last.c);\n    const tMs = parseTime(yf.last.t);\n    if (price != null) {\n      return {\n        ok: true,\n        price,\n        t: yf.last.t || null,\n        tMs,\n        interval: yf.interval || null,\n        source: yf.source || null,\n        stale: !!yf.stale,\n      };\n    }\n  }\n\n  if (Array.isArray(yf.bars) && yf.bars.length) {\n    const b = yf.bars[yf.bars.length - 1];\n    const price = safeNum(b?.c);\n    const tMs = parseTime(b?.t);\n    if (price != null) {\n      return {\n        ok: true,\n        price,\n        t: b.t || null,\n        tMs,\n        interval: yf.interval || null,\n        source: yf.source || null,\n        stale: !!yf.stale,\n      };\n    }\n  }\n\n  return { ok: false, reason: \"NO_LAST_PRICE_IN_PAYLOAD\" };\n}\n\nreturn $input.all().map((it) => {\n  const j = it.json ?? {};\n\n  const qty = safeNum(j.qty ?? j.Quantity);\n  const avgPrice = safeNum(j.avgPrice ?? j.AvgPrice);\n\n  const last1d = extractLast(j.yf_1d);\n  const last1h = extractLast(j.yf_1h);\n\n  let chosen = null;\n  if (last1h?.ok && last1d?.ok) {\n    if (last1h.tMs != null && last1d.tMs != null) {\n      chosen = (last1h.tMs >= last1d.tMs) ? { ...last1h, picked: \"1h\" } : { ...last1d, picked: \"1d\" };\n    } else {\n      chosen = { ...last1h, picked: \"1h\" };\n    }\n  } else if (last1h?.ok) {\n    chosen = { ...last1h, picked: \"1h\" };\n  } else if (last1d?.ok) {\n    chosen = { ...last1d, picked: \"1d\" };\n  }\n\n  const fallbackLastPrice = safeNum(j.LastPrice);\n  if (!chosen && fallbackLastPrice != null && fallbackLastPrice > 0) {\n    chosen = {\n      ok: true,\n      price: fallbackLastPrice,\n      t: j.asof || j.UpdatedAt || null,\n      tMs: parseTime(j.asof || j.UpdatedAt),\n      interval: \"fallback\",\n      source: \"portfolio_input\",\n      stale: true,\n      picked: \"fallback\",\n    };\n  }\n\n  const updatedAt = new Date().toISOString();\n\n  let mtm_ok = true;\n  let mtm_status = \"OK\";\n  let mtm_reason = null;\n\n  const price = chosen?.ok ? chosen.price : null;\n\n  if (qty == null || avgPrice == null) {\n    mtm_ok = false;\n    mtm_status = \"INVALID_INPUT\";\n    mtm_reason = \"Missing qty or avgPrice\";\n  } else if (price == null) {\n    mtm_ok = false;\n    mtm_status = \"NO_PRICE\";\n    mtm_reason = `No usable price from yf_1h/yf_1d (1h=${last1h?.reason || \"n/a\"}, 1d=${last1d?.reason || \"n/a\"})`;\n  }\n\n  const MarketValue = (mtm_ok ? qty * price : safeNum(j.MarketValue) ?? 0);\n  const UnrealizedPnL = (mtm_ok ? qty * (price - avgPrice) : safeNum(j.UnrealizedPnL) ?? 0);\n\n  const out = {\n    ...j,\n\n    LastPrice: mtm_ok ? price : (safeNum(j.LastPrice) ?? 0),\n    MarketValue,\n    UnrealizedPnL,\n    UpdatedAt: updatedAt,\n\n    mtm_ok,\n    mtm_status,\n    mtm_reason,\n    mtm_price: price,\n    mtm_price_picked: chosen?.picked || null,\n    mtm_price_asof: chosen?.t || null,\n    mtm_price_interval: chosen?.interval || null,\n    mtm_price_source: chosen?.source || null,\n    mtm_price_stale: chosen?.stale ?? null,\n\n    gs_update: {\n      row_number: j.row_number,\n      LastPrice: mtm_ok ? price : (safeNum(j.LastPrice) ?? 0),\n      MarketValue,\n      UnrealizedPnL,\n      UpdatedAt: updatedAt,\n    },\n  };\n\n  if (out.yf_1d?.bars) delete out.yf_1d.bars;\n  if (out.yf_1h?.bars) delete out.yf_1h.bars;\n\n  return { json: out };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        208
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f116",
      "name": "PF.07 - Compute MTM"
    },
    {
      "parameters": {
        "jsCode": "// PF.08 - Build DuckDB payloads\n// Input: items from PF.07 (1 item = 1 position with MTM)\n// Output: per-portfolio rows for PF.08B (DuckDB writer), plus placeholders when a portfolio has 0 positions\n\nfunction safeNum(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction safeNumOrNull(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction round2(v) {\n  const n = safeNum(v);\n  return Math.round((n + Number.EPSILON) * 100) / 100;\n}\n\nfunction makeFallbackRunId() {\n  const d = new Date();\n  const pad = (x) => String(x).padStart(2, \"0\");\n  return `PFMTM_${d.getUTCFullYear()}${pad(d.getUTCMonth() + 1)}${pad(d.getUTCDate())}${pad(d.getUTCHours())}${pad(d.getUTCMinutes())}${pad(d.getUTCSeconds())}`;\n}\n\nfunction safeJsonParse(v, fallback = null) {\n  try {\n    if (v == null || v === \"\") return fallback;\n    if (typeof v === \"object\") return v;\n    return JSON.parse(String(v));\n  } catch {\n    try {\n      const s = String(v ?? \"\");\n      if (s.includes(\";\")) {\n        return JSON.parse(s.replace(/;/g, \",\"));\n      }\n    } catch {}\n    return fallback;\n  }\n}\n\nfunction normPath(v) {\n  const s = String(v ?? \"\").trim();\n  return s || null;\n}\n\nfunction isLegacyAg1DbPath(v) {\n  const s = String(v ?? \"\").trim().toLowerCase().replace(/\\\\/g, \"/\");\n  return s.endsWith(\"/ag1_v2.duckdb\");\n}\n\nfunction normSymbol(v) {\n  return String(v ?? \"\").trim().toUpperCase();\n}\n\nfunction uniqPaths(arr) {\n  const out = [];\n  const seen = new Set();\n  for (const x of arr || []) {\n    const p = normPath(x);\n    if (!p) continue;\n    const k = p.toLowerCase();\n    if (seen.has(k)) continue;\n    seen.add(k);\n    out.push(p);\n  }\n  return out;\n}\n\nfunction getRowNum(r) {\n  const n = Number(r?.row_number);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction stripSpaces(s) {\n  return String(s ?? \"\").replace(/[\\s\\u00A0\\u202F]/g, \"\");\n}\n\nfunction parseFrNumber(v) {\n  if (v === null || v === undefined || v === \"\") return null;\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : null;\n  const s0 = stripSpaces(v).replace(/EUR/gi, \"\").replace(/â‚¬/g, \"\").trim();\n  if (!s0) return null;\n  const s1 = s0.replace(/\\./g, \"\").replace(\",\", \".\");\n  const n = Number(s1);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction safeNodeItems(nodeName) {\n  try {\n    return $items(nodeName).map((i) => i.json || {});\n  } catch {\n    return [];\n  }\n}\n\nfunction loadConfig() {\n  const candidates = [\"PF.00 - Config\", \"PF.00\", \"Config\"];\n  for (const name of candidates) {\n    const arr = safeNodeItems(name);\n    if (arr.length) return arr[0] || {};\n  }\n  return {};\n}\n\nfunction resolvePortfolioDbPaths(cfg, inItems, readRows) {\n  const arr1 = Array.isArray(cfg?.portfolio_db_paths) ? cfg.portfolio_db_paths : [];\n  const parsedJson = safeJsonParse(cfg?.portfolio_db_paths_json, null);\n  const arr2 = Array.isArray(parsedJson) ? parsedJson : [];\n  const csv = String(cfg?.portfolio_db_paths_csv ?? \"\").trim();\n  const arr3 = csv ? csv.split(/[;,]/).map((x) => x.trim()) : [];\n  const singles = [\n    cfg?.portfolio_db_path,\n    ...inItems.map((j) => j?.portfolio_db_path || j?.db_path),\n    ...readRows.map((r) => r?.portfolio_db_path || r?.db_path),\n  ];\n  const fallback = [\"/local-files/duckdb/ag1_v2_chatgpt52.duckdb\"];\n  return uniqPaths([...arr1, ...arr2, ...arr3, ...singles, ...fallback]).filter((p) => !isLegacyAg1DbPath(p));\n}\n\nfunction buildPfCtxFromRows(rows, dbPath) {\n  const metaRow = rows.find((r) => normSymbol(r.Symbol) === \"__META__\") || null;\n  const cashRow = rows.find((r) => normSymbol(r.Symbol) === \"CASH_EUR\") || null;\n\n  const metaRowNumSrc = getRowNum(metaRow);\n  const cashRowNumSrc = getRowNum(cashRow);\n  const headerOffset = (metaRowNumSrc === 1) ? 1 : 0;\n\n  const initialCapitalEUR = metaRow ? parseFrNumber(metaRow.MarketValue) : null;\n  const cashMarketValueRaw = cashRow?.MarketValue ?? cashRow?.LastPrice ?? \"\";\n  const cashMarketValueEUR = parseFrNumber(cashMarketValueRaw);\n\n  return {\n    portfolio_db_path: dbPath || \"\",\n    headerOffset,\n    meta: {\n      row_number: (metaRowNumSrc ?? 1) + headerOffset,\n      row_number_src: metaRowNumSrc,\n      UpdatedAt: metaRow?.UpdatedAt ?? null,\n      initialCapitalEUR,\n    },\n    cash: {\n      row_number: (cashRowNumSrc ?? 2) + headerOffset,\n      row_number_src: cashRowNumSrc,\n      UpdatedAt: cashRow?.UpdatedAt ?? null,\n      MarketValueRaw: cashMarketValueRaw,\n      MarketValueEUR: cashMarketValueEUR,\n    },\n  };\n}\n\nconst nowIso = new Date().toISOString();\nconst inItems = $input.all().map((i) => i.json || {});\nconst cfg = loadConfig();\nconst readRows = safeNodeItems(\"Read Portfolio\");\nconst fallbackRunId = makeFallbackRunId();\nconst sharedRunId =\n  String(inItems.find((j) => j?.run_id)?.run_id || cfg.run_id || fallbackRunId);\n\n// Build/collect per-portfolio context (cash/meta rows) from the raw portfolio reader first.\nconst readRowsByDb = new Map();\nfor (const r of readRows) {\n  const dbPath = normPath(r.portfolio_db_path || r.db_path || cfg.portfolio_db_path);\n  if (!dbPath) continue;\n  if (!readRowsByDb.has(dbPath)) readRowsByDb.set(dbPath, []);\n  readRowsByDb.get(dbPath).push(r);\n}\n\nconst ctxByDb = new Map();\nfor (const [dbPath, rows] of readRowsByDb.entries()) {\n  ctxByDb.set(dbPath, buildPfCtxFromRows(rows, dbPath));\n}\n\nfor (const j of inItems) {\n  const dbPath = normPath(j.portfolio_db_path || j.db_path || cfg.portfolio_db_path);\n  if (!dbPath) continue;\n  if (j?.pf_ctx && !ctxByDb.has(dbPath)) {\n    ctxByDb.set(dbPath, j.pf_ctx);\n  }\n}\n\nconst targetDbPaths = resolvePortfolioDbPaths(cfg, inItems, readRows);\nconst seenPositionDbs = new Set();\n\nconst positionUpdates = inItems\n  .filter((j) => j?.gs_update?.row_number != null)\n  .map((j) => {\n    const u = j.gs_update;\n    let primaryDbPath = normPath(j.portfolio_db_path || j.db_path || cfg.portfolio_db_path);\n    if (!primaryDbPath || isLegacyAg1DbPath(primaryDbPath)) {\n      primaryDbPath = \"/local-files/duckdb/ag1_v2_chatgpt52.duckdb\";\n    }\n    seenPositionDbs.add(primaryDbPath);\n    const pfCtx = j.pf_ctx || ctxByDb.get(primaryDbPath) || {};\n    const pfCash = pfCtx.cash || {};\n    const pfMeta = pfCtx.meta || {};\n    return {\n      row_number: u.row_number,\n      LastPrice: round2(u.LastPrice),\n      MarketValue: round2(u.MarketValue),\n      UnrealizedPnL: round2(u.UnrealizedPnL),\n      UpdatedAt: u.UpdatedAt || nowIso,\n\n      Name: j.Name ?? \"\",\n      AssetClass: j.AssetClass ?? \"\",\n      Sector: j.Sector ?? \"\",\n      Industry: j.Industry ?? \"\",\n\n      // Extra fields for DuckDB persistence node\n      Symbol: j.symbol || j.Symbol || \"\",\n      ISIN: j.ISIN || \"\",\n      Quantity: j.qty ?? j.Quantity ?? \"\",\n      AvgPrice: j.avgPrice ?? j.AvgPrice ?? \"\",\n      run_id: j.run_id || sharedRunId,\n      portfolio_db_path: primaryDbPath,\n      workflow_name: j.workflow_name || cfg.workflow_name || \"PF Portfolio MTM Updater (DuckDB-only, Multi AG1-V2)\",\n\n      mtm_ok: j.mtm_ok,\n      mtm_status: j.mtm_status,\n      mtm_reason: j.mtm_reason,\n      mtm_price_picked: j.mtm_price_picked,\n      mtm_price_asof: j.mtm_price_asof,\n\n      // Portfolio context persisted by PF.08B in DuckDB technical rows (per portfolio).\n      pf_cash_market_value: safeNum(pfCash.MarketValueEUR),\n      pf_cash_updated_at: pfCash.UpdatedAt || nowIso,\n      pf_initial_capital: safeNumOrNull(pfMeta.initialCapitalEUR),\n      pf_meta_updated_at: pfMeta.UpdatedAt || nowIso,\n    };\n  });\n\n// Ensure PF.08B can still persist CASH_EUR/__META__ for portfolios with zero equity rows.\nfor (const dbPath of targetDbPaths) {\n  if (seenPositionDbs.has(dbPath)) continue;\n  const pfCtx = ctxByDb.get(dbPath) || {};\n  const pfCash = pfCtx.cash || {};\n  const pfMeta = pfCtx.meta || {};\n  positionUpdates.push({\n    row_number: null,\n    LastPrice: 0,\n    MarketValue: 0,\n    UnrealizedPnL: 0,\n    UpdatedAt: nowIso,\n    Name: \"\",\n    AssetClass: \"\",\n    Sector: \"\",\n    Industry: \"\",\n    Symbol: \"\",\n    ISIN: \"\",\n    Quantity: \"\",\n    AvgPrice: \"\",\n    run_id: sharedRunId,\n    portfolio_db_path: dbPath,\n    workflow_name: cfg.workflow_name || \"PF Portfolio MTM Updater (DuckDB-only, Multi AG1-V2)\",\n    mtm_ok: true,\n    mtm_status: \"NO_POSITION_ROWS\",\n    mtm_reason: \"\",\n    mtm_price_picked: null,\n    mtm_price_asof: null,\n    pf_cash_market_value: safeNum(pfCash.MarketValueEUR),\n    pf_cash_updated_at: pfCash.UpdatedAt || nowIso,\n    pf_initial_capital: safeNumOrNull(pfMeta.initialCapitalEUR),\n    pf_meta_updated_at: pfMeta.UpdatedAt || nowIso,\n  });\n}\n\n// Safety net if no targets were resolved but PF.08 still executes.\nif (positionUpdates.length === 0) {\n  let primaryDbPath = normPath(cfg.portfolio_db_path);\n  if (!primaryDbPath || isLegacyAg1DbPath(primaryDbPath)) {\n    primaryDbPath = \"/local-files/duckdb/ag1_v2_chatgpt52.duckdb\";\n  }\n  positionUpdates.push({\n    row_number: null,\n    LastPrice: 0,\n    MarketValue: 0,\n    UnrealizedPnL: 0,\n    UpdatedAt: nowIso,\n    Name: \"\",\n    AssetClass: \"\",\n    Sector: \"\",\n    Industry: \"\",\n    Symbol: \"\",\n    ISIN: \"\",\n    Quantity: \"\",\n    AvgPrice: \"\",\n    run_id: sharedRunId,\n    portfolio_db_path: primaryDbPath,\n    workflow_name: cfg.workflow_name || \"PF Portfolio MTM Updater (DuckDB-only, Multi AG1-V2)\",\n    mtm_ok: true,\n    mtm_status: \"NO_POSITION_ROWS\",\n    mtm_reason: \"NO_TARGET_PORTFOLIO_ROWS_FOUND\",\n    mtm_price_picked: null,\n    mtm_price_asof: null,\n    pf_cash_market_value: 0,\n    pf_cash_updated_at: nowIso,\n    pf_initial_capital: null,\n    pf_meta_updated_at: nowIso,\n  });\n}\n\nreturn positionUpdates.map((o) => ({ json: o }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -160
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f117",
      "name": "PF.08 - Build DuckDB Payloads"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import gc\nimport json\nimport os\nimport re\nimport time\nfrom contextlib import contextmanager\nfrom datetime import datetime, timezone\n\nimport duckdb\n\nDEFAULT_DB_PATH = \"/local-files/duckdb/ag1_v2_chatgpt52.duckdb\"\nDEFAULT_WORKFLOW_NAME = \"PF Portfolio MTM Updater (DuckDB-only, Multi AG1-V2)\"\n\n\n@contextmanager\ndef db_con(path=DEFAULT_DB_PATH, retries=6, base_delay=0.25):\n    con = None\n    for attempt in range(retries):\n        try:\n            con = duckdb.connect(path)\n            break\n        except Exception as exc:\n            msg = str(exc).lower()\n            if (\"lock\" in msg or \"busy\" in msg) and attempt < retries - 1:\n                time.sleep(base_delay * (2 ** attempt))\n                continue\n            raise\n\n    try:\n        yield con\n    finally:\n        if con is not None:\n            try:\n                con.close()\n            except Exception:\n                pass\n        gc.collect()\n\n\ndef pick(*vals):\n    for v in vals:\n        if v is None:\n            continue\n        if isinstance(v, str) and v.strip() == \"\":\n            continue\n        return v\n    return None\n\n\ndef to_float(v):\n    if v is None:\n        return None\n    if isinstance(v, bool):\n        return float(v)\n    if isinstance(v, (int, float)):\n        return float(v)\n\n    s = str(v).strip()\n    if not s:\n        return None\n\n    s = (\n        s.replace(\"EUR\", \"\")\n        .replace(\"eur\", \"\")\n        .replace(\"â‚¬\", \"\")\n        .replace(\"\\u20ac\", \"\")\n        .replace(\" \", \"\")\n        .replace(\"\\u00a0\", \"\")\n        .replace(\"\\u202f\", \"\")\n    )\n\n    # French number support: 1 234,56 -> 1234.56\n    s = s.replace(\".\", \"\").replace(\",\", \".\") if (\",\" in s and \".\" in s) else s.replace(\",\", \".\")\n\n    try:\n        return float(s)\n    except Exception:\n        return None\n\n\ndef to_int(v):\n    if v is None or v == \"\":\n        return None\n    try:\n        return int(float(v))\n    except Exception:\n        return None\n\n\ndef to_text(v):\n    if v is None:\n        return \"\"\n    s = str(v)\n    return \"\" if s.lower() in (\"nan\", \"nat\", \"none\", \"null\") else s.strip()\n\n\ndef is_legacy_ag1_db_path(v):\n    s = to_text(v).lower().replace(\"\\\\\", \"/\")\n    return s.endswith(\"/ag1_v2.duckdb\")\n\n\ndef utc_now_iso():\n    return datetime.now(timezone.utc).isoformat()\n\n\ndef build_run_id(items):\n    for it in items:\n        j = (it or {}).get(\"json\", {}) or {}\n        rid = to_text(pick(j.get(\"run_id\"), j.get(\"pf_run_id\"), j.get(\"workflow_run_id\")))\n        if rid:\n            return rid\n    return \"PFMTM_\" + datetime.now(timezone.utc).strftime(\"%Y%m%d%H%M%S\")\n\n\ndef _parse_paths_candidate(v):\n    if v is None:\n        return []\n\n    if isinstance(v, (list, tuple, set)):\n        return [p for p in (to_text(x) for x in v) if p]\n\n    s = to_text(v)\n    if not s:\n        return []\n\n    if s.startswith(\"[\") and s.endswith(\"]\"):\n        try:\n            parsed = json.loads(s)\n            if isinstance(parsed, list):\n                return [p for p in (to_text(x) for x in parsed) if p]\n        except Exception:\n            pass\n\n    if \",\" in s or \";\" in s:\n        parts = [to_text(x).strip().strip('\"').strip(\"'\") for x in re.split(r\"[;,]\", s.strip().strip(\"[]\"))]\n        return [p for p in parts if p]\n\n    return [s]\n\n\ndef _dedupe_paths(paths):\n    out = []\n    seen = set()\n    for p in paths:\n        t = to_text(p)\n        if not t:\n            continue\n        key = t.lower()\n        if key in seen:\n            continue\n        seen.add(key)\n        out.append(t)\n    return out\n\n\ndef _path_alias_candidates(path_text):\n    p = to_text(path_text).replace(\"\\\\\", \"/\")\n    if not p:\n        return []\n    out = [p]\n    if p.startswith(\"/local-files/\"):\n        out.append(\"/files/\" + p[len(\"/local-files/\"):])\n    elif p.startswith(\"/files/\"):\n        out.append(\"/local-files/\" + p[len(\"/files/\"):])\n    return _dedupe_paths(out)\n\n\ndef _resolve_rw_db_path(path_text):\n    cands = _path_alias_candidates(path_text)\n    if not cands:\n        return DEFAULT_DB_PATH\n    for p in cands:\n        try:\n            if os.path.exists(p):\n                return p\n        except Exception:\n            pass\n    for p in cands:\n        try:\n            d = os.path.dirname(p)\n            if d and os.path.isdir(d):\n                return p\n        except Exception:\n            pass\n    return cands[0]\n\n\ndef group_items_by_db(items):\n    groups = {}\n    order = []\n    for it in items:\n        j = (it or {}).get(\"json\", {}) or {}\n        db_path = to_text(pick(j.get(\"portfolio_db_path\"), j.get(\"db_path\"), j.get(\"duckdb_path\"))) or DEFAULT_DB_PATH\n        if is_legacy_ag1_db_path(db_path):\n            # Ignore stale mono-DB target and force dedicated AG1-v2 default.\n            db_path = DEFAULT_DB_PATH\n        db_path = _resolve_rw_db_path(db_path)\n        if db_path not in groups:\n            groups[db_path] = []\n            order.append(db_path)\n        groups[db_path].append(it)\n    return groups, order\n\n\ndef pick_workflow_name(items):\n    for it in items:\n        j = (it or {}).get(\"json\", {}) or {}\n        name = to_text(j.get(\"workflow_name\"))\n        if name:\n            return name\n    return DEFAULT_WORKFLOW_NAME\n\n\ndef to_timestamp_candidate(v):\n    s = to_text(v)\n    return s or None\n\n\nSCHEMA_SQL = [\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS portfolio_positions_mtm_run_log (\n        run_id          VARCHAR PRIMARY KEY,\n        started_at      TIMESTAMP NOT NULL,\n        finished_at     TIMESTAMP,\n        status          VARCHAR DEFAULT 'RUNNING',\n        rows_in         INTEGER DEFAULT 0,\n        rows_written    INTEGER DEFAULT 0,\n        rows_error      INTEGER DEFAULT 0,\n        error_detail    VARCHAR,\n        source          VARCHAR DEFAULT 'PF_MTM',\n        workflow_name   VARCHAR\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS portfolio_positions_mtm_latest (\n        symbol              VARCHAR PRIMARY KEY,\n        row_number          INTEGER,\n        symbol_raw          VARCHAR,\n        name                VARCHAR,\n        asset_class         VARCHAR,\n        sector              VARCHAR,\n        industry            VARCHAR,\n        isin                VARCHAR,\n        quantity            DOUBLE,\n        avg_price           DOUBLE,\n        last_price          DOUBLE,\n        market_value        DOUBLE,\n        unrealized_pnl      DOUBLE,\n        updated_at          TIMESTAMP,\n        source_updated_at   VARCHAR,\n        run_id              VARCHAR,\n        ingested_at         TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n    \"\"\"\n    CREATE TABLE IF NOT EXISTS portfolio_positions_mtm_history (\n        id                  VARCHAR PRIMARY KEY,\n        run_id              VARCHAR NOT NULL,\n        symbol              VARCHAR NOT NULL,\n        row_number          INTEGER,\n        symbol_raw          VARCHAR,\n        name                VARCHAR,\n        asset_class         VARCHAR,\n        sector              VARCHAR,\n        industry            VARCHAR,\n        isin                VARCHAR,\n        quantity            DOUBLE,\n        avg_price           DOUBLE,\n        last_price          DOUBLE,\n        market_value        DOUBLE,\n        unrealized_pnl      DOUBLE,\n        updated_at          TIMESTAMP,\n        source_updated_at   VARCHAR,\n        ingested_at         TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n    )\n    \"\"\",\n    \"CREATE INDEX IF NOT EXISTS idx_pf_mtm_latest_updated_at ON portfolio_positions_mtm_latest(updated_at)\",\n    \"CREATE INDEX IF NOT EXISTS idx_pf_mtm_history_run ON portfolio_positions_mtm_history(run_id)\",\n    \"CREATE INDEX IF NOT EXISTS idx_pf_mtm_history_symbol ON portfolio_positions_mtm_history(symbol)\",\n]\n\n\ndef build_rows(items, run_id, now_iso):\n    rows = []\n\n    for it in items:\n        j = (it or {}).get(\"json\", {}) or {}\n\n        symbol_raw = to_text(pick(j.get(\"Symbol\"), j.get(\"symbol\")))\n        symbol = symbol_raw.upper()\n        if not symbol:\n            continue\n\n        # Position rows only; technical rows are persisted from shared context below.\n        if symbol in (\"CASH_EUR\", \"__META__\"):\n            continue\n\n        row_number = to_int(pick(j.get(\"row_number\"), j.get(\"rowNumber\"), j.get(\"row_number_src\")))\n\n        rows.append(\n            {\n                \"id\": f\"{run_id}|{symbol}|{row_number if row_number is not None else 0}\",\n                \"run_id\": run_id,\n                \"symbol\": symbol,\n                \"row_number\": row_number,\n                \"symbol_raw\": symbol_raw,\n                \"name\": to_text(pick(j.get(\"Name\"), j.get(\"name\"))),\n                \"asset_class\": to_text(pick(j.get(\"AssetClass\"), j.get(\"assetClass\"), j.get(\"asset_class\"))),\n                \"sector\": to_text(pick(j.get(\"Sector\"), j.get(\"sector\"))),\n                \"industry\": to_text(pick(j.get(\"Industry\"), j.get(\"industry\"))),\n                \"isin\": to_text(pick(j.get(\"ISIN\"), j.get(\"isin\"))),\n                \"quantity\": to_float(pick(j.get(\"Quantity\"), j.get(\"qty\"))),\n                \"avg_price\": to_float(pick(j.get(\"AvgPrice\"), j.get(\"avgPrice\"))),\n                \"last_price\": to_float(j.get(\"LastPrice\")),\n                \"market_value\": to_float(j.get(\"MarketValue\")),\n                \"unrealized_pnl\": to_float(j.get(\"UnrealizedPnL\")),\n                \"updated_at\": to_timestamp_candidate(pick(j.get(\"UpdatedAt\"), now_iso)),\n                \"source_updated_at\": to_text(pick(j.get(\"mtm_price_asof\"), j.get(\"UpdatedAt\"), now_iso)),\n            }\n        )\n\n    # Persist technical portfolio rows (cash + meta) from shared context.\n    shared = (items[0] or {}).get(\"json\", {}) or {}\n    cash_mv = to_float(pick(shared.get(\"pf_cash_market_value\"), shared.get(\"cash_market_value_eur\")))\n    cash_updated_at = to_timestamp_candidate(pick(shared.get(\"pf_cash_updated_at\"), now_iso))\n    initial_capital = to_float(pick(shared.get(\"pf_initial_capital\"), shared.get(\"initial_capital_eur\")))\n    meta_updated_at = to_timestamp_candidate(pick(shared.get(\"pf_meta_updated_at\"), now_iso))\n\n    if cash_mv is not None:\n        rows.append(\n            {\n                \"id\": f\"{run_id}|CASH_EUR|0\",\n                \"run_id\": run_id,\n                \"symbol\": \"CASH_EUR\",\n                \"row_number\": 0,\n                \"symbol_raw\": \"CASH_EUR\",\n                \"name\": \"Cash\",\n                \"asset_class\": \"Cash\",\n                \"sector\": \"Cash\",\n                \"industry\": \"Cash\",\n                \"isin\": \"\",\n                \"quantity\": 0.0,\n                \"avg_price\": 1.0,\n                \"last_price\": 1.0,\n                \"market_value\": cash_mv,\n                \"unrealized_pnl\": 0.0,\n                \"updated_at\": cash_updated_at,\n                \"source_updated_at\": to_text(cash_updated_at or now_iso),\n            }\n        )\n\n    if initial_capital is not None and initial_capital > 0:\n        rows.append(\n            {\n                \"id\": f\"{run_id}|__META__|0\",\n                \"run_id\": run_id,\n                \"symbol\": \"__META__\",\n                \"row_number\": 0,\n                \"symbol_raw\": \"__META__\",\n                \"name\": \"__META__\",\n                \"asset_class\": \"Meta\",\n                \"sector\": \"\",\n                \"industry\": \"\",\n                \"isin\": \"\",\n                \"quantity\": None,\n                \"avg_price\": None,\n                \"last_price\": None,\n                \"market_value\": initial_capital,\n                \"unrealized_pnl\": None,\n                \"updated_at\": meta_updated_at,\n                \"source_updated_at\": to_text(meta_updated_at or now_iso),\n            }\n        )\n\n    return rows\n\n\ndef write_rows_to_db(db_path, rows, rows_in, run_id, workflow_name):\n    rows_written = 0\n    rows_error = 0\n    error_detail = \"\"\n    status = \"SUCCESS\"\n\n    try:\n        with db_con(db_path) as con:\n            for stmt in SCHEMA_SQL:\n                con.execute(stmt)\n\n            con.execute(\n                \"\"\"\n                INSERT OR REPLACE INTO portfolio_positions_mtm_run_log\n                  (run_id, started_at, finished_at, status, rows_in, rows_written, rows_error, error_detail, source, workflow_name)\n                VALUES\n                  (?, CURRENT_TIMESTAMP, NULL, 'RUNNING', ?, 0, 0, '', 'PF_MTM', ?)\n                \"\"\",\n                [run_id, rows_in, workflow_name],\n            )\n\n            for row in rows:\n                try:\n                    con.execute(\n                        \"\"\"\n                        INSERT INTO portfolio_positions_mtm_latest\n                        (\n                            symbol, row_number, symbol_raw, name, asset_class, sector, industry, isin,\n                            quantity, avg_price, last_price, market_value, unrealized_pnl,\n                            updated_at, source_updated_at, run_id, ingested_at\n                        )\n                        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\n                        ON CONFLICT (symbol) DO UPDATE SET\n                            row_number        = excluded.row_number,\n                            symbol_raw        = excluded.symbol_raw,\n                            quantity          = excluded.quantity,\n                            avg_price         = excluded.avg_price,\n                            last_price        = excluded.last_price,\n                            market_value      = excluded.market_value,\n                            unrealized_pnl    = excluded.unrealized_pnl,\n                            updated_at        = excluded.updated_at,\n                            source_updated_at = excluded.source_updated_at,\n                            run_id            = excluded.run_id,\n                            ingested_at       = CURRENT_TIMESTAMP,\n                            name       = CASE WHEN excluded.name       IS NOT NULL AND excluded.name       <> '' THEN excluded.name       ELSE portfolio_positions_mtm_latest.name       END,\n                            asset_class= CASE WHEN excluded.asset_class IS NOT NULL AND excluded.asset_class <> '' THEN excluded.asset_class ELSE portfolio_positions_mtm_latest.asset_class END,\n                            sector     = CASE WHEN excluded.sector     IS NOT NULL AND excluded.sector     <> '' THEN excluded.sector     ELSE portfolio_positions_mtm_latest.sector     END,\n                            industry   = CASE WHEN excluded.industry   IS NOT NULL AND excluded.industry   <> '' THEN excluded.industry   ELSE portfolio_positions_mtm_latest.industry   END,\n                            isin       = CASE WHEN excluded.isin       IS NOT NULL AND excluded.isin       <> '' THEN excluded.isin       ELSE portfolio_positions_mtm_latest.isin       END\n                        \"\"\",\n                        [\n                            row[\"symbol\"], row[\"row_number\"], row[\"symbol_raw\"], row[\"name\"], row[\"asset_class\"],\n                            row[\"sector\"], row[\"industry\"], row[\"isin\"], row[\"quantity\"], row[\"avg_price\"],\n                            row[\"last_price\"], row[\"market_value\"], row[\"unrealized_pnl\"],\n                            row[\"updated_at\"], row[\"source_updated_at\"], row[\"run_id\"],\n                        ],\n                    )\n\n                    con.execute(\n                        \"\"\"\n                        INSERT OR REPLACE INTO portfolio_positions_mtm_history\n                        (\n                            id, run_id, symbol, row_number, symbol_raw, name, asset_class, sector, industry, isin,\n                            quantity, avg_price, last_price, market_value, unrealized_pnl,\n                            updated_at, source_updated_at, ingested_at\n                        )\n                        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)\n                        \"\"\",\n                        [\n                            row[\"id\"], row[\"run_id\"], row[\"symbol\"], row[\"row_number\"], row[\"symbol_raw\"],\n                            row[\"name\"], row[\"asset_class\"], row[\"sector\"], row[\"industry\"], row[\"isin\"],\n                            row[\"quantity\"], row[\"avg_price\"], row[\"last_price\"], row[\"market_value\"],\n                            row[\"unrealized_pnl\"], row[\"updated_at\"], row[\"source_updated_at\"],\n                        ],\n                    )\n\n                    rows_written += 1\n                except Exception as row_exc:\n                    rows_error += 1\n                    if not error_detail:\n                        error_detail = str(row_exc)[:900]\n\n            status = \"SUCCESS\" if rows_error == 0 else \"PARTIAL\"\n            con.execute(\n                \"\"\"\n                UPDATE portfolio_positions_mtm_run_log\n                SET\n                    finished_at = CURRENT_TIMESTAMP,\n                    status = ?,\n                    rows_written = ?,\n                    rows_error = ?,\n                    error_detail = ?\n                WHERE run_id = ?\n                \"\"\",\n                [status, rows_written, rows_error, error_detail, run_id],\n            )\n\n    except Exception as exc:\n        rows_error = max(rows_error, 1)\n        error_detail = str(exc)[:900]\n        status = \"FAILED\"\n\n    return {\n        \"db_path\": db_path,\n        \"status\": status,\n        \"rows_in\": rows_in,\n        \"rows_payload\": len(rows),\n        \"rows_written\": rows_written,\n        \"rows_error\": rows_error,\n        \"error_detail\": error_detail,\n    }\n\n\nitems = _items or []\nif not items:\n    return []\n\nrun_id = build_run_id(items)\nworkflow_name = pick_workflow_name(items)\nnow_iso = utc_now_iso()\n\ngroups, db_paths = group_items_by_db(items)\nrows_in_total = len(items)\n\ntarget_results = []\ntarget_result_by_db = {}\nfor target_db_path in db_paths:\n    group_items = groups.get(target_db_path, [])\n    rows = build_rows(group_items, run_id=run_id, now_iso=now_iso)\n    target_results.append(\n        write_rows_to_db(\n            db_path=target_db_path,\n            rows=rows,\n            rows_in=len(group_items),\n            run_id=run_id,\n            workflow_name=workflow_name,\n        )\n    )\n    target_result_by_db[target_db_path] = target_results[-1]\n\nrows_written_total = sum(int(r.get(\"rows_written\") or 0) for r in target_results)\nrows_error_total = sum(int(r.get(\"rows_error\") or 0) for r in target_results)\ntargets_ok = sum(1 for r in target_results if str(r.get(\"status\")) in (\"SUCCESS\", \"PARTIAL\"))\ntargets_failed = sum(1 for r in target_results if str(r.get(\"status\")) == \"FAILED\")\n\nerrors_compact = [f\"{r.get('db_path')}: {r.get('error_detail')}\" for r in target_results if r.get(\"error_detail\")]\nerror_detail_all = \" | \".join(errors_compact)[:1800] if errors_compact else \"\"\n\nout = []\nfor it in items:\n    j = (it or {}).get(\"json\", {}) or {}\n    jj = dict(j)\n    item_db_path = to_text(pick(j.get(\"portfolio_db_path\"), j.get(\"db_path\"), j.get(\"duckdb_path\"))) or DEFAULT_DB_PATH\n    item_res = target_result_by_db.get(item_db_path)\n    if item_res is None and target_results:\n        item_res = target_results[0]\n    if item_res is None:\n        item_res = {\n            \"db_path\": item_db_path,\n            \"rows_in\": 0,\n            \"rows_written\": 0,\n            \"rows_error\": 1,\n            \"error_detail\": \"No target result\",\n            \"status\": \"FAILED\",\n        }\n    jj[\"pf_duckdb_run_id\"] = run_id\n    jj[\"pf_duckdb_path\"] = item_res.get(\"db_path\", item_db_path)\n    jj[\"pf_duckdb_paths\"] = db_paths\n    jj[\"pf_duckdb_target_results\"] = target_results\n    jj[\"pf_duckdb_target_count\"] = len(db_paths)\n    jj[\"pf_duckdb_targets_ok\"] = targets_ok\n    jj[\"pf_duckdb_targets_failed\"] = targets_failed\n    jj[\"pf_duckdb_rows_in\"] = int(item_res.get(\"rows_in\") or 0)\n    jj[\"pf_duckdb_rows_in_total\"] = rows_in_total\n    # Legacy fields preserved (now mapped to the item's own portfolio DB target).\n    jj[\"pf_duckdb_rows_written\"] = int(item_res.get(\"rows_written\") or 0)\n    jj[\"pf_duckdb_rows_error\"] = int(item_res.get(\"rows_error\") or 0)\n    jj[\"pf_duckdb_error\"] = to_text(item_res.get(\"error_detail\"))\n    # Aggregate fields for multi-target observability.\n    jj[\"pf_duckdb_rows_written_total\"] = rows_written_total\n    jj[\"pf_duckdb_rows_error_total\"] = rows_error_total\n    jj[\"pf_duckdb_error_all\"] = error_detail_all\n    out.append({\"json\": jj})\n\nreturn out"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -160
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f118",
      "name": "PF.08B - Write Positions MTM DuckDB",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "PF workflow (refactored): read each AG1 portfolio from its dedicated DuckDB, compute MTM per position, then write MTM back to the same DuckDB (3 portfolios in one run).",
        "height": 220,
        "width": 900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -240
      ],
      "id": "f92de8a2-4f5a-4de6-a123-a7eb60a8f120",
      "name": "Note"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PF.00 - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "PF.00 - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.00 - Config": {
      "main": [
        [
          {
            "node": "Read Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Portfolio": {
      "main": [
        [
          {
            "node": "PF.02 - Normalize Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.02 - Normalize Positions": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "PF.08 - Build DuckDB Payloads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PF.05A - Fetch Price 1D",
            "type": "main",
            "index": 0
          },
          {
            "node": "PF.05B - Fetch Price 1H",
            "type": "main",
            "index": 0
          },
          {
            "node": "PF.06A - Merge (portfolio + 1D)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.05A - Fetch Price 1D": {
      "main": [
        [
          {
            "node": "PF.05A - Wrap 1D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.05B - Fetch Price 1H": {
      "main": [
        [
          {
            "node": "PF.05B - Wrap 1H",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.05A - Wrap 1D": {
      "main": [
        [
          {
            "node": "PF.06A - Merge (portfolio + 1D)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PF.06A - Merge (portfolio + 1D)": {
      "main": [
        [
          {
            "node": "PF.06B - Merge (+ 1H)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.05B - Wrap 1H": {
      "main": [
        [
          {
            "node": "PF.06B - Merge (+ 1H)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PF.06B - Merge (+ 1H)": {
      "main": [
        [
          {
            "node": "PF.07 - Compute MTM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.07 - Compute MTM": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PF.08 - Build DuckDB Payloads": {
      "main": [
        [
          {
            "node": "PF.08B - Write Positions MTM DuckDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "093ba1266e85fcaaa6abca411d9f7941951737b3920bfaa6e2db89226df2c82d"
  }
}
